{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace youtube=Phlu\Corporate\ViewHelpers\Youtube}


<div {attributes -> f:format.raw()}>

        <f:if condition="{image}">
            <f:then>
                <div class="box5" style="background-image:url('{media:uri.image(image:image,width:500,allowUpScaling:true,allowCropping:true)}')">
                    <media:image image="{image}" alt="" title="{title}" width="500" allowUpScaling="true" allowCropping="true" />
                </div>
            </f:then>
        </f:if>

</div>