{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace youtube=Phlu\Corporate\ViewHelpers\Youtube}


<div {attributes -> f:format.raw()}>
    <div class="box5">
        <f:if condition="{image}">
            <f:then>
                <media:image image="{image}" alt="" title="{title}"
                             width="500"
                             allowUpScaling="true" allowCropping="true" />
            </f:then>
        </f:if>
    </div>
</div>