{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace youtube=Phlu\Corporate\ViewHelpers\Youtube}


<div {attributes -> f:format.raw()}>

        <f:if condition="{image}">
            <f:then>
                <div class="box5">
                    <media:image async="true" image="{image}" alt="" title="{title}" width="500" allowUpScaling="true" allowCropping="true" />
                </div>
            </f:then>
        </f:if>

</div>