{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}


<div {attributes -> f:format.raw()}>
    <div class="box1">
        <p>
            «{neos:contentElement.editable(property: 'title', tag: 'span')}»
        </p>
        <div class="row bottomContent">
            <div class="col-xs-4 col-sm-3 col-md-6">
                <f:if condition="{image}">
                <f:then>
                    <media:image image="{image}" alt="" title="{title}"
                                 width="215"
                                 allowUpScaling="true" allowCropping="true" />
                </f:then>
            </f:if>

            </div>
            <div class="col-xs-4 col-md-6">{neos:contentElement.editable(property: 'text', tag: 'span')}</div>
        </div>

    </div>
</div>