{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace youtube=Phlu\Corporate\ViewHelpers\Youtube}



<div {attributes -> f:format.raw()}>
    <div class="box3">
        <f:if condition="youtube">
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/{youtube:getEmbededCode(url: youtube)}" frameborder="0" allowfullscreen></iframe>
        </f:if>
        <p>
            «{neos:contentElement.editable(property: 'title', tag: 'span')}»
        </p>
    </div>
</div>