
.startpage, .subpage {
  > .row {
    display: table;
    .sidebar {
      float: none;
      display: table-cell;
      vertical-align: top;
      .nav-spacer-top {
        height: 190px;
      }
      .form-control {
        margin-top: 0;
      }
      .navbar-brand {
        margin: 0;
        img {
          position: relative;
          top: -25px;
        }
      }
      .site-search-field {
        position: relative;
        top: -30px;
        height: 40px;
        i {
          margin-top: -23px;
          padding-right: 0px;
          right: -5px;
        }
      }
    }
    .main {
      float: none;
      display: table-cell;
      vertical-align: top;
      .contactperson {
        .row {
          .col-md-8 {
            float: right;
          }
        }
      }
      .subjectsfilternav {
        .nav-teaser-item {
          .phlu-teaser-caret-right {
            padding:0.46rem;
          }
        }
        .nav-pills {
          li {
              line-height: normal;
            a.nav-link {
              padding:15px 23px;
            }
          }
        }
      }
      > div.bluebg, > div.sephiabg {
        @include media-breakpoint-only("lg") {
          h2 {
            padding-top: 35px;
          }
        }
      }
    }
  }
}
.subpage {
  .main {
    > div > div {
      @include media-breakpoint-only("lg") {
        float: none;

      }
    }
  }
}
.breadcrumb-bottom {
  .sidebar {
    padding-bottom: 8px;
  }
}

body {
  .navbar {
    .navbar-toggler.open {
      color:black;
      &::after {
        margin-top:-6px;
      }
    }
  }
  .phlu-teaser {

    &.carousel {
      .carousel-indicators {
        li {
          color: white;
        }

      }
      .carousel-control {
        &.left {
          left: -60px;
        }
        &.right {
          right: -60px;
          left: auto;
        }
      }
    }
  }
  .footer {
    .col-xl-10 {
      float: right;
    }
    .col-xl-2 {
      .langnav {
        @include media-breakpoint-up("xl") {
          position: relative;
          top: -26px;
        }
      }
    }
    .sociallinks {
      @include media-breakpoint-up("xl") {
        margin-top: 84px;
      }
    }
    .footerLogoMobile {
      img {
        @include media-breakpoint-down("md") {
          position: relative;
          top: -38px;
        }
      }

    }
    .footerAddressLogoDesktop {
      .footerLogo {
        height: 100%;
      }
    }
    .copyright {
      @include media-breakpoint-down("md") {
        padding-top: 0;
      }
    }
  }
  .footer::after {
    opacity: 0.4;
  }
  #top-link-block {
    img {
      display: none;
    }
    .anchor-nav {
      i {
        margin-top: 2px;
      }
    }
  }
}
