{namespace media=Neos\Media\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}


<div class="row departments">
    <div class="col-xs-12">
        <h2>Abteilungen</h2>
        <div class="row subjectsfilternav">
            <div class="col-xs-12">
                <div class="row phlu-teaser navigation subpage">


                    <f:for each="{portrait:references(contact: contact)}" as="refs" iteration="iterator"
                           key="key">


                        <div class="col-xs-12 nav-teaser-item clickable">
                            <h3>
                                {key}
                            </h3>
                        </div>


                        <f:for each="{refs}" as="ref">
                            <div class="col-xs-12 nav-teaser-item clickable">
                                <div class="row">
                                    <div class="phlu-teaser-body col-xs-10">
                                        <h3>
                                            <neos:link.node node="{ref}">
                                                {ref.properties.title}
                                            </neos:link.node>
                                        </h3>
                                    </div>
                                    <div class="phlu-teaser-caret-right col-xs-2">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </f:for>


                    </f:for>
                </div>
            </div>
        </div>
    </div>
</div>
