{namespace neos=Neos\Neos\ViewHelpers}
{namespace phlu=Phlu\Corporate\ViewHelpers}
<div{attributes -> f:format.raw()} data-asset-count="{assetcount}">


<f:if condition="{asset}">

    <f:if condition="{customTitle}">
        <f:then>

            <f:if condition="{neos:rendering.inBackend()}">
                <f:then>
                    <div class="content-link-wrapper">

                        <div class="content-link-default-file content-link-{asset.mediatypeshortname}-file"
                             href="{f:if(condition: link, then: " {link}
                        ", else: "{f:uri.resource(resource: asset.resource)}")}" target="{asset.target}">
                        {neos:contentElement.editable(property: 'title',tag: 'span')} <span>{f:if(condition: asset.filedescription, then: "({asset.filedescription})", else: '')}</span>
                    </div>

                    </div>

                </f:then>
                <f:else>

                        <span class="content-link-wrapper"><a
                                class="content-link-default-file content-link-{asset.mediatypeshortname}-file"
                                href="{f:if(condition: link, then: " {link}", else: "{f:uri.resource(resource: asset.resource)}")}" target="{asset.target}">

                           <span>{f:if(condition: title, then: "{title -> f:format.raw()}", else: "{asset.title}")}</span>{f:if(condition: asset.filedescription, then: "<span>({asset.filedescription})</span>", else: "<span class='nofiledesc'></span>")}</a></span>

                </f:else>
            </f:if>


        </f:then>
        <f:else>
                            <span class="content-link-wrapper"><a
                                    class="content-link-default-file content-link-{asset.mediatypeshortname}-file"
                                    href="{f:if(condition: link, then: " {link}", else: "{f:uri.resource(resource: asset.resource)}")}" target="{asset.target}"><span>{f:if(condition: asset.title, then: "{asset.title}", else: "{asset.resource.filename}")}</span> {f:if(condition: asset.filedescription, then: "<span>({asset.filedescription})</span>", else: "<span class='nofiledesc'></span>")}</a></span>
        </f:else>
    </f:if>


</f:if>
</div>