{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}


<div class="row-fullwidth-content further-education-special-search" data-ng-controller="EventoFurtherEducationCtrl">
    <f:render partial="../../NodeTypes/Page/Section/Partials/furtherEducationFilters" arguments="{_all}"/>
    <div class="row">
        <div class="col-xs-12">
            <div class="row results-table">
                <div class="col-xs-12"
                     data-ng-show="isShowingResult()">


                    <!--<img src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/loading.svg')}"
                         alt="loading"
                         class="loadingIcon"
                         data-ng-if="!isLoadedFirst()"
                    />-->

                    <div class="resultsCount">
                        <h3 data-ng-bind="'Treffer '+ result.count()"></h3>
                    </div>

                    <f:render partial="furtherEducationList" arguments="{_all}"/>

                    <div class="row">
                        <div class="col-center">
                            <a data-ng-click="loadMore('#node-'+result.getIdentifier()+'-'+limit);"
                               class="btn loadMore"
                               data-ng-if="result.count() > limit">
                                <!--{{limitChunkSize}} -->
                                mehr anzeigen
                                <span>
                                    <span data-ng-bind="limit"></span>
                                    <span class="counter-divider">von</span>
                                    <span data-ng-bind="result.count()"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row-fullwidth-content ">
    <div class="row blackBgFullWidthTabs">
        <div class="col-xs-12">

            <ul class="nav nav-pills" role="tablist">
                <f:if condition="{WidgetGroupReferences.0}">
                    <li class="nav-item  ">
                        <a class="nav-link" data-toggle="pill" href="#focustopics" role="pill"
                           data-ng-click="tab['focustopics'] = true">
                            <span>Fokus- <br>themen</span>

                        </a>
                    </li>
                </f:if>
                <f:if condition="{WidgetGroupReferences.1}">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#latestoffers" role="pill"
                           data-ng-click="tab['latestoffers'] = true">
                            <span>Neueste <br>Angebote</span>
                        </a>
                    </li>
                </f:if>
                <f:if condition="{WidgetGroupReferences.2}">
                    <li class="nav-item  ">
                        <a class=" nav-link" data-toggle="pill" href="#recommendedoffers" role="pill"
                           data-ng-click="tab['recommendedoffers'] = true">
                            <span>Empfohlene <br>Angebote</span>
                        </a>
                    </li>
                </f:if>
                <f:if condition="{WidgetGroupReferences.3}">
                    <li class="nav-item  ">
                        <a class=" nav-link" data-toggle="pill" href="#lastminute" role="pill"
                           data-ng-click="tab['lastminute'] = true">
                            <span>Last <br>Minute</span>
                        </a>
                    </li>
                </f:if>
                <f:if condition="{WidgetGroupReferences.4}">
                    <li class="nav-item  ">
                        <a class=" nav-link" data-toggle="pill" href="#customoffers" role="pill"
                           data-ng-click="tab['customoffers'] = true">
                            <span>Kurse nach Mass <br>und Holkurse</span>
                        </a>
                    </li>
                </f:if>
                <f:if condition="{WidgetGroupReferences.5}">
                    <li class="nav-item  ">
                        <a class=" nav-link" data-toggle="pill" href="#lastvisit" role="pill"
                           data-ng-click="tab['lastvisit'] = true">
                            <span>Zuletzt <br>besucht</span>
                        </a>
                    </li>
                </f:if>
            </ul>


        </div>

    </div>


    <div class="row blackBgFullWidthContents filter-bar">

        <div class="col-xs-12">
            <div class="tab-content">
                <div class="result-panel tab-pane " id="focustopics" role="tabpanel">
                    <div data-ng-if="{f:if(condition: '{neos:rendering.inBackend()}',then:'1==1 ||')}tab['focustopics'] !== undefined">
                        <f:if condition="{WidgetGroupReferences.0}">
                            <ts:render path="defaultRenderer"
                                       context="{node: WidgetGroupReferences.0}"/>
                        </f:if>
                    </div>
                </div>
                <div class="result-panel tab-pane " id="latestoffers" role="tabpanel">
                    <div data-ng-if="{f:if(condition: '{neos:rendering.inBackend()}',then:'1==1 ||')}tab['latestoffers'] !== undefined">
                        <f:if condition="{WidgetGroupReferences.1}">
                            <ts:render path="defaultRenderer"
                                       context="{node: WidgetGroupReferences.1}"/>
                        </f:if>
                    </div>
                </div>
                <div class="result-panel tab-pane " id="recommendedoffers" role="tabpanel">
                    <div data-ng-if="{f:if(condition: '{neos:rendering.inBackend()}',then:'1==1 ||')}tab['recommendedoffers'] !== undefined">
                        <f:if condition="{WidgetGroupReferences.2}">
                            <ts:render path="defaultRenderer"
                                       context="{node: WidgetGroupReferences.2}"/>
                        </f:if>
                    </div>
                </div>
                <div class="result-panel tab-pane " id="lastminute" role="tabpanel">
                    <div data-ng-if="{f:if(condition: '{neos:rendering.inBackend()}',then:'1==1 ||')}tab['lastminute'] !== undefined">
                        <f:if condition="{WidgetGroupReferences.3}">
                            <ts:render path="defaultRenderer"
                                       context="{node: WidgetGroupReferences.3}"/>
                        </f:if>
                    </div>
                </div>
                <div class="result-panel tab-pane " id="customoffers" role="tabpanel">
                    <div data-ng-if="{f:if(condition: '{neos:rendering.inBackend()}',then:'1==1 ||')}tab['customoffers'] !== undefined">
                        <f:if condition="{WidgetGroupReferences.4}">
                            <ts:render path="defaultRenderer"
                                       context="{node: WidgetGroupReferences.4}"/>
                        </f:if>
                    </div>
                </div>
                <div class="result-panel tab-pane " id="lastvisit" role="tabpanel">
                    <div data-ng-if="{f:if(condition: '{neos:rendering.inBackend()}',then:'1==1 ||')}tab['lastvisit'] !== undefined"
                         data-ng-controller="EventoLastVisitedCtrl" data-ng-show="countVisitedNodes()">

                        <f:if condition="{WidgetGroupReferences.5}">
                            <ts:render path="defaultRenderer"
                                       context="{node: WidgetGroupReferences.5}"/>
                        </f:if>

                    </div>
                </div>

            </div>

        </div>


    </div>

    <f:if condition="{carouselnews}">
        <div class="row bluebg furtherEducationNews" id="aktuelles">
            <div class="col-xs-12">
                <f:if condition="{carouselnews}">
                    <ts:render path="defaultRenderer" context="{node: carouselnews}"/>
                </f:if>
            </div>
        </div>
    </f:if>

</div>

<div class="row contactperson further-education-special-search">
    <div class="col-xs-12">
        <h2>Kontakt</h2>

        <div class="row">
            <div class="col-xs-12">

                <address>
                    Pädagogische Hochschule Luzern<br>
                    <div class="contactperson-role">
                        Weiterbildung
                    </div>
                    Frohburgstrasse 3<br>
                    Postfach 3668<br>
                    6005 Luzern
                </address>
                <address>
                    <div class="telephone">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        041 228 54 93<br>
                    </div>
                    <a class="content-link-email-contact-person"
                       href="mailto:weiterbildung@phlu.ch">weiterbildung@phlu.ch</a><br>
                    <ul class="social">
                        <li><a class="content-link-external blog" target="_blank" href="http://blog.phlu.ch/weiterbildung/">Blog</a></li>
                        <li><neos:link.node node="node://aef8873c-cf3e-4469-9591-313a9cdc633a" class="content-link-external map">Standort</neos:link.node></li>
                    </ul>
                </address>
            </div>
        </div>
    </div>
</div>


