<form class="phlu-nl-registration-form layout_form cr_form cr_font" action="http://mailing.phlu.ch/f/67402-170463/wcs/" method="post"
      target="_blank">
    <div class="cr_body cr_page cr_font formbox">
        <div class='non_sortable'>

        </div>

        <div class='editable_content'>
            <div id="3548233" rel="email" class="cr_ipe_item ui-sortable musthave">
                <!-- <label for="text3548233" class="itemname">E-Mail*</label> -->
                <input class="c-input form-control" id="text3548233" name="email" value="" type="text" placeholder="E-Mail *"/>
            </div>
            <div id="3606713" rel="subunsub" class="cr_ipe_item ui-sortable cr_noedit">
                <label class="itemname"></label>
                <div>



                    <div class="radio-btn">
                        <input id="3606713-1" name="cr_subunsubscribe" type="radio" value="true" checked>
                        <label for="3606713-1">Anmelden</label>
                        <input id="3606713-2" name="cr_subunsubscribe" type="radio" value="false">
                        <label for="3606713-2">Abmelden</label>
                    </div>


                </div>
            </div>
            <div id="3548235" rel="button" class="cr_ipe_item ui-sortable submit_container">
                <button type="submit" class="cr_button btn btn-default">Senden</button>
            </div>
        </div>

    </div>

</form>