<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="neos-contentcollection">

            <div class="phlu-corporate-section" data-prev="empty">

                <div class="neos-contentcollection">
                    <h3 class="phlu-corporate-headline" data-next="phlu-corporate-text" data-prev="empty">

                        <span>Erstellungsprozess</span>
                    </h3>
                    <div class="phlu-corporate-text" data-next="phlu-corporate-text"
                         data-prev="phlu-corporate-headline">
                        <div>
                            <ul>
                                <li>Eingaben bis Ende September werden Ende Oktober ausgeliefert</li>
                                <li>Eingaben bis Ende Januar werden Ende Februar ausgeliefert</li>
                                <li>Eingaben bis Ende Mai werden Ende Juni ausgeliefert.<br></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <iframe class="iframe-external-visitenkarten-form" src="https://vk.phz.bag.ch/vk_bestellung" frameborder="0"
                width="auto" height="auto"></iframe>
    </div>
</div>
