{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace phlu=PHLU\Neos\NodeTypes\ViewHelpers}

<div {attributes -> f:format.raw()}>


    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a href="#" data-toggle="collapse"
                   data-target="#accordeon-{node.Identifier}"
>                    {neos:contentElement.editable(property: 'title', tag: 'span')}
                </a>
            </h4>
        </div>

        <div id="accordeon-{node.Identifier}"
             class="panel-collapse collapse"
             role="tab" >

            <ts:render path="collectionRenderer" context="{node: main}"/>
        </div>

    </div>

</div>
