{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}

<f:if condition="{isHidden}">
    <f:then>
        <div class="row contactperson">
        </div>
    </f:then>
    <f:else>

        <div class="row lightgreybg contactperson" id="contactperson">
            <div class="col-xs-12">
                <h2>Kontakt</h2>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-9">

                        <address>
                            <div class="contactperson-role">
                                <f:if condition="{node.properties.functionCustom}">
                                    <f:then>
                                        {node.properties.functionCustom}<br>
                                    </f:then>
                                    <f:else>
                                        {node.properties.function}<br>
                                    </f:else>
                                </f:if>
                            </div>
                            {node.properties.firstname} {node.properties.lastname}
                            <f:if condition="{node.properties.firstname} != ''">
                                <f:then><br></f:then>
                                <f:else>
                                    <f:if condition="{node.properties.lastname} != ''"><br></f:if>
                                </f:else>
                            </f:if>
                            <f:if condition="{node.properties.titlename} != ''">{node.properties.titlename}<br></f:if>
                            {node.properties.street}<br>
                            <f:if condition="{node.properties.street2} != ''">{node.properties.street2}<br></f:if>
                            {node.properties.zip} {node.properties.city}
                        </address>
                        <address>
                            <div class="telephone">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a class="tel" tabIndex="-1"
                                   href="tel:{node.properties.phone}">{node.properties.phone}</a>
                                <br>
                            </div>
                            <a class="content-link-email-contact-person" href="mailto:{node.properties.email}">{node.properties.email}</a><br>
                            <portrait:link node="{node}">Portrait</portrait:link>
                        </address>
                    </div>


                    <f:if condition="{node.properties.image}">
                        <f:then>
                            <f:if condition="{node.properties.image}">
                                <div class="col-xs-12 col-sm-6 flexfirst col-md-3">
                                    <media:image async="true" image="{image}" class="img-fluid" width="280" allowCropping="true"
                                                 alt=""/>
                                </div>
                            </f:if>
                        </f:then>
                    </f:if>


                </div>

            </div>
        </div>
    </f:else>
</f:if>
