{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}

<f:if condition="{isHidden}">
    <f:then>
        <div class="row contactperson">
        </div>
    </f:then>
    <f:else>

        <div class="row lightgreybg contactperson" id="contactperson">
            <div class="col-xs-12">
                <h2>Kontakt</h2>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-9">
                        <address>
                                <f:if condition="{node.properties.functionCustom}">
                                    <f:then>
                                        <div class="contactperson-role">
                                            {node.properties.functionCustom}<br>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{node.properties.function}">
                                            <div class="contactperson-role">
                                                {node.properties.function}<br>
                                            </div>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            {node.properties.firstname} {node.properties.lastname}
                            <f:if condition="{node.properties.firstname} != ''">
                                <f:then><br></f:then>
                                <f:else>
                                    <f:if condition="{node.properties.lastname} != ''"><br></f:if>
                                </f:else>
                            </f:if>
                            <f:if condition="{node.properties.titlename} != ''">{node.properties.titlename}<br></f:if>
                            <f:if condition="{node.properties.street} != ''">{node.properties.street}<br></f:if>
                            <f:if condition="{node.properties.street2} != ''">{node.properties.street2}<br></f:if>
                            <f:if condition="{node.properties.city} != ''">{node.properties.zip}
                                {node.properties.city}<br>
                            </f:if>
                            <f:if condition="{node.properties.phone} != ''">
                                <div class="telephone">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <a class="tel" tabIndex="-1"
                                       href="tel:{node.properties.phone}">{node.properties.phone}</a>
                                    <br>
                                </div>
                            </f:if>
                            <f:if condition="{node.properties.email} != ''">
                                <a class="content-link-email-contact-person {f:if(condition:'{node.properties.phone}', then:'', else:'no-phone')}" href="mailto:{node.properties.email}">{node.properties.email}<br></a>
                            </f:if>
                            <portrait:link node="{node}">Portrait</portrait:link>
                        </address>
                    </div>

                    <f:if condition="{image}">
                        <f:then>
                            <f:if condition="{image}">
                                <div class="col-xs-6 col-sm-6 flexfirst col-md-3">
                                    <f:if condition="{image.resource}">
                                        <f:then>
                                            <img src="{f:uri.resource(resource: image.resource)}" class="contact-image"
                                                 width="280">
                                        </f:then>
                                    </f:if>
                                </div>
                            </f:if>
                        </f:then>
                    </f:if>


                </div>

            </div>
        </div>
    </f:else>
</f:if>
