{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}

<div {attributes -> f:format.raw()}>

    <f:if condition="{contactGroupsCount}>1">
        <f:then>
            {neos:contentElement.editable(property: 'title', tag: 'h3')}
        </f:then>
        <f:else>
            <f:if condition="{neos:rendering.inBackend()}">
                <div class="backend-helper neos"><i class=" {node.nodeType.fullConfiguration.ui.icon}"></i>
                    {neos:contentElement.editable(property: 'title', tag: 'h3')}
                </div>
            </f:if>
        </f:else>
    </f:if>

    <ts:render path="collectionRenderer" context="{node: main}"/>

</div>
