{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}


<div {attributes -> f:format.raw()}>
    <f:if condition="{isHidden}">
        <f:else>
            <div class=" panel-heading" role="tab" id="tab-{node.Identifier}" data-toggle="collapse"
                 data-parent="#accordeon-{wrapperNode.Identifier}"
                 data-target="#collapse-{node.Identifier}" aria-expanded="false">


                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-5 col-lg-4 ">
                        {node.properties.firstname} {node.properties.lastname}
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-5  ">
                        {node.properties.function}
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-3 telephone email">
                            {node.properties.phone}
                        <a href="mailto:{node.properties.email}" class="panel-email" alt="Email">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                    </div>


                </div>


            </div>

            <div id="collapse-{node.Identifier}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="tab-{node.Identifier}">

                <div class="row panel-body">
                    <f:if condition="{node.properties.image}">
                        <f:then>
                            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                                <media:image image="{node.properties.image}" class="img-fluid"
                                             alt="{node.properties.firstname} {node.properties.lastname}" width="400"
                                             maximumWidth="100" height="300" maximumHeight="300"
                                             allowUpScaling="false"/>
                            </div>
                        </f:then>
                    </f:if>
                    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
                        <address>
                        <f:if condition="{node.properties.image}">
                            <f:then>
                                    {node.properties.firstname} {node.properties.lastname}<br>
                            </f:then>
                        </f:if>
                            <f:if condition="{node.properties.titlename} != ''">{node.properties.titlename}<br></f:if>
                            <span>{node.properties.street}<br></span>
                            <f:if condition="{node.properties.street2} != ''"><br>{node.properties.street2}<br></f:if>
                            {node.properties.zip} {node.properties.city}
                            <br>
                                <a href="mailto:{node.properties.email}" class="panel-email" alt="Email">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    {node.properties.email}
                                </a>
                            <br>
                                <portrait:link node="{node}">Portrait</portrait:link>

                        </address>

                    </div>
                </div>

            </div>



        </f:else>
    </f:if>
</div>