{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}


<div {attributes -> f:format.raw()}>
    <f:if condition="{isHidden}">
        <f:else>
            <div class=" panel-heading" role="tab" id="tab-{node.Identifier}" data-toggle="collapse"
                 data-parent="#node-{wrapperNode.Identifier}"
                 data-target="#collapse-{node.Identifier}" aria-expanded="false">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        {node.properties.firstname} {node.properties.lastname}

                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-5">
                        <span class="panel-contact-function">
                            <f:if condition="{node.properties.functionCustom}">
                                <f:then>
                                    <f:format.crop maxCharacters="31" append="...">{node.properties.functionCustom}</f:format.crop><br>
                                </f:then>
                                <f:else>
                                <f:format.crop maxCharacters="31" append="...">{node.properties.function}</f:format.crop><br>
                                </f:else>
                            </f:if>

                        </span>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 panel-infos">
                        <span class="panel-telephone">
                            {node.properties.phone}
                        </span>
                        <a href="mailto:{node.properties.email}" class="panel-email" alt="Email">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                        <a class="panel-switch" href="#" alt="panel-switch">
                            &nbsp;</a>

                    </div>
                </div>
            </div>

            <div id="collapse-{node.Identifier}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="tab-{node.Identifier}">

                <div class="row panel-body">
                    <f:if condition="{image}">
                        <f:then>
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <media:image async="true" image="{image}" class="img-fluid"
                                             alt="{node.properties.firstname} {node.properties.lastname}" width="400"
                                             maximumWidth="400" height="300" maximumHeight="300"
                                             allowUpScaling="true"/>
                            </div>
                        </f:then>
                    </f:if>
                    <div class="col-xs-12 col-sm-9 col-md-10 address-block-small">
                        <f:render partial="Adressblock" arguments="{_all}"/>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
</div>