{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace portrait=PHLU\Corporate\ViewHelpers\Portrait}

<div {attributes -> f:format.raw()}>

    <div class=" panel-heading" role="tab" id="tab-{node.Identifier}" data-toggle="collapse"
         data-parent="#accordion-{wrapperNode.Identifier}"
         data-target="#collapse-{node.Identifier}" aria-expanded="false">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {node.properties.firstname} {node.properties.lastname}
            </div>
            <div class="col-sm-4 col-xs-10">
                {node.properties.phone}
            </div>
            <div class="col-sm-2 col-xs-2">
                <a href="mailto:{node.properties.email}" class="panel-email">&nbsp;</a>
                <a class="panel-switch" href="#">&nbsp;</a>
            </div>
        </div>
    </div>

    <div id="collapse-{node.Identifier}" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="tab-{node.Identifier}">

        <div class="row panel-body">
            <div class="col-xs-12 col-sm-2">
                <f:if condition="{node.properties.image}">
                    <f:then>
                        <media:image asset="{node.properties.image}" class="img-fluid"
                                     alt="{node.properties.firstname} {node.properties.lastname}" width="400"
                                     maximumWidth="400" height="300" maximumHeight="300" allowUpScaling="false"/>
                    </f:then>
                </f:if>
            </div>
            <div class="col-xs-12 col-sm-10">
                <f:render partial="Adressblock" arguments="{_all}"/>
            </div>
        </div>

    </div>

</div>