{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace portrait=PHLU\Corporate\ViewHelpers\Portrait}

<f:if condition="{isHidden}">
    <f:else>
        <div class="col-xs-12">
            <div class="row">


                <f:if condition="{node.properties.image}">
                    <f:then>
                        <div class="col-xs-12 col-sm-6 flexfirst col-md-4">
                            <f:if condition="{node.properties.image}">
                                <media:image class="img-fluid" asset="{node.properties.image}"
                                             alt="{node.properties.firstname} {node.properties.lastname}"
                                             title="{title}" width="{width}" maximumWidth="{maximumWidth}"
                                             height="{height}" maximumHeight="{maximumHeight}"
                                             allowUpScaling="{allowUpScaling}"/>
                            </f:if>
                        </div>
                    </f:then>
                </f:if>


                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="contactperson-role">
                        {node.properties.function}
                    </div>

                    <f:render partial="Adressblock" arguments="{_all}"/>


                </div>

            </div>
        </div>
    </f:else>
</f:if>