{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}


<f:if condition="{isHidden}">
    <f:else>
        <div class="col-xs-12">
            <div class="row">

                <f:if condition="{node.properties.image}">
                    <f:then>
                        <div class="col-xs-12 col-sm-6 flexfirst col-md-4">
                            <f:if condition="{node.properties.image}">
                                <media:image class="img-fluid" image="{node.properties.image}"
                                             alt="{node.properties.firstname} {node.properties.lastname}"
                                             title="{title}" width="{width}" maximumWidth="{maximumWidth}"
                                             height="{height}" maximumHeight="{maximumHeight}"
                                             allowUpScaling="{allowUpScaling}"/>
                            </f:if>
                        </div>
                    </f:then>
                </f:if>


                <div class="col-xs-12 col-sm-6 col-md-8">
                    <f:if condition="{node.properties.function} != ''">
                    <div class="contactperson-role">
                        <f:if condition="{node.properties.functionCustom}">
                            <f:then>
                                <strong>{node.properties.functionCustom}</strong><br>
                            </f:then>
                            <f:else>
                                <strong>{node.properties.function}</strong><br>
                            </f:else>
                        </f:if>

                    </div>
                    </f:if>
                    <f:render partial="Adressblock" arguments="{_all}"/>
                </div>

            </div>
        </div>
    </f:else>
</f:if>