{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace portrait=PHLU\Corporate\ViewHelpers\Portrait}


    <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-sm-6 flexfirst col-md-4">

                <f:if condition="{node.properties.image}">
                    <f:then>
                        <f:if condition="{node.properties.image}">
                            <media:image class="img-fluid" asset="{node.properties.image}" alt="{node.properties.firstname} {node.properties.lastname}" title="{title}" width="{width}" maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}" allowUpScaling="{allowUpScaling}" />
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="img-fluid" style="height:330px" />
                    </f:else>
                </f:if>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="contactperson-role">
                    {node.properties.function}
                </div>


                <f:render partial="Adressblock" arguments="{_all}"/>




            </div>

        </div>
    </div>
