{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}
{namespace resource=Phlu\Corporate\ViewHelpers\Resource}

<f:if condition="{isHidden}">
    <f:else>

        <div class="col-xs-12 col-md-6 nav-teaser-item">
            <div class="row">
                <div class="phlu-teaser-body {f:if(condition: image, then:'col-xs-8', else:'col-xs-12')}">
                    <address>
                        <f:if condition="{node.properties.functionCustom}">
                            <f:then>
                                <span class="contactperson-role">
                                    <b>{node.properties.functionCustom}</b><br>
                                </span>
                            </f:then>
                            <f:else>
                                <f:if condition="{function}">
                                    <span class="contactperson-role">
                                        <b>{function}</b><br>
                                    </span>
                                </f:if>
                            </f:else>
                        </f:if>
                        <f:if condition="{fullnameLength} !== ''">
                            <span class="person-fullname">
                                {fullname}<br>
                            </span>
                        </f:if>
                        <f:if condition="{titlename}">
                            <span class="titlename">
                                {titlename}<br>
                            </span>
                        </f:if>

                        <f:if condition="{street}">
                            <f:if condition="{street} !== ''">
                                {street}<br>
                            </f:if>
                        </f:if>
                        <f:if condition="{street2}">
                            <f:if condition="{street2} !== ''">
                                {street2}<br>
                            </f:if>
                        </f:if>
                        <f:if condition="{city}">
                            <f:if condition="{city} !== ''">
                                {zip} {city}<br>
                            </f:if>
                        </f:if>
                        <f:if condition="{phone}">
                            <f:if condition="{phone} !== ''">
                                <div class="telephone">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    {phone}
                                </div>
                            </f:if>
                        </f:if>
                        <f:if condition="{email}">
                            <f:if condition="{email} !== ''">
                                <div class="email">
                                    <a class="content-link-email-contact-person"
                                       href="mailto:{email}">{email}</a>
                                </div>
                            </f:if>
                        </f:if>
                        <div class="portrait">
                            <portrait:link node="{node}" eventoId="{eventoId}"
                                           target="top">
                                Portrait
                            </portrait:link>
                        </div>
                    </address>
                </div>
                <f:if condition="{image}">
                    <div class="phlu-teaser-caret-right col-xs-4">
                        <f:if condition="{image.resource}">
                            <f:then>
                                <img src="{f:uri.resource(resource: image.resource)}" class="contact-image img-fluid" width="100">
                            </f:then>
                        </f:if>
                    </div>
                </f:if>
            </div>
        </div>
    </f:else>
</f:if>