{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}
{namespace resource=Phlu\Corporate\ViewHelpers\Resource}

<f:if condition="{isHidden}">
    <f:else>

        <div class="col-xs-12 col-md-6 nav-teaser-item">
            <div class="row">
                <div class="phlu-teaser-body col-xs-8">
                    <address>
                        <f:if condition="{function} == ''">
                            <f:then>
                                <b>{fullname}</b>
                            </f:then>
                            <f:else>
                                <b>{function}</b><br>
                                {fullname}
                            </f:else>
                        </f:if>
                        <div class="telephone">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            {phone}<br>
                        </div>
                        <a class="content-link-email-contact-person"
                           href="mailto:{participant.email}">{email}</a><br>
                        <portrait:link node="{node}" eventoId="{eventoId}"
                                       target="top">
                            Portrait
                        </portrait:link>
                    </address>
                </div>
                <div class="phlu-teaser-caret-right col-xs-4">
                    <f:if condition="{image}">
                        <media:image
                                image="{image}"
                                class="img-fluid"
                                alt="{participant.name}" height="133" width="100" allowCropping="true"
                                allowUpScaling="true"/>
                    </f:if>
                </div>
            </div>
        </div>
    </f:else>
</f:if>