{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}
{namespace resource=Phlu\Corporate\ViewHelpers\Resource}

<f:if condition="{isHidden}">
    <f:else>

        <div class="col-xs-12 col-md-6 nav-teaser-item">
            <div class="row">
                <div class="phlu-teaser-body {f:if(condition: image, then:'col-xs-8', else:'col-xs-12')}">
                    <address>
                        <f:if condition="{function} == ''">
                            <f:then>
                                <b>{fullname}</b>
                            </f:then>
                            <f:else>
                                <b>{function}</b><br>
                                {fullname}
                            </f:else>
                        </f:if>
                        <f:if condition="{street}">
                            <f:if condition="{street} !== ''">
                                <br>{street}
                            </f:if>
                        </f:if>
                        <f:if condition="{street2}">
                            <f:if condition="{street2} !== ''">
                                <br>{street2}
                            </f:if>
                        </f:if>
                        <f:if condition="{city}">
                            <f:if condition="{city} !== ''">
                                <br>{zip} {city}
                            </f:if>
                        </f:if>
                        <f:if condition="{phone}">
                            <f:if condition="{phone} !== ''">
                                <div class="telephone">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    {phone}
                                </div>
                            </f:if>
                        </f:if>
                        <f:if condition="{email}">
                            <f:if condition="{email} !== ''">
                                <div class="email">
                                    <a class="content-link-email-contact-person"
                                       href="mailto:{participant.email}">{email}</a>
                                </div>
                            </f:if>
                        </f:if>
                        <div class="portrait">
                            <portrait:link node="{node}" eventoId="{eventoId}"
                                           target="top">
                                Portrait
                            </portrait:link>
                        </div>
                    </address>
                </div>
                <f:if condition="{image}">
                    <div class="phlu-teaser-caret-right col-xs-4">
                        <media:image
                                image="{image}"
                                class="img-fluid"
                                alt="{participant.name}" height="133" width="100" allowCropping="true"
                                allowUpScaling="true"/>
                    </div>
                </f:if>
            </div>
        </div>
    </f:else>
</f:if>