{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace nl=Neoslive\Hybridsearch\ViewHelpers}

<div class="row" data-ng-controller="SearchCtrl" id="search">


    <div data-ng-class="{'hasSearchResults': siteSearch != '', 'noSearchResults': siteSearch == ''}"
         class="noSearchResults ">


        <div class="col-xs-12 phlu-searchresults">


            <div class="close" data-ng-click="stopSearch();"></div>

            <div class="searchresults-count" data-ng-show="result.isLoading() === false">Suchergebnisse
                {{siteSearch}}
                ({{result.count()}})
            </div>
            <div class="searchresults-count" data-ng-show="result.isLoading()">Suchergebnisse {{siteSearch}}
            </div>


            <div class="globalSearchLoadingScreen" data-ng-if="result.isLoading()">
                <img src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/loading.svg')}"
                     alt="loading"/>
            </div>

            <div class="turbo-link-result" data-ng-if="result.countTurboNodes()">
                <div class="result turbonode"
                     ng-repeat="(index,node) in result.getTurboNodes() | orderBy:'-score'"
                     ng-if="index === 0">
                    <search data="node"></search>
                </div>
            </div>

            <div class="phlu-corporate-tags-menu" data-ng-if="result.getGrouped().count() > 1">
                <div class="row subjectsfilternav ">
                    <div class="col-xs-12">
                        <div class="row filter-bar">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li class="nav-item clickable " role="menuitem">
                                        <a class="nav-link all" data-ng-click="setLastActiveTabname('alle')"
                                           data-ng-class="{active: lastActiveTabName == 'alle'}"
                                           data-toggle="tab" data-target="#alle" href="#" role="tab">Alle</a>
                                    </li>
                                    <li class="nav-item clickable"
                                        ng-repeat="group in result.getGrouped().getItems()">

                                        <a class="nav-link"
                                           data-ng-click="setLastActiveTabname(group.getLabel())"
                                           data-ng-class="{active: lastActiveTabName == group.getLabel()}"
                                           data-toggle="tab" data-target="#{{group.getLabel()}}" href="#"
                                           role="tab"><span node-type name="{{group.getLabel()}}"></span>
                                            <span>({{group.count()}})</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row results-table" data-ng-if="result.getGrouped().count() > 1">
                <div class="col-xs-12 tab-content">

                    <div class="result-panel tab-pane nofilter fade"
                         data-ng-class="{active: lastActiveTabName == 'alle', in: lastActiveTabName == 'alle'}"
                         id="alle" role="tabpanel">

                        <div class="row results-table results-quick-result"
                             data-ng-if="result.getQuickInfo().items.length">
                            <div class="col-xs-12 tab-content">

                                <div class="info row">

                                    <div data-ng-if="result.getQuickInfo().items[0].term == ''"
                                         class="col-xs-9 table-responsive topnode">
                                        <search data="result.getQuickInfo().node" view="group"></search>
                                    </div>
                                    <div data-ng-if="result.getQuickInfo().items[0].term != ''"
                                         class="col-xs-9 table-responsive"
                                         data-ng-class="{'col-xs-12': !result.getQuickInfo().node.getProperty('image') || result.getQuickInfo().items.length > 2}">
                                        <div class="title">
                                            <search data="result.getQuickInfo().node" view="all"></search>
                                        </div>
                                        <table class="table">
                                            <tr data-ng-repeat="t in result.getQuickInfo().items">
                                                <td data-ng-if="result.getQuickInfo().items.length > 1">
                                                    {{t.term}}
                                                </td>
                                                <td>
                                                            <span data-ng-if="result.getQuickInfo().items.length == 1"
                                                                  class="single-term">{{t.term}}<br></span>
                                                    <span data-ng-bind-html="t.value"
                                                          data-ng-class="{single: result.getQuickInfo().items.length == 1}"></span>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="col-xs-3"
                                         data-ng-if="result.getQuickInfo().node.getProperty('image') && result.getQuickInfo().items.length < 3">
                                        <div>
                                            <img ng-src="{{result.getQuickInfo().node.getProperty('image').url}}"
                                                 title="{{result.getQuickInfo().node.getProperty('image').title}}"
                                                 class="img-fluid"/>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table">
                                <tbody>


                                <tr ng-repeat="node in result.getNodes(limit['all'] === undefined ? 10 : limit['all'],'_document.identifier')"
                                    data-ng-if="!node.isTurboNode() && node.getNodeType() != 'phlu-corporate-location'">
                                    <td  data-node-id="{{node.getIdentifier()}}">
                                        <search data="node" view="all"></search>
                                    </td>
                                </tr>

                                <tfoot class="">
                                <tr>
                                    <td class="col-center">
                                        <a data-ng-click="limit['all'] === undefined ? limit['all'] = 20 : limit['all'] = limit['all'] + 10"
                                           class="btn loadMore"
                                           data-ng-if="result.count() > limit['all'] || (result.count() > 9 && limit['all'] === undefined)">
                                            mehr anzeigen
                                            <span>
                                                <span data-ng-if="limit['all'] === undefined ? limit['all'] = 10 : limit['all'] = limit['all']" data-ng-bind="limit['all']"></span>
                                                <span class="counter-divider">von</span>
                                                <span data-ng-bind="result.count()"></span>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                </tfoot>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="result-panel tab-pane nofilter fade "
                         data-ng-class="{active: lastActiveTabName == group.getLabel(), in: lastActiveTabName == group.getLabel()}"
                         id="{{group.getLabel()}}" role="tabpanel"
                         ng-repeat="group in result.getGrouped().getItems()">



                        <div data-ng-switch="group.getLabel()"
                             data-ng-if="lastActiveTabName == group.getLabel()">

                            <div class="ppdb-list" data-ng-switch-when="Standorte">
                                <div data-ng-controller="LocationCtrl" class="phlu-locations">
                                    <span data-ng-init="addNodes(group.getNodes());"></span>

                                    <div class="row google-maps-iframe ">

                                        <div class="col-xs-12 locationsMap phlu-locations-search">

                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class=" table-responsive phlu-corporate-table">
                                                <table class="table first-col-hidden-">
                                                    <tbody class="neos-contentcollection">
                                                    <tr class=" phlu-corporate-table-row"
                                                        data-ng-repeat="node in result.getNodes() | orderBy:'getDocumentNode().getSortingIndex()'"
                                                        data-ng-if="locations[node.identifier]">
                                                        <th class=" col-percent-Automatisch ">
                                                            <span> {{node.getProperty('name')}}</span>
                                                            <div class="mobile-view-columns">

                                                                <address>
                                                                    {{node.getProperty('organisation')}}<br>
                                                                    <span>{{node.getProperty('street')}}</span><br>
                                                                    <span data-ng-if="node.getProperty('street2') != ''">{{node.getProperty('street2')}}<br></span>
                                                                    <span data-ng-if="node.getProperty('zip') != ''">{{node.getProperty('zip')}} {{node.getProperty('city')}}<br></span>

                                                                    <div class="telephone"
                                                                         data-ng-if="node.getProperty('phone') != ''">
                                                                        <i class="fa fa-phone"
                                                                           aria-hidden="true"></i>
                                                                        {{node.getProperty('phone')}}<br>
                                                                    </div>
                                                                    <a class="content-link-email-contact-person"
                                                                       data-ng-if="node.getProperty('email') != ''"
                                                                       href="mailto:{{node.getProperty('email')}}">{{node.getProperty('email')}}</a><br>
                                                                </address>

                                                                <span class="details-link-cell">
                                                                            <a class="btn btn-primary"
                                                                               href="{{node.getUrl()}}">
                                                                                Details
                                                                            </a>
                                                                        </span>
                                                            </div>
                                                        </th>
                                                        <td>

                                                            <address>
                                                                {{node.getProperty('organisation')}}<br>
                                                                <span>{{node.getProperty('street')}}</span><br>
                                                                <span data-ng-if="node.getProperty('street2') != ''">{{node.getProperty('street2')}}<br></span>
                                                                <span data-ng-if="node.getProperty('zip') != ''">{{node.getProperty('zip')}} {{node.getProperty('city')}}<br></span>

                                                                <div class="telephone"
                                                                     data-ng-if="node.getProperty('phone') != ''">
                                                                    <i class="fa fa-phone"
                                                                       aria-hidden="true"></i>
                                                                    {{node.getProperty('phone')}}<br>
                                                                </div>
                                                                <a class="content-link-email-contact-person"
                                                                   data-ng-if="node.getProperty('email') != ''"
                                                                   href="mailto:{{node.getProperty('email')}}">{{node.getProperty('email')}}</a><br>
                                                            </address>

                                                        </td>
                                                        <td class="details-link-cell">
                                                            <a class="btn btn-primary" href="{{node.getUrl()}}">
                                                                Details
                                                            </a>
                                                        </td>
                                                    </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="ppdb-list" data-ng-switch-when="Publikationen">

                                <div class="table-responsive"
                                     data-ng-repeat="g in group.getCategorizedNodes('publicationtype.name') | orderBy:'getProperty(\'type.sorting\')'">

                                    <table class="table no-margin no-padding">
                                        <thead>
                                        <tr>
                                            <th class="clickable publicationsHeader">
                                                <a href="#">{{g.getLabel()}}</a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="node in g.getNodes(limit[g.getLabel()] === undefined ? 10 : limit[g.getLabel()])"
                                            data-node-id="{{node.identifier}}">
                                            <td data-ng-if="node.getProperty('url') == ''">

                                                <div>
                                                            <span data-ng-if="node.getProperty('citationstyle') != ''"
                                                                  data-ng-bind-html="node.getProperty('citationstyle')"></span>
                                                    <span data-ng-if="node.getProperty('citationstyle') == ''">{{node.getProperty('title')}}</span>
                                                </div>
                                            </td>
                                            <td data-ng-if="node.getProperty('url') != ''">
                                                <div>

                                                    <a href="{{node.getProperty('url')}}" target="_blank">
                                                                <span data-ng-if="node.getProperty('citationstyle') != ''"
                                                                      data-ng-bind-html="node.getProperty('citationstyle')"></span>
                                                        <span data-ng-if="node.getProperty('citationstyle') == ''">{{node.getProperty('title')}}</span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tfoot>
                                        <tr>
                                            <td class="col-center">
                                                <a data-ng-click="limit[g.getLabel()] === undefined ? limit[g.getLabel()] = 20 : limit[g.getLabel()] = limit[g.getLabel()] + 10"
                                                   class="btn loadMore"
                                                   data-ng-if="g.count() > limit[g.getLabel()] || (g.count() > 9 && limit[g.getLabel()] === undefined)">
                                                    mehr anzeigen
                                                    <span>
                                                        <span data-ng-bind="limit[g.getLabel()]"></span>
                                                        <span class="counter-divider">von</span>
                                                        <span data-ng-bind="g.count()"></span>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>


                                </div>


                            </div>

                            <div class="ppdb-list" data-ng-switch-when="Weiterbildungsskurse">


                                <div class=" results-table">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="clickable">
                                                    <a href="#">Angeobt</a>
                                                </th>
                                                <th class="clickable">
                                                    <a href="#">Nr</a>
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="node in group.getNodes()"
                                                   data-ng-click="node.isopen = node.isopen ? false : true">
                                            <tr data-ng-class="{open: node.isopen,noborder: $index > 0}"
                                                class="clickable">
                                                <td>
                                                    <span class="oi"
                                                          data-ng-class="{'oi-caret-right': !node.isopen, 'oi-caret-bottom': node.isopen}"></span>
                                                    <span>{{node.getProperty('title')}}</span>
                                                </td>
                                                <td>
                                                    <span>{{node.getProperty('nr')}}</span>
                                                </td>
                                            </tr>
                                            <tr class="result-preview" data-ng-show="node.isopen">
                                                <td colspan="2">
                                                    <div>
                                                        <div ng-bind-html="node.getProperty('description').substr(0,255) + '...'"></div>
                                                        <a class="btn btn-primary" href="{{node.getUrl()}}">
                                                            Details
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                </div>


                            </div>

                            <div class="ppdb-list" data-ng-switch-when="Weiterbildungsstudiengänge">


                                <div class=" results-table">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="clickable">
                                                    <a href="#">Angeobt</a>
                                                </th>
                                                <th class="clickable">
                                                    <a href="#">Nr</a>
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="node in group.getNodes()"
                                                   data-ng-click="node.isopen = node.isopen ? false : true">
                                            <tr data-ng-class="{open: node.isopen,noborder: $index > 0}"
                                                class="clickable">
                                                <td>
                                                    <span class="oi"
                                                          data-ng-class="{'oi-caret-right': !node.isopen, 'oi-caret-bottom': node.isopen}"></span>
                                                    <span>{{node.getProperty('title')}}</span>
                                                </td>
                                                <td>
                                                    <span>{{node.getProperty('nr')}}</span>
                                                </td>
                                            </tr>
                                            <tr class="result-preview" data-ng-show="node.isopen">
                                                <td colspan="2">
                                                    <div>
                                                        <div ng-bind-html="node.getProperty('description').substr(0,255) + '...'"></div>
                                                        <a class="btn btn-primary" href="{{node.getUrl()}}">
                                                            Details
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                </div>


                            </div>

                            <div class="ppdb-list" data-ng-switch-when="Weiterbildungsveranstaltungen">


                                <div class=" results-table">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="clickable">
                                                    <a href="#">Angeobt</a>
                                                </th>
                                                <th class="clickable">
                                                    <a href="#">Nr</a>
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="node in group.getNodes()"
                                                   data-ng-click="node.isopen = node.isopen ? false : true">
                                            <tr data-ng-class="{open: node.isopen,noborder: $index > 0}"
                                                class="clickable">
                                                <td>
                                                    <span class="oi"
                                                          data-ng-class="{'oi-caret-right': !node.isopen, 'oi-caret-bottom': node.isopen}"></span>
                                                    <span>{{node.getProperty('title')}}</span>
                                                </td>
                                                <td>
                                                    <span>{{node.getProperty('nr')}}</span>
                                                </td>
                                            </tr>
                                            <tr class="result-preview" data-ng-show="node.isopen">
                                                <td colspan="2">
                                                    <div>
                                                        <div ng-bind-html="node.getProperty('description').substr(0,255) + '...'"></div>
                                                        <a class="btn btn-primary" href="{{node.getUrl()}}">
                                                            Details
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                </div>


                            </div>

                            <div class="ppdb-list" data-ng-switch-when="Projekte">


                                <div class=" results-table">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="clickable">
                                                    <a href="#">Projektname</a>
                                                </th>
                                                <th class="clickable">
                                                    <a href="#">Schwerpunkte</a>
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="node in group.getNodes()"
                                                   data-ng-click="node.isopen = node.isopen ? false : true">
                                            <tr data-ng-class="{open: node.isopen,noborder: $index > 0}"
                                                class="clickable">
                                                <td>
                                                    <span class="oi"
                                                          data-ng-class="{'oi-caret-right': !node.isopen, 'oi-caret-bottom': node.isopen}"></span>
                                                    <span>{{node.getProperty('title')}}</span>
                                                    <div class="mobile-view-columns researchmainfocus">
                                                                <span class="header">
                                                                    Schwerpunkte
                                                                </span>
                                                        <span>
                                                                    <ul>
                                                                        <li data-ng-repeat="focus in node.getProperty('researchmainfocus') track by $index" data-ng-bind="focus.name"></li>
                                                                    </ul>
                                                                </span>
                                                    </div>
                                                </td>
                                                <td class="researchmainfocus">
                                                    <ul>
                                                        <li data-ng-repeat="focus in node.getProperty('researchmainfocus') track by $index" data-ng-bind="focus.name">

                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr class="result-preview" data-ng-show="node.isopen">
                                                <td colspan="2">
                                                    <div>
                                                        <div ng-bind-html="node.getProperty('abstracttextgerman').substr(0,255) + '...'"></div>
                                                        <a class="btn btn-primary" href="{{node.getUrl()}}">
                                                            Details
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                </div>


                            </div>


                            <div class="table-responsive" data-ng-switch-default>
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="node in group.getNodes()"
                                        data-ng-if="!node.isTurboNode()">
                                        <td>
                                            <search data="node" view="group"></search>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>

                    </div>


                </div>
            </div>


            <div class="row results-table" data-ng-if="result.getGrouped().count() == 1">
                <div class="col-xs-12 tab-content">

                    <div class="result-panel tab-pane nofilter fade active in" id="{{group.getLabel()}}"
                         role="tabpanel"
                         ng-repeat="group in result.getGrouped().getItems()">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr ng-repeat="node in group.getNodes()"
                                    data-ng-if="!node.isTurboNode()">
                                    <td class="clickable">
                                        <search data="node" view="group"></search>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>


        </div>

    </div>

</div>