<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<head>
    <f:section name="metadata">
        <meta content="deutsch,de" name="language">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    </f:section>

    <f:section name="csslinks">
        <!-- Put your stylesheet inclusions here, they will be included in your website by TypoScript -->
        <link rel="stylesheet"
              href="{f:uri.external(uri: 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700')}" media="all"/>
        <link rel="stylesheet"
              href="{f:uri.resource(path: 'Vendor/jquery-rcrumbs/dist/jquery.rcrumbs.min.css', package: 'PHLU.Corporate')}"
              media="all"/>
        <link rel="stylesheet"
              href="{f:uri.resource(path: 'Vendor/font-awesome/css/font-awesome.min.css', package: 'PHLU.Corporate')}"
              media="all"/>
        <link rel="stylesheet"
              href="{f:uri.external(uri: 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/transition.min.css')}"
              media="all"/>
        <link rel="stylesheet"
              href="{f:uri.external(uri: 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/dropdown.min.css')}"
              media="all"/>
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/phlu.css', package: 'PHLU.Corporate')}" media="all"/>
        <link rel="stylesheet"
              href="{f:uri.resource(path: 'Vendor/animate.css/animate.min.css', package: 'PHLU.Corporate')}"
              media="all"/>
        <link rel="stylesheet"
              href="{f:uri.resource(path: 'Vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', package: 'PHLU.Corporate')}"
              media="all"/>


    </f:section>

    <f:section name="headScripts">
        <!-- Put your scripts inclusions for the head here, they will be included in your website by TypoScript -->
        <script src="{f:uri.resource(path: 'Vendor/angularjs/angular.min.js', package: 'PHLU.Corporate')}"></script>
        <script src="{f:uri.resource(path: 'Vendor/angular-cookies/angular-cookies.min.js', package: 'PHLU.Corporate')}"></script>

        <script src="{f:uri.resource(path: 'Vendor/firebase/firebase.js', package: 'Neoslive.Hybridsearch')}"></script>
        <script src="{f:uri.resource(path: 'Vendor/angularfire/dist/angularfire.min.js', package: 'Neoslive.Hybridsearch')}"></script>
        <script src="{f:uri.resource(path: 'Vendor/angular-sanitize/angular-sanitize.min.js', package: 'Neoslive.Hybridsearch')}"></script>
        <script src="{f:uri.resource(path: 'Vendor/elasticlunr.js/elasticlunr.min.js', package: 'Neoslive.Hybridsearch')}"></script>
        <script src="{f:uri.resource(path: 'hybridsearch.js', package: 'Neoslive.Hybridsearch')}"></script>

        <script src="{f:uri.resource(path: 'JavaScript/angularjs/app.js', package: 'PHLU.Corporate')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/angularjs/PHLU/Corporate/Controller/SubjectsFilterNavCtrl.js', package: 'PHLU.Corporate')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/angularjs/PHLU/Corporate/Controller/ContactsCtrl.js', package: 'PHLU.Corporate')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/angularjs/PHLU/Corporate/Controller/SearchCtrl.js', package: 'PHLU.Corporate')}"></script>


    </f:section>

</head>
<body>


<f:section name="body">


    <div class="all" data-ng-app="PHLUCorporateApp">

        <nav class="navbar">
            <a class="navbar-brand" href="{neos:uri.node(node: '~')}">
                <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/phluLogo.svg')}"
                     alt="PH Luzern Logo"
                     onerror="this.onerror=null; this.src='Images/phluLogo.png'"/>
            </a>
            {parts.navBarMenu -> f:format.raw()}
        </nav>

        <div class="container-fluid {pageLevelTypeClass}">
            <div class="row {parts.sideBarLevel1MenuGetClassRow -> f:format.raw()}" data-ng-controller="SearchCtrl">
                <div class="col-xl-2 sidebar level0 ">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="nav-spacer-top">
                                <a class="navbar-brand" href="{neos:uri.node(node: '~')}">
                                    <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/phluLogo.svg')}"
                                         alt="PH Luzern Logo"
                                         onerror="this.onerror=null; this.src='Images/phluLogo.png'"/>
                                </a>
                                <f:if condition="{neos:rendering.inBackend()}">
                                    <f:then>
                                        <div class="site-search-field">
                                            <input type="text" class="c-input form-control" id="siteSearch">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            <div class="searchResult">

                                            </div>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <div class="site-search-field">
                                            <input type="text" class="c-input form-control" data-ng-model="siteSearch"
                                                   data-ng-click="startSearch();">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </f:else>
                                </f:if>

                            </div>
                            <div class="row">
                                {parts.sideBarLevel0Menu -> f:format.raw()}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="searchResult">
                    <div data-ng-class="{hasSearchResults: siteSearch != ''}" style="display:none">

                        <div class="resultsWrapper">

                            <h3 data-ng-show="count > 0">Suchergebnisse {{siteSearchPathName}} <span
                                    data-ng-show="count > 0">({{count}})</span></h3>
                            <h3 data-ng-hide="count > 0">Suche nach {{siteSearch}} ..</h3>

                            <div ng-repeat="result in turbonodes | orderBy:'-score'">
                                 <div class="result turbonode">
                                    <search data="result.node"></search>
                                </div>
                            </div>

                            <!-- Nav tabs -->
                            <ul id="searchResultsTabs" class="nav nav-tabs" role="tablist"
                                data-ng-show="groupes.length > 0">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#alle" role="tab">Alle</a>
                                </li>
                                <li class="nav-item" ng-repeat="group in groupes">
                                    <a class="nav-link" data-toggle="tab" href="#{{group.label}}"
                                       role="tab"><span node-type name="{{group.label}}"></span>
                                        <span>({{group.count}})</span></a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="alle" role="tabpanel">
                                    <div class="result" ng-repeat="node in nodes | orderBy:'-score'">
                                        <search data="node"></search>
                                    </div>
                                </div>
                                <div class="tab-pane " id="{{group.label}}" role="{{group.label}}" ng-repeat="group in groupes">
                                        <div class="result" ng-repeat="node in group.nodes | orderBy:'-score'">
                                            <search data="node"></search>
                                        </div>
                                </div>
                            </div>

                            <div class="btn close" data-ng-click="stopSearch();"></div>
                        </div>
                    </div>
                </div>
                {parts.sideBarLevel1Menu -> f:format.raw()}
                <div class="col-xs-12 {parts.sideBarLevel1MenuGetClass -> f:format.raw()} main contents">
                    {content.main -> f:format.raw()}
                    {parts.teaserMenu -> f:format.raw()}
                </div>
            </div>
        </div>
        <div class="container-fluid breadcrumb-bottom">
            <div class="row {parts.sideBarLevel1MenuGetClassRow -> f:format.raw()}">
                {parts.breadcrumbFooter -> f:format.raw()}
            </div>
        </div>
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-xs-12 site-search-field">
                    <input type="text" class="c-input form-control" id="siteSearchMobile">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                {footer -> f:format.raw()}
                <div class="col-xs-12 col-xl-2 flexfirst">
                    <nav class="nav langnav">
                        <a class="active" href="#">DE</a>
                        <a class="" href="#">FR</a>
                        <a class="" href="#">IT</a>
                        <a class="" href="#">EN</a>
                    </nav>
                    <hr>
                </div>
                <div class="col-xs-12 sociallinks">
                    <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/socialiconsexample.png')}"
                         alt="sociallinks"/>
                </div>
                <div class="col-xs-6 footerLogoMobile">
                    <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/phluLogoFooter.svg')}"
                         alt="Ph Luzern Logo"/>
                </div>
                <div class="col-xs-6 footerAddressMobile">
                    Pfistergasse 20<br>
                    Postfache 7660<br>
                    6000 Luzern 7<br>
                    T 041 228 71 11<br>
                    <a href="mailto:info@phlu.ch">info@phlu.ch</a>
                </div>
                <div class="col-lg-12 footerAddressLogoDesktop">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-4">
                            <div>
                                Pfistergasse 20<br>
                                Postfache 7660<br>
                                6000 Luzern 7<br>
                            </div>
                            <div>
                                T 041 228 71 11<br>
                                <a href="mailto:info@phlu.ch">info@phlu.ch</a>
                            </div>
                            <div>
                                <img class="footerLogo"
                                     src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/phluLogoFooter.svg')}"
                                     alt="Ph Luzern Logo"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-8 copyright">
                            &copy; 2016 Pädagogische Hochschule Luzern
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 copyright">
                    &copy; 2016 Pädagogische Hochschule Luzern
                </div>
            </div>
        </div>

        <span id="top-link-block" class="img-circle">
                    <a href="#top" class="anchor-nav">
                        <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/spacer.png')}" width="80"
                             height="80"
                             alt="spacer"/>
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </span>
    </div>


</f:section>
<f:section name="bodyScripts">
    <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by TypoScript -->
    <script src="{f:uri.resource(path: 'Vendor/grunt-modernizr/lib/build-files/modernizr-latest.js', package: 'PHLU.Corporate')}"></script>
    <script src="{f:uri.resource(path: 'Vendor/jquery/dist/jquery.min.js', package: 'PHLU.Corporate')}"></script>
    <script src="{f:uri.resource(path: 'Vendor/tether/dist/js/tether.min.js', package: 'PHLU.Corporate')}"></script>
    <script src="{f:uri.resource(path: 'Vendor/bootstrap/dist/js/bootstrap.min.js', package: 'PHLU.Corporate')}"></script>
    <script src="{f:uri.resource(path: 'Vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js', package: 'PHLU.Corporate')}"></script>
    <script src="{f:uri.resource(path: 'Vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.de.min.js', package: 'PHLU.Corporate')}"></script>
    <script src="{f:uri.resource(path: 'Vendor/jquery-rcrumbs/dist/jquery.rcrumbs.min.js', package: 'PHLU.Corporate')}"></script>
    <script src="{f:uri.external(uri: 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/transition.min.js')}"></script>
    <script src="{f:uri.external(uri: 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/dropdown.min.js')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/jquery/main.js', package: 'PHLU.Corporate')}"></script>
    <f:if condition="{neos:rendering.inBackend()}">
        <script src="{f:uri.resource(path: 'JavaScript/jquery/backend.js', package: 'PHLU.Corporate')}"></script>
    </f:if>
</f:section>
</body>
</html>
