{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}
{namespace resource=Phlu\Corporate\ViewHelpers\Resource}


<div class="row ppdb-detail">
    <div class="col-xs-12">
        <div class="row ">
            <div class="col-xs-12">
                {breadcrumb -> f:format.raw()}
            </div>
            <div class="col-xs-12">

                <h1 class="page-header">
                    {project.titleGerman}
                </h1>
                <div class="phlu-corporate-textplain leadtext">
                    <p>
                        {project.teaserTextGerman}
                    </p>
                </div>
                <ul class="nav nav-pills">
                    <li>
                        <a class="nav-item nav-link anchor-nav" href="#uebersicht">Übersicht</a>
                    </li>
                    <li>
                        <a class="nav-item nav-link anchor-nav" href="#fakten">Fakten</a>
                    </li>
                    <f:if condition="{project.participants}">
                        <li>
                            <a class="nav-item nav-link anchor-nav" href="#beteiligtepersonen">Beteiligte Personen</a>
                        </li>
                    </f:if>
                    <f:if condition="{project.documents}">
                        <li>
                            <a class="nav-item nav-link anchor-nav" href="#dokumente">Dokumente</a>
                        </li>
                    </f:if>
                    <f:if condition="{project.photos}">
                        <li>
                            <a class="nav-item nav-link anchor-nav" href="#photos">Bilder</a>
                        </li>
                    </f:if>
                    <f:if condition="{project.links}">
                        <li>
                            <a class="nav-item nav-link anchor-nav" href="#links">Links</a>
                        </li>
                    </f:if>
                    <f:if condition="{project.publications}">
                        <li>
                            <a class="nav-item nav-link anchor-nav" href="#publikationen">Publikationen</a>
                        </li>
                    </f:if>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="phlu-corporate-section" id="uebersicht">
                    <h2>Übersicht</h2>
                    <div class="table-responsive fastFacts">
                        <table class="table">
                            <f:if condition="{project.researchMainFocus}">
                                <tr>
                                    <th>Forschungsschwerpunkt / Themenfeld</th>
                                    <td>
                                        <f:for each="{project.researchMainFocus}" as="focus" iteration="iterator">
                                            <f:if condition="{iterator.isFirst}">
                                                <f:else>
                                                    <br/>
                                                </f:else>
                                            </f:if>
                                            {focus.name}
                                        </f:for>
                                    </td>
                                </tr>
                            </f:if>
                            <f:if condition="{project.pPDBStatusLifetime}">
                                <tr>
                                    <th>Status</th>
                                    <td>{project.pPDBStatusLifetime}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{project.startDate}">
                                <tr>
                                    <th>Zeitraum</th>
                                    <td>
                                        <f:if condition="{project.startDate}">{project.startDate ->
                                            f:format.date(format:'d.m.Y')}
                                        </f:if>
                                        <f:if condition="{project.endDate}"> - {project.endDate ->
                                            f:format.date(format:'d.m.Y')}
                                        </f:if>
                                    </td>
                                </tr>
                            </f:if>
                        </table>
                    </div>

                    {project.abstractTextGerman -> f:format.raw()}
                </div>
                <hr>
                <div class="phlu-corporate-section" id="fakten">
                    <h2>Organisation</h2>
                    <div class="table-responsive">
                        <table class="table">

                            <f:if condition="{project.organisationUnits}">
                                <tr>
                                    <th>Beteiligte interne Organisationen</th>
                                    <td>
                                        <f:for each="{project.organisationUnits}" as="unit" iteration="iterator">
                                            <f:if condition="{iterator.isFirst}">
                                                <f:else>
                                                    <br/>
                                                </f:else>
                                            </f:if>
                                            {unit.name}
                                        </f:for>
                                    </td>
                                </tr>
                            </f:if>
                            <f:if condition="{project.financingTypes}">
                                <tr>
                                    <th>Finanzierungstyp</th>
                                    <td>
                                        <f:for each="{project.financingTypes}" as="financing" iteration="iterator">
                                            <f:if condition="{iterator.isFirst}">
                                                <f:else>
                                                    <br/>
                                                </f:else>
                                            </f:if>
                                            {financing}
                                        </f:for>
                                    </td>
                                </tr>
                            </f:if>


                            <f:if condition="{project.financiersExternal}">
                                <tr>
                                    <th>Externe Projektfinanzierer</th>
                                    <td>
                                        <f:for each="{project.financiersExternal}" as="financierExternal"
                                               iteration="iterator">
                                            <f:if condition="{iterator.isFirst}">
                                                <f:else>
                                                    <br/>
                                                </f:else>
                                            </f:if>
                                            <f:if condition="{financierExternal.subtitle3} !== ''">
                                                <f:then><a href="{financierExternal.subtitle3}" target="_blank">{financierExternal.title}</a>
                                                </f:then>
                                                <f:else>{financierExternal.title}</f:else>
                                            </f:if>

                                        </f:for>
                                    </td>
                                </tr>
                            </f:if>

                            <f:if condition="{project.partnersExternal}">
                                <tr>
                                    <th>Externe Projektpartner</th>
                                    <td>
                                        <f:for each="{project.partnersExternal}" as="partnerExternal"
                                               iteration="iterator">
                                            <f:if condition="{iterator.isFirst}">
                                                <f:else>
                                                    <br/>
                                                </f:else>
                                            </f:if>
                                            <f:if condition="{partnerExternal.subtitle3} !== ''">
                                                <f:then><a href="{partnerExternal.subtitle3}" target="_blank">{partnerExternal.title}</a>
                                                </f:then>
                                                <f:else>{partnerExternal.title}</f:else>
                                            </f:if>
                                        </f:for>
                                    </td>
                                </tr>
                            </f:if>


                            <!--                            <f:if condition="{project.ProjectType}">
                                                            <tr>
                                                                <th>Leistungsart</th>
                                                                <td>
                                                                    {project.ProjectType}
                                                                </td>
                                                            </tr>
                                                        </f:if>-->
                        </table>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <f:if condition="{project.participants}">
            <div class="row">
                <div class="col-xs-12 phlu-team-members" id="beteiligtepersonen">
                    <h2>Beteiligte Personen</h2>
                </div>
            </div>
        </f:if>

        <f:if condition="{project.participantsIntern}">
            <div class="row">
                <div class="col-xs-12 phlu-team-members" id="beteiligtepersonenintern">
                    <h3>intern</h3>
                    <div class="row phlu-teaser navigation subpage">
                        <f:for each="{project.participantsIntern}" key="participantsType" as="participantsGroup">
                            <f:for each="{participantsGroup}" as="participant">
                                <div class="col-xs-12 col-md-6 nav-teaser-item">
                                    <div class="row">
                                        <div class="phlu-teaser-body col-xs-8">
                                            <address>
                                                <b>{participantsType}</b><br>
                                                {participant.name}
                                                <f:if condition="participant.phone == ''">
                                                    <f:then><br/></f:then>
                                                    <f:else>
                                                        <div class="telephone">
                                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                                            {participant.phone}<br>
                                                        </div>
                                                    </f:else>
                                                </f:if>
                                                <f:if condition="participant.phone == ''">
                                                    <f:then><br/></f:then>
                                                    <f:else>
                                                        <a class="content-link-email-contact-person"
                                                           href="mailto:{participant.email}">{participant.email}</a><br>
                                                        <portrait:link node="{node}" eventoId="{participant.EventoID}"
                                                                       target="top">
                                                            Portrait
                                                        </portrait:link>
                                                    </f:else>
                                                </f:if>
                                            </address>
                                        </div>
                                        <div class="phlu-teaser-caret-right col-xs-4">
                                            <f:if condition="{resource:GetFromString(resource:participant.ImageResource, asset: true)}">
                                                <media:image
                                                        image="{resource:GetFromString(resource:participant.ImageResource, asset: true)}"
                                                        class="img-fluid"
                                                        alt="{participant.name}"
                                                        height="133" width="100" allowCropping="true"
                                                        allowUpScaling="true"/>
                                            </f:if>
                                        </div>
                                    </div>
                                </div>
                            </f:for>
                        </f:for>
                    </div>
                </div>
            </div>
        </f:if>
        <f:if condition="{project.participantsExtern}">
            <div class="row">
                <div class="col-xs-12 phlu-team-members" id="beteiligtepersonenextern">
                    <h3>extern</h3>
                    <div class="row phlu-teaser navigation subpage">
                        <f:for each="{project.participantsExtern}" key="participantsType" as="participantsGroup">
                            <f:for each="{participantsGroup}" as="participant">
                                <div class="col-xs-12 col-md-6 nav-teaser-item">
                                    <div class="row">
                                        <div class="phlu-teaser-body col-xs-8">
                                            <address>
                                                <b>{participantsType}</b><br>
                                                {participant.name}
                                                <f:if condition="{participant.phone}">
                                                    <f:if condition="participant.phone == ''">
                                                        <f:then><br/></f:then>
                                                        <f:else>
                                                            <div class="telephone">
                                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                                {participant.phone}<br>
                                                            </div>
                                                        </f:else>
                                                    </f:if>
                                                </f:if>
                                                <f:if condition="{participant.email}">
                                                    <f:if condition="participant.phone == ''">
                                                        <f:then><br/></f:then>
                                                        <f:else>
                                                            <a class="content-link-email-contact-person"
                                                               href="mailto:{participant.email}">{participant.email}</a><br>
                                                            <portrait:link node="{node}"
                                                                           eventoId="{participant.EventoID}"
                                                                           target="top">
                                                                Portrait
                                                            </portrait:link>
                                                        </f:else>
                                                    </f:if>
                                                </f:if>
                                            </address>
                                        </div>
                                        <div class="phlu-teaser-caret-right col-xs-4">
                                            <f:if condition="{resource:GetFromString(resource:participant.ImageResource, asset: true)}">
                                                <media:image
                                                        image="{resource:GetFromString(resource:participant.ImageResource, asset: true)}"
                                                        class="img-fluid"
                                                        alt="{participant.name}"
                                                        height="133" width="100" allowCropping="true"
                                                        allowUpScaling="true"/>
                                            </f:if>
                                        </div>
                                    </div>
                                </div>
                            </f:for>
                        </f:for>
                    </div>

                </div>
            </div>
        </f:if>
        <f:if condition="{project.documents}">
            <div class="row subjectsfilternav phlu-filelinks nofilter" id="dokumente">
                <div class="col-xs-12">
                    <h2>Dokumente</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row phlu-teaser navigation subpage">

                                <f:for each="{project.documents}" as="document">

                                    <div class="col-xs-12 nav-teaser-item clickable pdfFile">
                                        <div class="row">
                                            <div class="phlu-teaser-body col-xs-12">
                                                <h3>
                                                    <a href="{f:uri.external(uri: document.URL, defaultScheme: 'http')}">
                                                        {document.Name}
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </f:for>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </f:if>
        <f:if condition="{project.photos}">
            <div class="row subjectsfilternav phlu-filelinks nofilter" id="photos">
                <div class="col-xs-12">
                    <h2>Bilder</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row phlu-teaser navigation subpage">

                                <f:for each="{project.photos}" as="photos">

                                    <div class="col-xs-12 nav-teaser-item clickable pdfFile">
                                        <div class="row">
                                            <div class="phlu-teaser-body col-xs-12">
                                                <h3>
                                                    <a href="{f:uri.external(uri: photos.URL, defaultScheme: 'http')}">
                                                        {photos.Title}
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </f:for>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </f:if>
        <f:if condition="{project.links}">
            <div class="row subjectsfilternav phlu-filelinks nofilter" id="links">
                <div class="col-xs-12">
                    <h2>Links</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row phlu-teaser navigation subpage">
                                <f:for each="{project.links}" as="link">
                                    <div class="col-xs-12 nav-teaser-item clickable webLink">
                                        <div class="row">
                                            <div class="phlu-teaser-body col-xs-12">
                                                <h3>
                                                    <a href="{f:uri.external(uri: link.URL, defaultScheme: 'http')}">
                                                        {link.Title}
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </f:for>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </f:if>
        <f:if condition="{project.publications}">

            <div class="row publications-list">
                <div class="col-xs-12">

                    <h2>Publikationen</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="phlu-accordion-publications" class="phlu-accordion">

                                <f:for each="{project.publications}" as="publicationtype"
                                       iteration="iterator">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">
                                                <a href="#" data-toggle="collapse"
                                                   data-parent="#phlu-accordion-publications"
                                                   href="#phlu-accordion-publications-{iterator.index}"
                                                   aria-expanded="false"
                                                   aria-controls="phlu-accordion-publications-{iterator.index}">
                                                    {publicationtype.type.name} ({publicationtype.type.count})
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="phlu-accordion-publications-{iterator.index}"
                                             class="panel-collapse collapse" role="tabpanel">
                                            <div>
                                                <f:for each="{publicationtype.items}" as="publication">
                                                    <p>{publication.Citationstyle -> f:format.raw()}</p>
                                                </f:for>
                                            </div>
                                        </div>
                                    </div>
                                </f:for>


                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

        </f:if>

    </div>
</div>