<div class="row searchresult-body">
    <div class="col-xs-8 col-sm-9 col-md-10">
        <address>
            <b>
                {{node.getProperty('name')}}
            </b>
           <br><span data-ng-bind="node.getProperty('street')"></span>
           <br><span data-ng-bind="node.getProperty('zip')"></span> <span data-ng-bind="node.getProperty('city')"></span>

            <div class="map" data-ng-if="node.getProperty('phone')">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <a href="https://www.google.com/maps?ll={{node.getProperty('lat')}},{{node.getProperty('lng')}}&q={{node.getProperty('street')}} {{node.getProperty('city')}} {{node.getProperty('zip')}}" target="_blank">Google Maps</a>
            </div>

        </address>


    </div>

    <div class="col-xs-4 col-sm-3 col-md-2 contactperson-portrait-image" data-ng-show="node.getProperty('image')">
        <img src="{{node.getProperty('image').url}}"
             title="{{node.getProperty('image').title}}" alt="{{node.getProperty('image').caption}}"
             class="img-fluid"/>
    </div>

</div>