<h3>
    <a class="content-link-internal" data-ng-if="node.getProperty('asset').url"
       href="{{node.getProperty('asset').url}}" target="_blank"><span
            data-ng-if="node.getProperty('asset').title == ''">{{node.getProperty('asset').name}}</span><span
            data-ng-if="node.getProperty('asset').title !== ''">{{node.getProperty('asset').title}}</span>

        <span data-ng-if="node.getProperty('asset').size > 100" data-ng-if="node.getProperty('asset').extension != 'lnk'">({{node.getProperty('asset').extension}}, {{node.getProperty('asset').sizeH}})</span>

    </a>
    <a class="content-link-internal" data-ng-if="!node.getProperty('asset').url"
       href="{{node.getUrl()}}"><span
            data-ng-if="node.getProperty('asset').title == ''">{{node.getProperty('asset').name}}</span><span
            data-ng-if="node.getProperty('asset').title !== ''">{{node.getProperty('asset').title}}</span>
    </a>
</h3>
<div class="searchresult-body">
    <div data-ng-if="node.getProperty('label.length') > 2"><span data-ng-bind="node.getProperty('label')"></span><br></div>
    <div data-ng-if="node.getProperty('label.length') <= 2"><span data-ng-bind="node.getDocumentNode().getProperty('title')"></span><br></div>
</div>
<div ng-bind-html="node.getBreadcrumb()"></div>