<h3>
    <a class="content-link-internal" href="{{node.getUrl()}}?{{node.getIdentifier()}}#{{1|searchTerm}}" data-ng-if="node.getProperty('label.length') > 12">{{node.getProperty('label')}}</a>
    <a class="content-link-internal" href="{{node.getUrl()}}?{{node.getIdentifier()}}#{{1|searchTerm}}"  data-ng-if="node.getProperty('label.length') <= 12">{{node.getDocumentNode().getProperty('title')}}</a>
</h3>
<div class="searchresult-body">
    <div ng-bind-html="node.getProperty('text')" data-ng-if="node.getProperty('text.length') < 960"></div>
    <span ng-bind="node.getPreview('text')" data-ng-if="node.getProperty('text.length') >= 960"></span>
</div>
<div class="rcrumbs-wrapper">
    <div class="rcrumbs-container rcrumbs" ng-bind-html="node.getBreadcrumb()"></div>
</div>

