<h3>
    <a class="content-link-internal" href="{{node.getUrl()}}" data-ng-if="node.getProperty('label')">{{node.getProperty('label')}}</a>
    <a class="content-link-internal" href="{{node.getUrl()}}"  data-ng-if="!node.getProperty('label')">{{node.getDocumentNode().getProperty('title')}}</a>
</h3>
<div class="searchresult-body">
    <div ng-bind-html="node.getProperty('text')" data-ng-if="node.getProperty('text.length') < 960"></div>
    <span ng-bind="node.getPreview('text')" data-ng-if="node.getProperty('text.length') >= 960"></span>
</div>
<div class="rcrumbs-wrapper">
    <div class="rcrumbs-container rcrumbs" ng-bind-html="node.getBreadcrumb()"></div>
</div>

