<div class="row searchresult-body">
    <div class="col-xs-8 col-sm-9 col-md-10">
        <address>
            <b>
                {{node.getProperty('lastname')}} {{node.getProperty('firstname')}}
            </b>
            <span data-ng-if="node.getParent().getProperty('title') && node.getParent().getProperty('title') !== 'Team Bezeichnung eingeben'">
             <br> <span data-ng-bind="node.getParent().getProperty('title')"></span>
            </span>
            <span data-ng-if="!node.getParent().getProperty('title').length">
                <span data-ng-if="node.getProperty('function')"><br>
                    <span data-ng-bind="node.getProperty('function')"></span>
                </span>
            </span>

            <div class="telephone" data-ng-if="node.getProperty('phone')">
                <i class="fa fa-phone" aria-hidden="true"></i>
                {{node.getProperty('phone')}}<br>
            </div>
            <div ng-bind-html="node.getProperty('portrait')"></div>

        </address>


    </div>

    <div class="col-xs-4 col-sm-3 col-md-2 contactperson-portrait-image" data-ng-show="node.getProperty('image')">
        <img src="{{node.getProperty('image').url}}"
             title="{{node.getProperty('image').title}}" alt="{{node.getProperty('image').caption}}"
             class="img-fluid"/>
    </div>

</div>