{namespace neos=TYPO3\Neos\ViewHelpers}
<div{attributes -> f:format.raw()}>

<f:if condition="{node.properties.assets}">
        <f:for each="{node.properties.assets}" as="asset">
            <f:if condition="{asset.resource}">
               <f:if condition="{asset.link} != ''">
                   <f:then>
                       <a href="{asset.link}" target="_blank">{asset.title}</a><br>
                   </f:then>
                   <f:else>
                       <a href="{f:uri.resource(resource: asset.resource)}" target="_blank">{asset.title}</a><br>
                   </f:else>
               </f:if>
            </f:if>
        </f:for>
</f:if>
</div>