{namespace neos=TYPO3\Neos\ViewHelpers}

<f:for each="{itemCollection}" as="item" key="iteratorInt" reverse="1">
    <f:if condition="{iteratorInt} == '1'">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            {item.properties.title}
        </button>
    </f:if>
</f:for>

<div id="navbar" aria-expanded="false" class="collapse" role="navigation">
    <nav class="nav navbar-nav">
        <f:for each="{itemCollection}" as="item" iteration="menuIterator" key="iteratorInt" reverse="1">
            <f:if condition="{menuIterator.isLast}">
                <f:then>
                    <a class="level{iteratorInt} isLast" href="{neos:uri.node(node:item)}">{item.properties.title}</a>
                </f:then>
                <f:else>
                    <a class="level{iteratorInt} " href="{neos:uri.node(node:item)}">{item.properties.title}</a>
                </f:else>
            </f:if>

        </f:for>
    </nav>
</div>


