{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}


<f:render section="default" arguments="{_all}"/>

<f:section name="default">
    <f:if condition="{items}">


        <ul class="nav nav-pills">

            <f:if condition="{node.nodeType.name} == 'Phlu.Corporate:Page.View.Dossier'">
                <f:if condition="{node.properties.ishidden}">
                    <f:else>
                        <li>
                            <a class="nav-item nav-link anchor-nav" href="#aktuelles">Aktuelles</a>
                        </li>
                    </f:else>
                </f:if>
            </f:if>

            <f:for each="{items}" as="item" iteration="iterator">
                <li class="{f:if(condition: iterator.isFirst, then: 'active', else: '')}">
                    <a class="nav-item nav-link anchor-nav"
                       href="#{item.node.properties.uriPathSegment}">{item.label}</a>
                </li>
            </f:for>

            <f:if condition="{node.nodeType.name} == 'Phlu.Corporate:Page.View.Dossier'">
                <li>
                    <a class="nav-item nav-link anchor-nav" href="#kontakt">Kontakt</a>
                </li>
            </f:if>

        </ul>

    </f:if>
</f:section>
