{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}


<f:render section="default" arguments="{_all}"/>

<f:section name="default">
    <f:if condition="{items}">
        <f:for each="{items}" as="item" iteration="iterator">
            <ts:render path="defaultRenderer" context="{node: item.node, params: {iterator: iterator}}"/>
        </f:for>
    </f:if>
</f:section>

<f:section name="contentonepage">
    <div class="row onepage-teaser-content" id="{node.properties.uriPathSegment}">
        <div class="col-xs-12">

            <h2>{node.properties.title}</h2>

              <ts:render path="renderer" context="{node: teaser}"/>


                <neos:link.node node="{node}" class="btn btn-primary"> Mehr zu {node.properties.title}
                </neos:link.node>

            <f:if condition="{params.iterator.isLast}">
                <f:else>
                    <hr/>
                </f:else>
            </f:if>

        </div>
    </div>
</f:section>


<f:section name="contentdossier">
    <div class="row" id="{node.properties.uriPathSegment}">
        <div class="col-xs-12">


            <h2>{node.properties.title}</h2>

              <ts:render path="renderer" context="{node: onepage}"/>


            <f:if condition="{mainCount} > 0">
                <f:then>
                    <neos:link.node node="{node}" class="btn btn-primary"> Mehr zu {node.properties.title}
                    </neos:link.node>
                </f:then>
            </f:if>

            <f:if condition="{params.iterator.isLast}">
                <f:else>
                    <hr/>
                </f:else>
            </f:if>

        </div>
    </div>
</f:section>
