{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}

<f:render section="default" arguments="{_all}"/>


<f:section name="default">
    <f:if condition="{items}">
        <div class="row phlu-teaser navigation {pageClass}">
            <f:for each="{items}" as="item">
                <div class="col-xs-12 col-md-6 {itemClass} nav-teaser-item clickable">
                    <div>
                        <ts:render path="defaultRenderer" context="{node: item.node}"/>
                    </div>

                </div>
            </f:for>
        </div>
    </f:if>
</f:section>

<f:section name="content">
    <h3>
        <neos:link.node node="{teaserlink.parent}">{teaserheader.properties.text}</neos:link.node>
    </h3>
    <p>
        <f:if condition="{altteasertext}">
            <f:then>
                <f:format.crop maxCharacters="105" append="...">{altteasertext}</f:format.crop>
            </f:then>
            <f:else>
                <f:format.crop maxCharacters="105" append="...">{teasertext.properties.text}</f:format.crop>
            </f:else>
        </f:if>
    </p>
</f:section>
