{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}


<div {attributes -> f:format.raw()} data-ng-controller="PpdbPublicationCtrl" >
    <f:if condition="{sectionCount}>1">
        <f:then>
            {neos:contentElement.editable(property: 'title', tag: 'h2')}
        </f:then>
    </f:if>
    <f:if condition="{top}">
        <ts:render path="top"></ts:render>
    </f:if>
    {widgetRenderer -> f:format.raw()}
    <div class="row ppdb-list hidden-xs-up" data-ng-class="{'hidden-xs-up': result.isStarted() === false}">
        <f:if condition="{showSearchInput}">
            <f:else>
                <div class="col-xs-12">
                    <div class="panel panel-default accordion-filters" data-ng-if="result.count() > 1">

                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a href="#" data-toggle="collapse"
                                   data-target="#accordion-filter-{node.Identifier}"
                                   aria-expanded="false"
                                   class="collapsed">
                                    <i class="fa fa-filter" aria-hidden="true"></i> Filter
                                </a>
                            </h4>
                        </div>
                        <div id="accordion-filter-{node.Identifier}"
                             class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="accordion-filter-{node.Identifier}"
                             aria-expanded="false" style="height: 0px;">

                            <f:render partial="ProjectFilters" arguments="{_all}"/>

                        </div>
                    </div>
                </div>
            </f:else>
        </f:if>
        <f:for each="{publicationsByIdentifier}" as="publication">
            <span data-ng-init="list.addNodesByIdentifier(['{publication.Identifier}']);"></span>
        </f:for>
        <f:if condition="{publicationtype} != 'null'"><span
                data-ng-init="setFilterPublicationType({publicationtype});"></span>
        </f:if>
        <f:if condition="{participants} != 'null'"><span data-ng-init="setFilterParticipants({participants});"></span>
        </f:if>
        <f:if condition="{organisations} != 'null'"><span
                data-ng-init="setFilterOrganisations({organisations});"></span></f:if>
        <f:if condition="{showSearchInput}">
            <div class="col-xs-12">
                <div class="row ">
                    <div class="col-xs-12">

                        <div class="list-search-field">
                            <input type="text" class="c-input form-control" data-ng-model="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span
                                    data-ng-init="setQuery('search');"></span>
                        </div>

                    </div>
                </div>
            </div>
        </f:if>
        <f:if condition="{showSearchInput}">
            <div class="col-xs-12">
                <div class="row subjectsfilternav">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item"
                                data-ng-show="initialFilters.participants === undefined ">
                                <a href="javascript:void(0)" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#participants-{node.Identifier}" role="tab">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span data-toggle="filterCountTag"
                                          data-template='<div class="tooltip filterCountTag" role="tooltip"><span class="tooltip-inner"></span><span class="oi oi-media-record"></span></div>'
                                          data-placement="right" title="" data-offset="26px -6px"
                                          data-trigger="manual">Beteiligte Personen</span>
                                </a>
                                <span>
                                    <span class="count" data-ng-show="sizeOf(participants) > 0"
                                          data-ng-bind="sizeOf(participants)"></span>
                                    <span data-ng-show="sizeOf(participants) > 0" class="resetFilter">
                                        <a ng-click="clearFilter('participants')">
                                            <span class="oi oi-x"></span>
                                        </a>
                                    </span>
                                </span>
                            </li>
                            <li class="nav-item"
                                data-ng-show="initialFilters.organisations === undefined ">
                                <a href="javascript:void(0)" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#organisations-{node.Identifier}" role="tab">
                                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                                    <span>Organisation</span>
                                </a>
                                <span>
                                    <span class="count" data-ng-show="sizeOf(organisations) > 0"
                                          data-ng-bind="sizeOf(organisations)"></span>
                                    <span data-ng-show="sizeOf(organisations) > 0" class="resetFilter">
                                        <a ng-click="clearFilter('organisations')">
                                            <span class="oi oi-x"></span>
                                        </a>
                                    </span>
                                </span>
                            </li>
                            <li class="nav-item"
                                data-ng-show="initialFilters.publicationtype === undefined ">
                                <a href="javascript:void(0)" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#publicationtype-{node.Identifier}" role="tab">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                    <span>Publikationstyp</span>
                                </a>
                                <span>
                                    <span class="count" data-ng-show="sizeOf(publicationtype) > 0"
                                          data-ng-bind="sizeOf(publicationtype)"></span>
                                    <span data-ng-show="sizeOf(publicationtype) > 0" class="resetFilter">
                                        <a ng-click="clearFilter('publicationtype')">
                                            <span class="oi oi-x"></span>
                                        </a>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <div class="tab-content">
                            <div class="result-panel tab-pane " id="participants-{node.Identifier}"
                                 role="tabpanel"
                                 data-ng-show="result.getDistinctCount('persons',false) > 1"><a
                                    class="close-btn"><i
                                    class="fa fa-times" aria-hidden="true"></i></a>
                                <div class="dropdown-search-field">
                                    <input type="text" class="c-input form-control"
                                           data-ng-model="participantsSearch">
                                    <i class="fa fa-search" aria-hidden="true"></i>

                                </div>
                                <div class="search-result-tags" data-ng-show="sizeOf(participants) > 0">
                                    <span class="search-result-tag"
                                          data-ng-repeat="(eventoID,val) in participants" data-ng-if="val"><span
                                            data-ng-bind="val"></span> <i
                                            class="fa fa-times clickable"
                                            aria-hidden="true"
                                            data-ng-click="participants[eventoID] = false;"></i></span>

                                </div>
                                <div class="table-responsive">
                                    <table class="table"
                                           data-ng-show="result.isLoading() === false && result.count() > 0">
                                        <tbody>
                                        <tr class="clickable"
                                            data-ng-click="participants[person.value.EventoID] = person.value.Nachname+ ' ' + person.value.Vorname;"
                                            data-ng-repeat="(key,person) in result.getDistinct('persons',false) |  toArray:false | orderBy:'value.Nachname' | inArrayFilter:participantsSearch"
                                            data-ng-if="person.value.EventoID > 0"
                                            data-ng-show="participants[person.value.EventoID] == undefined || participants[person.value.Nachname] == false">
                                            <td>
                                                <a href="javascript:void(0);"
                                                   data-ng-bind="person.value.Vorname + ' ' + person.value.Nachname">

                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="result-panel tab-pane " id="organisations-{node.Identifier}" role="tabpanel"
                                 data-ng-show="result.getDistinctCount('organisations',false) > 1">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr data-ng-click="organisations[lt.value.OrganisationId] = !organisations[lt.value.OrganisationId] ? true : false;"
                                            data-ng-class="{checked: organisations[lt.value.OrganisationId]}"
                                            data-ng-repeat="lt in result.getDistinct('organisations',false) | toArray:false | orderBy:'value.OrganisationName'">
                                            <td>
                                                <a href="javascript:void(0);">
                                                    <span data-ng-bind="lt.value.OrganisationName + ' ('+ lt.count+')'"></span>
                                                    <span class="oi"
                                                          data-ng-class="{'oi-check': organisations[lt.value.OrganisationId],'': !organisations[lt.value.OrganisationId]}"
                                                          aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <div class="result-panel tab-pane " id="publicationtype-{node.Identifier}" role="tabpanel"
                                 data-ng-show="result.getDistinctCount('publicationtype',false) > 1">
                                <!--<a  class="close-btn">&nbsp;</a>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr data-ng-click="publicationtype[lt.value.id] = !publicationtype[lt.value.id] ? true : false;"
                                            data-ng-class="{checked: publicationtype[lt.value.id]}"
                                            data-ng-repeat="lt in result.getDistinct('publicationtype',false) | toArray:false | orderBy:'value.name'">
                                            <td>
                                                <a href="javascript:void(0);">
                                                    <span data-ng-bind="lt.value.name + ' (' + lt.count + ')'"></span>
                                                    <span class="oi"
                                                          data-ng-class="{'oi-check': publicationtype[lt.value.id],'': !publicationtype[lt.value.id]}"
                                                          aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:if>

        <f:if condition="{showSearchInput}">
            <f:then>
                <div class="col-xs-12">
                    <div class="row ">
                        <div class="col-xs-12">
                            <f:if condition="{showSearchInput}">
                                <div class="resultsCount">
                                    <h3>
                                        <span>Treffer</span>
                                        <span class="loading bar" data-ng-if="result.isLoading()"></span>
                                        <span class="" data-ng-show="result.count()>0"
                                              data-ng-bind="result.count()"></span>
                                    </h3>
                                </div>
                            </f:if>

                            <div class="table-responsive results-table"
                                 data-ng-repeat="(groupkey,group) in result.getGrouped().getItems() | orderBy:'getProperty(\'type.sorting\')'">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="clickable publicationsHeader">
                                            <a data-ng-bind="group.getLabel()"></a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="node in group.getNodes(getLimit(group.getLabel()))"
                                        id="node-{{group.getHashKey()}}-{{$index}}">
                                        <td data-ng-if="node.getProperty('url') == ''">
                                            <div>
                                                <span data-ng-if="node.getProperty('citationstyle') != ''"
                                                      data-ng-bind-html="node.getProperty('citationstyle')"></span>
                                                <span data-ng-if="node.getProperty('citationstyle') == ''"
                                                      data-ng-bind-html="node.getProperty('title')"></span>
                                            </div>
                                        </td>
                                        <td data-ng-if="node.getProperty('url') != ''">
                                            <div>
                                                <a data-ng-href="{{node.getProperty('url')}}" target="_blank">
                                                    <span data-ng-if="node.getProperty('citationstyle') != ''"
                                                          data-ng-bind-html="node.getProperty('citationstyle')"></span>
                                                    <span data-ng-if="node.getProperty('citationstyle') == ''"
                                                          data-ng-bind-html="node.getProperty('title')"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="row">
                                    <div class="col-center">
                                        <a data-ng-click="loadMore(group.getLabel(),'#node-'+group.getHashKey()+'-'+getLimit(group.getLabel()))"
                                           class="btn loadMore"
                                           data-ng-if="group.count() > getLimit(group.getLabel())">
                                            <!--{{limitChunkSize}} -->
                                            mehr anzeigen
                                            <span>
                                                <span data-ng-bind="getLimit(group.getLabel())"></span>
                                                <span class="counter-divider">von</span>
                                                <span data-ng-bind="group.count()"></span>
                                            </span>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </f:then>
            <f:else>

                <span class="loading bar" data-ng-if="result.isLoading()"></span>
                <div class="col-xs-12 publications-list">
                    <div id="phlu-accordion-publications-{node.identifier}" class="phlu-accordion" role="tablist">
                        <div class="panel panel-default"
                             data-ng-repeat="(groupkey,group) in result.getGrouped().getItems() | orderBy:'getProperty(\'type.sorting\')'">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse"
                                       data-parent="#phlu-accordion-publications-{node.identifier}"
                                       href="javascript:void(0)"
                                       data-target="#phlu-accordion-publications-{node.identifier}-{{$index}}"
                                       aria-expanded="false"
                                       aria-controls="#phlu-accordion-publications-{iterator.index}">
                                        <span data-ng-bind="group.getLabel()"></span> (<span
                                            data-ng-bind="group.count()"></span>)
                                    </a>
                                </h4>
                            </div>
                            <div id="phlu-accordion-publications-{node.identifier}-{{$index}}"
                                 class="panel-collapse collapse" role="tabpanel">
                                <div>
                                    <div id="node-{node.identifier}-{{group.getHashKey()}}-{{$index}}"
                                         ng-repeat="node in group.getNodes(getLimit(group.getLabel()))">
                                        <p data-ng-if="node.getProperty('url') == ''">
                                                <span data-ng-if="node.getProperty('citationstyle') != ''"
                                                      data-ng-bind-html="node.getProperty('citationstyle')"></span>
                                            <span data-ng-if="node.getProperty('citationstyle') == ''"
                                                  data-ng-bind-html="node.getProperty('title')"></span>
                                        </p>
                                        <p data-ng-if="node.getProperty('url') != ''">

                                            <a data-ng-href="{{node.getProperty('url')}}" target="_blank">
                                                    <span data-ng-if="node.getProperty('citationstyle') != ''"
                                                          data-ng-bind-html="node.getProperty('citationstyle')"></span>
                                                <span data-ng-if="node.getProperty('citationstyle') == ''"
                                                      data-ng-bind-html="node.getProperty('title')"></span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-center">
                                        <a data-ng-click="loadMore(group.getLabel(),'#node-{node.identifier}-'+group.getHashKey()+'-'+getLimit(group.getLabel()))"
                                           class="btn loadMore"
                                           data-ng-if="group.count() > getLimit(group.getLabel())">
                                            <!--{{limitChunkSize}} -->
                                            mehr anzeigen
                                            <span>
                                                <span data-ng-bind="getLimit(group.getLabel())"></span>
                                                <span class="counter-divider">von</span>
                                                <span data-ng-bind="group.count()"></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>
    <f:if condition="{bottom}">
        <ts:render path="bottom"></ts:render>
    </f:if>
    <hr>
</div>