{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace phlu=PHLU\Neos\NodeTypes\ViewHelpers}


<div {attributes -> f:format.raw()}>
    <f:if condition="{sectionCount}>1">
        <f:then>
            {neos:contentElement.editable(property: 'title', tag: 'h2')}
        </f:then>
    </f:if>
    <div class="row ppdb-list" data-ng-controller="PpdbCtrl">


        <f:for each="{projectsByIdentifier}" as="project">
            <span data-ng-init="list.addNodesByIdentifier(['{project.Identifier}']);"></span>
        </f:for>


        <f:if condition="{researchfocustype} != 'null'"><span data-ng-init="setFilterResearchmainfocus({researchfocustype});"></span></f:if>
        <f:if condition="{researchunittype} != 'null'"><span data-ng-init="setFilterResearchunit({researchunittype});"></span></f:if>
        <f:if condition="{financingtype} != 'null'"><span data-ng-init="setFilterFinancingtypes({financingtype});"></span></f:if>
        <f:if condition="{ppdbstatuslifetime} != 'null'"><span data-ng-init="setFilterLifetime({ppdbstatuslifetime});"></span></f:if>
        <f:if condition="{projectparticipants} != 'null'"><span data-ng-init="setFilterProjectparticipants({projectparticipants});"></span></f:if>
        <f:if condition="{organisations} != 'null'"><span data-ng-init="setFilterOrganisations({organisations});"></span></f:if>



        <f:if condition="{showSearchInput}">
            <div class="col-xs-12">
                <div class="row ">
                    <div class="col-xs-12">

                        <div class="list-search-field">
                            <input type="text" class="c-input form-control" data-ng-model="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span
                                    data-ng-init="setQuery('search');"></span>
                        </div>

                    </div>
                </div>
            </div>
        </f:if>

        <f:if condition="{showSearchInput}">
            <div class="col-xs-12">
                <div class="row subjectsfilternav">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item" data-ng-show="initialFilters.researchmainfocus === undefined && result.getDistinctCount('researchmainfocus') > 0">
                                <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#researchfocus-{node.Identifier}" role="tab">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                    <span>Forschungsschwerpunkte</span>

                                </a>
                            </li>
                            <li class="nav-item" data-ng-show="initialFilters.researchunit === undefined && result.getDistinctCount('researchunit') > 0">
                                <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#researchunit-{node.Identifier}" role="tab">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                    <span>Forschungseinheit</span>

                                </a>
                            </li>
                            <li class="nav-item" data-ng-show="initialFilters.financingtype === undefined && result.getDistinctCount('financingtype') > 0">
                                <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#financing-{node.Identifier}" role="tab">
                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                    <span>Finanzierungstyp</span>
                                </a>
                            </li>
                            <li class="nav-item" data-ng-show="initialFilters.participants === undefined && result.getDistinctCount('participants') > 0">
                                <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#projectparticipants-{node.Identifier}" role="tab">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span data-toggle="filterCountTag"
                                          data-template='<div class="tooltip filterCountTag" role="tooltip"><span class="tooltip-inner"></span><span class="oi oi-media-record"></span></div>'
                                          data-placement="right" title="" data-offset="26px -6px"
                                          data-trigger="manual">Projektbeteiligte Personen</span>
                                </a>
                            </li>
                            <li class="nav-item" data-ng-show="initialFilters.lifetime === undefined && result.getDistinctCount('lifetime') > 0">
                                <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#projectstate-{node.Identifier}" role="tab">
                                    <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                                    <span>Projektstatus</span>
                                </a>
                            </li>
                            <li class="nav-item" data-ng-show="result.getDistinctCount('projectend') > 0">
                                <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#projectenddate-{node.Identifier}" role="tab">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <span>Projektende</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <div class="tab-content">

                            <div class="result-panel tab-pane " id="researchfocus-{node.Identifier}" role="tabpanel"
                                 data-ng-show="result.getDistinctCount('researchmainfocus') > 0">
                                <!--<a href="#" class="close-btn">&nbsp;</a>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr data-ng-class="{checked: researchmainfocus[lt.value.ID]}"
                                            data-ng-repeat="(key,lt) in result.getDistinct('researchmainfocus')">
                                            <td>
                                                <a href="javascript:void(0);"
                                                   data-ng-click="researchmainfocus[lt.value.ID] = !researchmainfocus[lt.value.ID] ? true : false;">
                                                    <i class="fa"
                                                       data-ng-class="{'fa-check-square-o': researchmainfocus[lt.value.ID],'fa-square-o': !researchmainfocus[lt.value.ID]}"
                                                       aria-hidden="true"></i>
                                                    {{lt.value.name}} ({{lt.count}})
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>

                            <div class="result-panel tab-pane " id="researchunit-{node.Identifier}" role="tabpanel"
                                 data-ng-show="result.getDistinctCount('researchunit') > 0">
                                <!--<a href="#" class="close-btn">&nbsp;</a>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr data-ng-class="{checked: researchunit[lt.value.ID]}"
                                            data-ng-repeat="(key,lt) in result.getDistinct('researchunit')">
                                            <td>
                                                <a href="javascript:void(0);"
                                                   data-ng-click="researchunit[lt.value.ID] = !researchunit[lt.value.ID] ? true : false;">
                                                    <i class="fa"
                                                       data-ng-class="{'fa-check-square-o': researchunit[lt.value.ID],'fa-square-o': !researchunit[lt.value.ID]}"
                                                       aria-hidden="true"></i>
                                                    {{lt.value.name}} ({{lt.count}})
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>

                            <div class="result-panel tab-pane " id="financing-{node.Identifier}" role="tabpanel"
                                 data-ng-show="result.getDistinctCount('financingtype') > 0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>

                                        <tr data-ng-class="{checked: financingtype[lt.value]}"
                                            data-ng-repeat="(key,lt) in result.getDistinct('financingtype')">
                                            <td>
                                                <a href="javascript:void(0);"
                                                   data-ng-click="financingtype[lt.value] = !financingtype[lt.value] ? true : false;">
                                                    <i class="fa"
                                                       data-ng-class="{'fa-check-square-o': financingtype[lt.value],'fa-square-o': !financingtype[lt.value]}"
                                                       aria-hidden="true"></i>
                                                    {{lt.value}} ({{lt.count}})
                                                </a>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                                <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <div class="result-panel tab-pane " id="projectparticipants-{node.Identifier}"
                                 role="tabpanel"
                                 data-ng-show="result.getDistinctCount('participants') > 0"><a href="#"
                                                                                               class="close-btn"><i
                                    class="fa fa-times" aria-hidden="true"></i></a>
                                <div class="dropdown-search-field">
                                    <input type="text" class="c-input form-control"
                                           data-ng-model="projectparticipantsSearch">
                                    <i class="fa fa-search" aria-hidden="true"></i>

                                </div>
                                <div class="search-result-tags">
                                    <span class="search-result-tag"
                                          data-ng-repeat="(eventoID,val) in projectparticipants" data-ng-if="val">{{val}} <i
                                            class="fa fa-times clickable"
                                            aria-hidden="true"
                                            data-ng-click="projectparticipants[eventoID] = false;"></i></span>

                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr class="clickable"
                                            data-ng-repeat="(key,person) in result.getDistinct('participants.*') | inArrayFilter:projectparticipantsSearch"
                                            data-ng-if="person.value.EventoID > 0"
                                            data-ng-show="projectparticipants[person.value.EventoID] == undefined || projectparticipants[person.value.EventoID] == false">
                                            <td>
                                                <a href="javascript:void(0);"
                                                   data-ng-click="projectparticipants[person.value.EventoID] = person.value.Nachname+ ' ' + person.value.Vorname;">
                                                    {{person.value.Vorname}} {{person.value.Nachname}}
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="result-panel tab-pane " id="projectstate-{node.Identifier}" role="tabpanel"
                                 data-ng-show="result.getDistinctCount('lifetime') > 0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr data-ng-class="{checked: filterLifetime[lt.value]}"
                                            data-ng-repeat="(key,lt) in result.getDistinct('lifetime')">
                                            <td>
                                                <a href="javascript:void(0);"
                                                   data-ng-click="filterLifetime[lt.value] = !filterLifetime[lt.value] ? true : false;">
                                                    <i class="fa"
                                                       data-ng-class="{'fa-check-square-o': filterLifetime[lt.value],'fa-square-o': !filterLifetime[lt.value]}"
                                                       aria-hidden="true"></i>
                                                    {{lt.value}} ({{lt.count}})
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="result-panel tab-pane " id="projectenddate-{node.Identifier}" role="tabpanel"
                                 data-ng-show="result.getDistinctCount('projectend') > 0">
                                <div id="datepicker"></div>
                                <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </f:if>

        <div class="col-xs-12">
            <div class="row results-table">
                <div class="col-xs-12">
                    <f:if condition="{showSearchInput}"><h2>Treffer ({{result.count()}})</h2></f:if>
                    <div class="table-responsive  ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="clickable">
                                    <a href="#">Projektname</a>
                                </th>
                                <th class="clickable">
                                    <a href="#">Schwerpunkte</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="node in result.getNodes() | orderBy:'-score'"
                                   data-ng-click="node.isopen = node.isopen ? false : true">
                            <tr data-ng-class="{open: node.isopen,noborder: $index > 0}" class="clickable"
                                data-node-id="{{node.identifier}}">
                                <td>
                                        <span class="oi"
                                              data-ng-class="{'oi-caret-right': !node.isopen, 'oi-caret-bottom': node.isopen}"></span>
                                    <span>
                                        {{node.getProperty('title')}}
                                    </span>

                                    <div class="mobile-view-columns">
                                                        <span class="header">
                                                            Schwerpunkte
                                                        </span>

                                        <span data-ng-repeat="focus in node.getProperty('researchmainfocus') track by $index">- {{focus.name}}<br></span>
                                    </div>
                                </td>
                                <td>
                                    <span data-ng-repeat="focus in node.getProperty('researchmainfocus') track by $index">- {{focus.name}}<br></span>
                                </td>
                            </tr>
                            <tr class="result-preview" data-ng-show="node.isopen">
                                <td colspan="2">
                                    <div>
                                      <p ng-bind-html="node.getProperty('teasertextgerman').substr(0,255)"></p>
                                        <a class="btn btn-primary" href="{{node.getUrl()}}">
                                            Details
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
        <span data-ng-init="list.run()"></span>
    </div>
</div>