{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}


<div {attributes -> f:format.raw()} data-ng-controller="EventoFurtherEducationCtrl"
    data-ng-init='setNodeTypes({nodetypes -> f:format.raw()});'>
    <f:if condition="{sectionCount}>1">
        <f:then>
            {neos:contentElement.editable(property: 'title', tag: 'h2')}
        </f:then>
    </f:if>

    <f:if condition="{nodetypes}"><span data-ng-init="setNodeTypes({nodetypes})"></span></f:if>
    <f:if condition="{genres}"><span data-ng-init="setFilter({genres},'genre')"></span></f:if>
    <f:if condition="{targetgroups}"><span data-ng-init="setFilter({targetgroups},'targetgroups')"></span></f:if>
    <f:if condition="{nrs}"><span data-ng-init="setFilter({nrs},'nr')"></span></f:if>
    <f:if condition="{ids}"><span data-ng-init="setFilter({ids},'id')"></span></f:if>

    <f:if condition="{IsEmpfohlen}"><span data-ng-init="setFilter({IsEmpfohlen},'IsEmpfohlen')"></span></f:if>
    <f:if condition="{IsLastMinute}"><span data-ng-init="setFilter({IsLastMinute},'IsLastMinute')"></span></f:if>
    <f:if condition="{IsNeuste}"><span data-ng-init="setFilter({IsNeuste},'IsNeuste')"></span></f:if>


    <f:if condition="{query}"><span data-ng-init="searchquery = '{query}'"></span></f:if>
    <f:if condition="{maxitems} > 0"><span data-ng-init="setMaxItems({maxitems})"></span></f:if>
    <f:if condition="{orderby} != ''"><span data-ng-init="setOrderBy('{orderby}')"></span></f:if>

    <f:if condition="{top}">
    <ts:render path="top"></ts:render>
    </f:if>

    <img src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/loading.svg')}" alt="loading"
         class="loadingIcon"
         data-ng-if="result.isLoading()"/>

    <div class="row further-education-list hidden-xs-up"
         data-ng-class="{'hidden-xs-up': result.isStarted() === false}">

        <div class="col-xs-12">

            <div class="row results-table further-education-special-search">
                <div class="col-xs-12">

                    <ts:render path="listView"></ts:render>

                    <div class="row">
                        <div class="col-center">
                            <a data-ng-click="loadMore('#node-'+result.getIdentifier()+'-'+limit);"
                               class="btn loadMore"
                               data-ng-if="result.count() > limit">
                                <!--{{limitChunkSize}} -->
                                mehr anzeigen
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <f:if condition="{bottom}">
    <ts:render path="bottom"></ts:render>
    </f:if>
</div>