{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}


<div {attributes -> f:format.raw()} data-ng-controller="EventoFurtherEducationCtrl"
    data-ng-init='setNodeTypes({nodetypes -> f:format.raw()});'>
    <f:if condition="{sectionCount}>1">
        <f:then>
            {neos:contentElement.editable(property: 'title', tag: 'h2')}
        </f:then>
    </f:if>

    <f:if condition="{nodetypes}"><span data-ng-init="setNodeTypes({nodetypes})"></span></f:if>

    <f:if condition="{genres}"><span data-ng-init="setFilter({genres},'genre')"></span></f:if>
    <f:if condition="{targetgroups}"><span data-ng-init="setFilter({targetgroups},'targetgroups')"></span></f:if>
    <f:if condition="{nrs}"><span data-ng-init="setFilter({nrs},'nr')"></span></f:if>

    <f:if condition="{ids}"><span data-ng-init="setFilter({ids},'id')"></span></f:if>

    <f:if condition="{isEmpfohlen}"><span data-ng-init="setFilter({isEmpfohlen},'isEmpfohlen')"></span></f:if>
    <f:if condition="{isLastMinute}"><span data-ng-init="setFilter({isLastMinute},'isLastMinute')"></span></f:if>
    <f:if condition="{isNeuste}"><span data-ng-init="setFilter({isNeuste},'isNeuste')"></span></f:if>
    <f:if condition="{isVisited}"><span data-ng-init="setFilter(getVisitedNodes(),'isVisited')"></span></f:if>

    <f:if condition="{query}"><span data-ng-init="searchquery = '{query}'"></span></f:if>
    <f:if condition="{maxitems} > 0"><span data-ng-init="setMaxItems({maxitems})"></span></f:if>

    <span data-ng-init="setOrderBy('{orderby}')"></span>

    <f:if condition="{top}">
        <ts:render path="top"></ts:render>
    </f:if>

    {widgetRenderer -> f:format.raw()}

    <div class="row further-education-list hidden-xs-up"
         data-ng-class="{'hidden-xs-up': result.isStarted() === false}">

        <div class="col-xs-12">

            <div class="panel panel-default accordion-filters" data-ng-if="result.count() > 1">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a href="#" data-toggle="collapse"
                           data-target="#accordion-filter-{node.Identifier}"
                           aria-expanded="false"
                           class="collapsed">
                            <i class="fa fa-filter" aria-hidden="true"></i> Filter
                        </a>
                    </h4>
                </div>
                <div id="accordion-filter-{node.Identifier}"
                     class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="accordion-filter-{node.Identifier}"
                     aria-expanded="false" style="height: 0px;">
                    <div class="row ">
                        <div class="col-xs-12">

                            <div class="list-search-field">
                                <input type="text" class="c-input form-control ng-pristine ng-valid ng-empty ng-touched"
                                       data-ng-model="searchquery">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <span data-ng-init="setQuery('search');"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row results-table further-education-special-search">
                <div class="col-xs-12">

                    <ts:render path="listView"></ts:render>

                    <div class="row">
                        <div class="col-center">
                            <a data-ng-click="loadMore('#node-'+result.getIdentifier()+'-'+limit);"
                               class="btn loadMore"
                               data-ng-if="result.count() > limit">
                                <!--{{limitChunkSize}} -->
                                mehr anzeigen
                                <span>
                                    <span data-ng-bind="limit"></span>
                                    <span class="counter-divider">von</span>
                                    <span data-ng-bind="result.count()"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="loading bar" data-ng-if="result.isLoading()"></span>
    <f:if condition="{bottom}">
        <ts:render path="bottom"></ts:render>
    </f:if>
    <f:if condition="{node.parent.nodeType.name} == 'Phlu.Corporate:ContentCollection.WidgetGroupReferences'">
        <f:else>
            <hr/>
        </f:else>
    </f:if>

</div>