{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}


<div {attributes -> f:format.raw()} data-ng-controller="EventoFurtherEducationCtrl"  data-ng-init='setNodeTypes({nodetypes -> f:format.raw()});'>
    <f:if condition="{sectionCount}>1">
        <f:then>
            {neos:contentElement.editable(property: 'title', tag: 'h2')}
        </f:then>
    </f:if>

    <span data-ng-init="setNodeTypes({nodetypes})"></span>
    <span data-ng-init="setFilter({genres},'genre')"></span>
    <span data-ng-init="setFilter({targetgroups},'targetgroups')"></span>
    <span data-ng-init="setFilter({nrs},'nr')"></span>

    <img src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/loading.svg')}" alt="loading" class="loadingIcon"
         data-ng-if="result.isLoading()"/>

    <div class="row further-education-list hidden-xs-up" data-ng-class="{'hidden-xs-up': result.isStarted() === false}">

        <div class="col-xs-12">

            <div class="row results-table">
                <div class="col-xs-12">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="clickable">
                                    <a href="#">Angebot</a>
                                </th>
                                <th class="clickable">
                                    <a href="#">Nr</a> <span class="oi oi-caret-bottom"></span>
                                </th>
                            </tr>

                            </thead>
                            <tbody ng-repeat="node in result.getNodes(limit)"
                                   data-ng-click="node.isopen = node.isopen ? false : true">
                            <tr data-ng-class="{open: node.isopen,noborder: $index > 0}" class="clickable"
                                data-node-id="{{node.identifier}}">
                                <td>
                                        <span class="oi"
                                              data-ng-class="{'oi-caret-right': !node.isopen, 'oi-caret-bottom': node.isopen}"></span>
                                    <span>
                                        {{node.getProperty('title')}}
                                    </span>
                                </td>
                                <td>
                                    {{node.getProperty('nr')}}
                                </td>
                            </tr>
                            <tr class="result-preview" data-ng-show="node.isopen">
                                <td colspan="2">
                                    <div>
                                        <p ng-bind-html="node.getProperty('description').substr(0,255)"></p>
                                        <a class="btn btn-primary" href="{{node.getUrl()}}">
                                            Details
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-center">
                            <a data-ng-click="loadMore();" class="btn loadMore"
                               data-ng-if="result.count() > limit">
                                <!--{{limitChunkSize}} -->
                                mehr anzeigen
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>