{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace phlu=PHLU\Neos\NodeTypes\ViewHelpers}


<div {attributes -> f:format.raw()} data-ng-controller="PpdbPublicationCtrl" >
    <f:if condition="{sectionCount}>1">
        <f:then>
            {neos:contentElement.editable(property: 'title', tag: 'h2')}
        </f:then>
    </f:if>

    <div class="row ppdb-list hidden-xs-up" data-ng-class="{'hidden-xs-up': result.isStarted() === false}">

        <f:for each="{publicationsByIdentifier}" as="publication">
            <span data-ng-init="list.addNodesByIdentifier(['{publication.Identifier}']);"></span>
        </f:for>



        <f:if condition="{publicationtype} != 'null'"><span data-ng-init="setFilterPublicationType({publicationtype});"></span>
        </f:if>

        <f:if condition="{participants} != 'null'"><span data-ng-init="setFilterParticipants({participants});"></span>
        </f:if>
        <f:if condition="{organisations} != 'null'"><span
                data-ng-init="setFilterOrganisations({organisations});"></span></f:if>

        <f:if condition="{showSearchInput}">
            <div class="col-xs-12">
                <div class="row ">
                    <div class="col-xs-12">

                        <div class="list-search-field">
                            <input type="text" class="c-input form-control" data-ng-model="search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span
                                    data-ng-init="setQuery('search');"></span>
                        </div>

                    </div>
                </div>
            </div>
        </f:if>


        <f:if condition="{showSearchInput}">
            <div class="col-xs-12">
                <div class="row subjectsfilternav">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills" role="tablist">

                            <li class="nav-item"
                                data-ng-show="initialFilters.participants === undefined && result.getDistinctCount('persons') > 1">
                                <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#participants-{node.Identifier}" role="tab">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span data-toggle="filterCountTag"
                                          data-template='<div class="tooltip filterCountTag" role="tooltip"><span class="tooltip-inner"></span><span class="oi oi-media-record"></span></div>'
                                          data-placement="right" title="" data-offset="26px -6px"
                                          data-trigger="manual">Beteiligte Personen</span>
                                    <span class="count" data-ng-show="sizeOf(participants) > 0">{{sizeOf(participants)}}</span>
                                </a>
                                <span data-ng-show="sizeOf(participants) > 0" class="resetFilter">
                                    <a href="#" ng-click="clearFilter('participants')" >
                                        <span class="oi oi-x"></span>
                                    </a>
                                </span>

                            </li>

                            <li class="nav-item"
                                data-ng-show="initialFilters.organisations === undefined && result.getDistinctCount('organisations') > 1">
                                <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#organisations-{node.Identifier}" role="tab">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                    <span>Abteilung</span>
                                    <span class="count" data-ng-show="sizeOf(organisations) > 0">{{sizeOf(organisations)}}</span>
                                </a>
                                <span data-ng-show="sizeOf(organisations) > 0" class="resetFilter">
                                    <a href="#" ng-click="clearFilter('organisations')" >
                                        <span class="oi oi-x"></span>
                                    </a>
                                </span>
                            </li>

                            <li class="nav-item"
                                data-ng-show="initialFilters.publicationtype === undefined && result.getDistinctCount('publicationtype') > 1">
                                <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                                   data-target="#publicationtype-{node.Identifier}" role="tab">
                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                    <span>Publikationstyp</span>
                                    <span class="count" data-ng-show="sizeOf(publicationtype) > 0">{{sizeOf(publicationtype)}}</span>
                                </a>
                                <span data-ng-show="sizeOf(publicationtype) > 0" class="resetFilter">
                                    <a href="#" ng-click="clearFilter('publicationtype')" >
                                        <span class="oi oi-x"></span>
                                    </a>
                                </span>
                            </li>

                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <div class="tab-content">


                            <div class="result-panel tab-pane " id="participants-{node.Identifier}"
                                 role="tabpanel"
                                 data-ng-show="result.getDistinctCount('persons') > 1"><a href="#"
                                                                                          class="close-btn"><i
                                    class="fa fa-times" aria-hidden="true"></i></a>
                                <div class="dropdown-search-field">
                                    <input type="text" class="c-input form-control"
                                           data-ng-model="participantsSearch">
                                    <i class="fa fa-search" aria-hidden="true"></i>

                                </div>
                                <div class="search-result-tags">
                                    <span class="search-result-tag"
                                          data-ng-repeat="(eventoID,val) in participants" data-ng-if="val">{{val}} <i
                                            class="fa fa-times clickable"
                                            aria-hidden="true"
                                            data-ng-click="participants[eventoID] = false;"></i></span>

                                </div>

                                <div class="table-responsive">
                                    <table class="table" data-ng-show="result.isLoading() === false && result.count() > 0">
                                        <tbody>
                                        <tr class="clickable"
                                            data-ng-click="participants[person.value.EventoID] = person.value.Nachname+ ' ' + person.value.Vorname;"
                                            data-ng-repeat="(key,person) in result.getDistinct('persons') | inArrayFilter:participantsSearch"
                                            data-ng-if="person.value.EventoID > 0"
                                            data-ng-show="participants[person.value.EventoID] == undefined || participants[person.value.EventoID] == false">
                                            <td>
                                                <a href="javascript:void(0);">
                                                    {{person.value.Vorname}} {{person.value.Nachname}}
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="result-panel tab-pane " id="organisations-{node.Identifier}" role="tabpanel"
                                 data-ng-show="result.getDistinctCount('organisations') > 1">
                                <!--<a href="#" class="close-btn">&nbsp;</a>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr data-ng-click="organisations[lt.value.OrganisationId] = !organisations[lt.value.OrganisationId] ? true : false;"
                                            data-ng-class="{checked: organisations[lt.value.OrganisationId]}"
                                            data-ng-repeat="lt in result.getDistinct('organisations') | toArray:false | orderBy:'value.OrganisationName'">
                                            <td>
                                                <a href="javascript:void(0);">
                                                    <i class="fa"
                                                       data-ng-class="{'fa-check-square-o': organisations[lt.value.OrganisationId],'fa-square-o': !organisations[lt.value.OrganisationId]}"
                                                       aria-hidden="true">
                                                    </i>
                                                    <span>
                                                        {{lt.value.OrganisationName}} ({{lt.count}})
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>

                            <div class="result-panel tab-pane " id="publicationtype-{node.Identifier}" role="tabpanel"
                                 data-ng-show="result.getDistinctCount('publicationtype') > 1">
                                   <!--<a href="#" class="close-btn">&nbsp;</a>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr data-ng-click="publicationtype[lt.value.id] = !publicationtype[lt.value.id] ? true : false;"
                                            data-ng-class="{checked: publicationtype[lt.value.id]}"
                                            data-ng-repeat="lt in result.getDistinct('publicationtype') | toArray:false | orderBy:'value.name'">
                                            <td>
                                                <a href="javascript:void(0);">
                                                    <i class="fa"
                                                       data-ng-class="{'fa-check-square-o': publicationtype[lt.value.id],'fa-square-o': !publicationtype[lt.value.id]}"
                                                       aria-hidden="true"></i>
                                                    <span>
                                                        {{lt.value.name}} ({{lt.count}})
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </f:if>


        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <f:if condition="{showSearchInput}"><div class="resultsCount"><h2>Treffer ({{result.count()}})</h2></div></f:if>
                    <div class="projectsAndPublicationsListLoadingScreen" data-ng-if="result.isLoading()">
                        <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/loading.svg')}" alt="loading" class="loadingIcon"
                        />
                    </div>


                    <div class="table-responsive"  data-ng-repeat="group in result.getGrouped().getItems() | orderBy:'getProperty(\'type.sorting\')'">

                           <table class="table">
                            <thead>
                            <tr>
                                <th class="clickable publicationsHeader">
                                    <a href="#">{{group.getLabel()}}</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="node in group.getNodes(getLimit(group.getLabel()))"
                                data-node-id="{{node.identifier}}">
                                <td data-ng-if="node.getProperty('url') == ''">
                                    <div>
                                    <span data-ng-if="node.getProperty('citationstyle') != ''">{{node.getProperty('citationstyle')}}</span>
                                    <span data-ng-if="node.getProperty('citationstyle') == ''">{{node.getProperty('title')}}</span>
                                    </div>
                                </td>
                                <td data-ng-if="node.getProperty('url') != ''">
                                    <div>
                                    <a href="{{node.getProperty('url')}}" target="_blank">
                                        <span data-ng-if="node.getProperty('citationstyle') != ''">{{node.getProperty('citationstyle')}}</span>
                                        <span data-ng-if="node.getProperty('citationstyle') == ''">{{node.getProperty('title')}}</span>
                                    </a>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="row">
                            <div class="col-center">
                                <a data-ng-click="loadMore(group.getLabel());" class="btn loadMore"
                                   data-ng-if="group.count() > getLimit(group.getLabel())">
                                    <!--{{limitChunkSize}} -->
                                    mehr anzeigen
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <span data-ng-init="list.run()"></span>
    </div>
</div>