{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}


<div class="row extendedSearchBg">

    <div class="col-xs-12">
        <div>

            <div class="row">

                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-btn nodeTypeSwitcher"
                             data-ng-class="{'isloading': isUserChangedNodeType && !isLoadedFirst()}">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                                    data-ng-click="setUserChangedNodeType()">
                                <span data-ng-bind="nodetypesFilterCurrentLabel"></span>

                                <img src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/loading-white.svg')}"
                                     alt="loading"
                                     class="loadingIcon"
                                     data-ng-if="isUserChangedNodeType && !isLoadedFirst()"
                                />

                            </button>

                            <ul class="dropdown-menu">
                                <li data-ng-if="!isLoadedFirst()"/>
                                <li data-ng-if="isLoadedFirst()" data-ng-repeat="f in nodetypesFilter"
                                    data-ng-click="setNodetypesFilter(f);">
                                    <a href="javascript:void(0);" data-ng-bind="f.label"></a>
                                </li>
                            </ul>

                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" aria-label="Suche" data-ng-model="searchquery"
                               value="">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div><!-- /input-group -->


                    <div class="extendedSearch">

                        <button ng-cloak type="button" class="btn btn-default"
                                data-ng-click="setUserExtendedSearch()"
                                data-ng-class="{isloading:isUserExtendedSearch && !isLoadedFirst(), disabled: result.isLoading() === true || (isUserChangedNodeType && !isLoadedFirst())}">
                            Erweiterte Suche
                            <span class="oi oi-x" data-ng-if="isUserExtendedSearch && isLoadedFirst()"></span>

                            <img src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/loading-white.svg')}"
                                 alt="loading"
                                 class="loadingIcon"
                                 data-ng-if="isUserExtendedSearch && !isLoadedFirst()"
                            />
                            <span class="count"
                                  data-ng-bind="countCurrentFilters(nodetypesFilterCurrentCategory)"
                                  data-ng-show="countCurrentFilters(nodetypesFilterCurrentCategory) > 0"></span>
                        </button>

                    </div>
                </div><!-- /.col-lg-6 -->

            </div>

            <div class="row extendedSearchFilter">


                <div data-ng-if="isLoadedFirst()">
                    <div data-ng-show="nodetypesFilterCurrentLabel == 'Alle'" class="col-xs-12">
                        <h3>Kurse und Studiengänge</h3>

                        <div class="row input-group">
                            <div name="scholarYear" class="input-item-col col-sm-12 col-md-2">
                                <label>Schul-/Studienjahr </label>
                                <div class="dropdown-toggle search-result-tags" data-toggle="dropdown"
                                     role="button"
                                     aria-haspopup="true" aria-expanded="false"
                                     data-ng-class="{'with-delete-btn': countCurrentFilters('Alle','year') > 0}">
                                    <span data-ng-bind="getFilterSelectedPreview(filters.year,'Alle')"></span>

                                </div>

                                <div class="tagFadeOutBg"></div>
                                <div class="deleteDropdownSelectionButton"
                                     data-ng-show="countCurrentFilters('Alle','year') > 0">
                                    <a class="preventDefault" href="javascript:void(0)"
                                       data-ng-click="resetFilter('Alle','year')">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <ul class="dropdown-menu">
                                    <li value=""
                                        data-ng-repeat="year in result.getDistinct('furthereducation-years.Year.*',false)  | orderObjectBy:'value'"
                                        data-ng-class="{'selected': isFilterValueSelected(year.value,filters.year), '': !isFilterValueSelected(year.value,filters.year)}">
                                        <a href="javascript:void(0)"
                                           data-ng-click="toggleFilterSelection(year,'Alle','year')">
                                            <span data-ng-bind="year.value"></span>
                                            <span class="oi" data-ng-class="{'oi-check': isFilterValueSelected(year.value,filters.year),'': !isFilterValueSelected(year.value,filters.year)}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>

                            </div>

                            <div class="input-item-col col-sm-12 col-md-5"
                                 data-ng-class="{disabled: result.getDistinctCount('targetgroups.Bezeichnung') == 0}">
                                <label>Zielgruppen</label>
                                <div class="dropdown-toggle search-result-tags" data-toggle="dropdown"
                                     role="button"
                                     aria-haspopup="true" aria-expanded="false"
                                     data-ng-class="{'with-delete-btn': countCurrentFilters('Alle','targetgroups') > 0}">
                                    <span data-ng-bind="getFilterSelectedPreview(filters.targetgroups,'Alle')"></span>
                                </div>
                                <div class="tagFadeOutBg"></div>
                                <div class="deleteDropdownSelectionButton"
                                     data-ng-show="countCurrentFilters('Alle','targetgroups') > 0">
                                    <a class="preventDefault" href="javascript:void(0)"
                                       data-ng-click="resetFilter('Alle','targetgroups')">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <ul class="dropdown-menu">
                                    <li value=""
                                        data-ng-repeat="targetgroup in result.getDistinct('targetgroups.Bezeichnung')  | orderObjectBy:'value'"
                                        data-ng-class="{'selected': isFilterValueSelected(targetgroup.value,filters.targetgroups), '': !isFilterValueSelected(targetgroup.value,filters.targetgroups)}">
                                        <a href="javascript:void(0)"
                                           data-ng-click="toggleFilterSelection(targetgroup,'Alle','targetgroups')">
                                            <span data-ng-bind="targetgroup.value"></span>
                                            <span class="oi" data-ng-class="{'oi-check': isFilterValueSelected(targetgroup.value,filters.targetgroups),'': !isFilterValueSelected(targetgroup.value,filters.targetgroups)}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row input-group">
                            <div class="input-item-col col-xs-6 col-sm-3">
                                <div class="checkbox">
                                    <input type="checkbox" id="freie-plaetze-kurse-all"
                                           data-ng-model="bookable.Alle"
                                           data-ng-change="changeBookable('Alle')" data-ng-true-value="1"
                                           data-ng-false-value="0"
                                           name="freie-plaetze-kurse-all"/>
                                    <label for="freie-plaetze-kurse-all"><span>&nbsp;</span>Freie Plätze</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div data-ng-show="nodetypesFilterCurrentCategory == 'Studiengang'" class="col-xs-12">
                        <h3>Weiterbildungsstudiengänge</h3>


                        <div class="row input-group">
                            <div name="scholarYear" class="input-item-col col-sm-12 col-md-2">
                                <label>Schul-/Studienjahr</label>
                                <div class="dropdown-toggle search-result-tags" data-toggle="dropdown"
                                     role="button"
                                     aria-haspopup="true" aria-expanded="false"
                                     data-ng-class="{'with-delete-btn': countCurrentFilters('Studiengang','year') > 0}">
                                    <span data-ng-bind="getFilterSelectedPreview(filters.year,'Studiengang')"></span>
                                </div>
                                <div class="tagFadeOutBg"></div>
                                <div class="deleteDropdownSelectionButton"
                                     data-ng-show="countCurrentFilters('Studiengang','year') > 0">
                                    <a class="preventDefault" href="javascript:void(0)"
                                       data-ng-click="resetFilter('Studiengang','year')">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <ul class="dropdown-menu">
                                    <li value=""
                                        data-ng-repeat="year in result.getDistinct('study-furthereducation-years.Year.*', false)  | orderObjectBy:'value'"
                                        data-ng-class="{'selected': isFilterValueSelected(year.value,filters.year), '': !isFilterValueSelected(year.value,filters.year)}"
                                    >
                                        <a href="javascript:void(0)"
                                           data-ng-click="toggleFilterSelection(year,'Studiengang','year')">
                                            <span data-ng-bind="year.value"></span>
                                            <span class="oi" data-ng-class="{'oi-check': isFilterValueSelected(year.value,filters.year),'': !isFilterValueSelected(year.value,filters.year)}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div name="targetDegree" class="input-item-col col-sm-12 col-md-5"
                                 data-ng-class="{'disabled': !result.getDistinctCount('graduation')}">
                                <label>Typ/Abschluss</label>
                                <div class="dropdown-toggle search-result-tags" data-toggle="dropdown"
                                     role="button"
                                     aria-haspopup="true" aria-expanded="false"
                                     data-ng-class="{'with-delete-btn': countCurrentFilters('Studiengang','graduation') > 0}">
                                    <span data-ng-bind="getFilterSelectedPreview(filters.graduation,'Studiengang')"></span>
                                    <!--<a href="javascript:void(0)" class="search-result-tag" data-ng-repeat="item in filters.graduation.selected" data-ng-show="item.state">-->
                                    <!--<span data-ng-bind="item.value"></span>-->
                                    <!--&lt;!&ndash;<i class="fa fa-times clickable" aria-hidden="true"></i>&ndash;&gt;-->
                                    <!--</a>-->
                                </div>
                                <div class="tagFadeOutBg"></div>
                                <div class="deleteDropdownSelectionButton"
                                     data-ng-show="countCurrentFilters('Studiengang','graduation') > 0">
                                    <a class="preventDefault" href="javascript:void(0)"
                                       data-ng-click="resetFilter('Studiengang','graduation')">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <ul class="dropdown-menu">
                                    <li value=""
                                        data-ng-repeat="graduation in result.getDistinct('graduation')  | orderObjectBy:'value'"
                                        data-ng-class="{'selected': isFilterValueSelected(graduation.value,filters.graduation), '': !isFilterValueSelected(graduation.value,filters.graduation)}"
                                    >
                                        <a href="javascript:void(0)"
                                           data-ng-click="toggleFilterSelection(graduation,'Studiengang','graduation')">
                                            <span data-ng-bind="graduation.value"></span>
                                            <span class="oi" data-ng-class="{'oi-check': isFilterValueSelected(graduation.value,filters.graduation),'': !isFilterValueSelected(graduation.value,filters.graduation)}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="input-item-col col-sm-12 col-md-5"
                                 data-ng-class="{'disabled': !result.getDistinctCount('study-furthereducation-targetgroups.Bezeichnung')}">
                                <label>Zielgruppen</label>
                                <div class="dropdown-toggle search-result-tags" data-toggle="dropdown"
                                     role="button"
                                     aria-haspopup="true" aria-expanded="false"
                                     data-ng-class="{'with-delete-btn': countCurrentFilters('Studiengang','targetgroups') > 0}">
                                    <span data-ng-bind="getFilterSelectedPreview(filters.targetgroups,'Studiengang')"></span>
                                </div>
                                <div class="tagFadeOutBg"></div>
                                <div class="deleteDropdownSelectionButton"
                                     data-ng-show="countCurrentFilters('Studiengang','targetgroups') > 0">
                                    <a class="preventDefault" href="javascript:void(0)"
                                       data-ng-click="resetFilter('Studiengang','targetgroups')">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <ul class="dropdown-menu">
                                    <li value=""
                                        data-ng-repeat="targetgroup in result.getDistinct('study-furthereducation-targetgroups.Bezeichnung')  | orderObjectBy:'value'"
                                        data-ng-class="{'selected': isFilterValueSelected(targetgroup.value,filters.targetgroups), '': !isFilterValueSelected(targetgroup.value,filters.targetgroups)}"
                                    >
                                        <a href="javascript:void(0)"
                                           data-ng-click="toggleFilterSelection(graduation,'Studiengang','graduation')">
                                            <span data-ng-bind="targetgroup.value"></span>
                                            <span class="oi" data-ng-class="{'oi-check': isFilterValueSelected(targetgroup.value,filters.targetgroups),'': !isFilterValueSelected(targetgroup.value,filters.targetgroups)}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="input-item-col col-sm-6 col-md-3">
                                <div class="checkbox">
                                    <input type="checkbox" id="freie-plaetze-studiengang"
                                           data-ng-model="bookable.Studiengang"
                                           data-ng-change="changeBookable('Studiengang')" data-ng-true-value="1"
                                           data-ng-false-value="0"
                                           name="freie-plaetze"/>
                                    <label for="freie-plaetze-studiengang"><span>&nbsp;</span>Freie
                                        Plätze</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div data-ng-show="nodetypesFilterCurrentLabel == 'Kurse'" class="col-xs-12">
                        <h3>Kurse</h3>

                        <div class="row input-group">
                            <div name="scholarYear" class="input-item-col col-sm-12 col-md-3">
                                <label>Schul-/Studienjahr</label>
                                <div class="dropdown-toggle search-result-tags" data-toggle="dropdown"
                                     role="button"
                                     aria-haspopup="true" aria-expanded="false"
                                     data-ng-class="{'with-delete-btn': countCurrentFilters('Kurs','year') > 0}">
                                    <span data-ng-bind="getFilterSelectedPreview(filters.year,'Kurs')"></span>
                                </div>
                                <div class="tagFadeOutBg"></div>
                                <div class="deleteDropdownSelectionButton"
                                     data-ng-show="countCurrentFilters('Kurs','year') > 0">
                                    <a class="preventDefault" href="javascript:void(0)"
                                       data-ng-click="resetFilter('Kurs','year')">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <ul class="dropdown-menu">
                                    <li value=""
                                        data-ng-repeat="year in result.getDistinct('module-furthereducation-years.Year.*', false)  | orderObjectBy:'value'"
                                        data-ng-class="{'selected': isFilterValueSelected(year.value,filters.year), '': !isFilterValueSelected(year.value,filters.year)}"
                                    >
                                        <a href="javascript:void(0)"
                                           data-ng-click="toggleFilterSelection(year,'Kurs','year')">
                                            <span data-ng-bind="year.value"></span>
                                            <span class="oi" data-ng-class="{'oi-check': isFilterValueSelected(year.value,filters.year),'': !isFilterValueSelected(year.value,filters.year)}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="input-item-col col-sm-12 col-md-3">

                                <label>Kursnummer</label>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" class="form-control"
                                       data-ng-model="search.courseNrModule"
                                       data-ng-change="setFilterSelectionValue(search.courseNrModule,'Kurs','nr');">


                            </div>
                            <div name="weekday" class="input-item-col col-sm-12 col-md-3">
                                <label>Wochentag</label>
                                <div class="dropdown-toggle search-result-tags" data-toggle="dropdown"
                                     role="button"
                                     aria-haspopup="true" aria-expanded="false"
                                     data-ng-class="{'with-delete-btn': countCurrentFilters('Kurs','dayofweek') > 0}">
                                    <span data-ng-bind="getFilterSelectedPreview(filters.dayofweek,'Kurs')"></span>
                                </div>
                                <div class="tagFadeOutBg"></div>
                                <div class="deleteDropdownSelectionButton"
                                     data-ng-show="countCurrentFilters('Kurs','dayofweek') > 0">
                                    <a class="preventDefault" href="javascript:void(0)"
                                       data-ng-click="resetFilter('Kurs','dayofweek')">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <ul class="dropdown-menu">
                                    <li value=""
                                        data-ng-repeat="dayofweek in result.getDistinct('module-furthereducation-start.format.A')  | orderObjectBy:'value'"
                                        data-ng-class="{'selected': isFilterValueSelected(dayofweek.value,filters.dayofweek), '': !isFilterValueSelected(dayofweek.value,filters.dayofweek)}"
                                    >
                                        <a href="javascript:void(0)"
                                           data-ng-click="toggleFilterSelection(dayofweek,'Kurs','dayofweek')">
                                            <span data-ng-bind="dayofweek.value"></span>
                                            <span class="oi" data-ng-class="{'oi-check': isFilterValueSelected(dayofweek.value,filters.dayofweek),'': !isFilterValueSelected(dayofweek.value,filters.dayofweek)}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="input-item-col col-sm-12 col-md-3">

                                <label>Kursleitung</label>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" class="form-control"
                                       data-ng-model="search.courseLeaderModule"
                                       data-ng-change="setFilterSelectionValue(search.courseLeaderModule,'Kurs','leaders');">


                            </div>
                        </div>


                        <div class="row input-group">

                            <div class="input-item-col col-sm-12 col-md-6">
                                <label>Zielgruppen</label>
                                <div class="dropdown-toggle search-result-tags" data-toggle="dropdown"
                                     role="button"
                                     aria-haspopup="true" aria-expanded="false"
                                     data-ng-class="{'with-delete-btn': countCurrentFilters('Kurs','targetgroups') > 0}">
                                    <span data-ng-bind="getFilterSelectedPreview(filters.targetgroups,'Kurs')"></span>
                                </div>
                                <div class="tagFadeOutBg"></div>
                                <div class="deleteDropdownSelectionButton"
                                     data-ng-show="countCurrentFilters('Kurs','targetgroups') > 0">
                                    <a class="preventDefault" href="javascript:void(0)"
                                       data-ng-click="resetFilter('Kurs','targetgroups')">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <ul class="dropdown-menu">
                                    <li value=""
                                        data-ng-repeat="targetgroup in result.getDistinct('targetgroups.Bezeichnung')  | orderObjectBy:'value'"
                                        data-ng-class="{'selected': isFilterValueSelected(targetgroup.value,filters.targetgroups), '': !isFilterValueSelected(targetgroup.value,filters.targetgroups)}"
                                    >
                                        <a href="javascript:void(0)"
                                           data-ng-click="toggleFilterSelection(targetgroup,'Kurs','targetgroups')">
                                            <span data-ng-bind="targetgroup.value"></span>
                                            <span class="oi" data-ng-class="{'oi-check': isFilterValueSelected(targetgroup.value,filters.targetgroups),'': !isFilterValueSelected(targetgroup.value,filters.targetgroups)}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="input-item-col col-sm-12 col-md-6">
                                <label>Inhaltsverzeichnis</label>
                                <div class="dropdown-toggle search-result-tags" data-toggle="dropdown"
                                     role="button"
                                     aria-haspopup="true" aria-expanded="false"
                                     data-ng-class="{'with-delete-btn': countCurrentFilters('Kurs','genre') > 0}">
                                    <span data-ng-bind="getFilterSelectedPreview(filters.genre,'Kurs')"></span>
                                </div>
                                <div class="tagFadeOutBg"></div>
                                <div class="deleteDropdownSelectionButton"
                                     data-ng-show="countCurrentFilters('Kurs','genre') > 0">
                                    <a class="preventDefault" href="javascript:void(0)"
                                       data-ng-click="resetFilter('Kurs','genre')">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <ul class="dropdown-menu">
                                    <li value=""
                                        data-ng-repeat="genre in result.getDistinct('genre.Name')  | orderObjectBy:'value'"
                                        data-ng-class="{'selected': isFilterValueSelected(genre.value,filters.genre), '': !isFilterValueSelected(genre.value,filters.genre)}"
                                    >
                                        <a href="javascript:void(0)"
                                           data-ng-click="toggleFilterSelection(genre,'Kurs','genre')">
                                            <span data-ng-bind="genre.value"></span>
                                            <span class="oi" data-ng-class="{'oi-check': isFilterValueSelected(genre.value,filters.genre),'': !isFilterValueSelected(genre.value,filters.genre)}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="input-item-col col-sm-6 col-md-3 disabled">
                                <div class="checkbox">
                                    <input type="checkbox" id="nur-holkurse" name="nur-holkurse"/>
                                    <label for="nur-holkurse"><span>&nbsp;</span>Nur Holkurse</label>
                                </div>
                            </div>
                            <div class="input-item-col col-sm-6 col-md-3">
                                <div class="checkbox">
                                    <input type="checkbox" id="freie-plaetze-kurse"
                                           data-ng-model="bookable.Kurs"
                                           data-ng-change="changeBookable('Kurs')" data-ng-true-value="1"
                                           data-ng-false-value="0"
                                           name="freie-plaetze-kurse"/>
                                    <label for="freie-plaetze-kurse"><span>&nbsp;</span>Freie Plätze</label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>