{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}

<div class="col-xs-12">
    <div class="row ">
        <div class="col-xs-12">

            <div class="list-search-field">
                <input type="text" class="c-input form-control" data-ng-model="search">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span
                        data-ng-init="setQuery('search');"></span>
            </div>

        </div>
    </div>
</div>


<div class="col-xs-12">
    <div class="row subjectsfilternav">
        <div class="col-xs-12">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item"
                    data-ng-show="initialFilters.organisationunits === undefined && result.getDistinctCount('organisationunits',false) > 1">
                    <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                       data-target="#organisationunits-{node.Identifier}" role="tab">
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                        <span>Organisation</span>
                    </a>
                    <span>
                        <span class="count" data-ng-show="sizeOf(organisationunits) > 0" data-ng-bind="sizeOf(organisationunits)"></span>
                        <span data-ng-show="sizeOf(organisationunits) > 0" class="resetFilter">
                            <a ng-click="clearFilter('organisationunits')">
                                <span class="oi oi-x"></span>
                            </a>
                        </span>
                    </span>
                </li>
                <li class="nav-item"
                    data-ng-show="initialFilters.participants === undefined && result.getDistinctCount('projectparticipants',false) > 1">
                    <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                       data-target="#projectparticipants-{node.Identifier}" role="tab">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Projektbeteiligte Personen</span>
                    </a>
                    <span>
                        <span class="count" data-ng-show="sizeOf(projectparticipants) > 0" data-ng-bind="sizeOf(projectparticipants)"></span>
                        <span data-ng-show="sizeOf(projectparticipants) > 0" class="resetFilter">
                            <a ng-click="clearFilter('projectparticipants')">
                                <span class="oi oi-x"></span>
                            </a>
                        </span>
                    </span>
                </li>
                <li class="nav-item"
                    data-ng-show="initialFilters.financingtype === undefined && result.getDistinctCount('financingtype',false) > 1">
                    <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                       data-target="#financing-{node.Identifier}" role="tab">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                        <span>Finanzierungstyp</span>
                    </a>
                    <span>
                        <span class="count" data-ng-show="sizeOf(financingtype) > 0" data-ng-bind="sizeOf(financingtype)"></span>
                        <span data-ng-show="sizeOf(financingtype) > 0" class="resetFilter">
                            <a ng-click="clearFilter('financingtype')">
                                <span class="oi oi-x"></span>
                            </a>
                        </span>
                    </span>
                </li>
                <li class="nav-item"
                    data-ng-show="initialFilters.researchmainfocus === undefined && result.getDistinctCount('researchmainfocus',false) > 1">
                    <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                       data-target="#researchfocus-{node.Identifier}" role="tab">
                        <i class="fa fa-flask" aria-hidden="true"></i>
                        <span>Forschungsschwerpunkte</span>
                    </a>
                    <span>
                        <span class="count" data-ng-show="sizeOf(researchmainfocus) > 0" data-ng-bind="sizeOf(researchmainfocus)"></span>
                        <span data-ng-show="sizeOf(researchmainfocus) > 0" class="resetFilter">
                            <a ng-click="clearFilter('researchmainfocus')">
                                <span class="oi oi-x"></span>
                            </a>
                        </span>
                    </span>
                </li>
                <li class="nav-item"
                    data-ng-show="initialFilters.lifetime === undefined && result.getDistinctCount('lifetime',false) > 1">
                    <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                       data-target="#projectstate-{node.Identifier}" role="tab">
                        <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                        <span>Projektstatus</span>
                    </a>
                    <span>
                        <span class="count" data-ng-show="sizeOf(filterLifetime) > 0" data-ng-bind="sizeOf(filterLifetime)"></span>
                        <span data-ng-show="sizeOf(filterLifetime) > 0" class="resetFilter">
                            <a ng-click="clearFilter('filterLifetime')">
                                <span class="oi oi-x"></span>
                            </a>
                        </span>
                    </span>
                </li>
                <li class="nav-item" data-ng-show="result.getDistinctCount('projectend',false) > 1">
                    <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                       data-target="#projectenddate-{node.Identifier}" role="tab">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>Projektende</span>
                    </a>
                    <span>
                        <span class="count" data-ng-show="sizeOf(projectend) > 0" data-ng-bind="sizeOf(projectend)"></span>
                        <span data-ng-show="sizeOf(projectend) > 0" class="resetFilter">
                            <a ng-click="clearFilter('projectend')">
                                <span class="oi oi-x"></span>
                            </a>
                        </span>
                    </span>

                </li>
            </ul>
        </div>
        <div class="col-xs-12">
            <div class="tab-content">

                <div class="result-panel tab-pane " id="researchfocus-{node.Identifier}" role="tabpanel"
                     data-ng-show="result.getDistinctCount('researchmainfocus',false) > 1">
                    <!--<a class="close-btn">&nbsp;</a>-->
                    <div class="table-responsive">
                        <table class="table">

                            <tbody data-ng-repeat="(keyg,ltg) in result.getDistinct('researchmainfocus',false)"
                                   data-ng-if="ltg.value.ResearchUnitName.length === 0">

                            <tr data-ng-click="researchmainfocus[ltg.value.ID] = !researchmainfocus[ltg.value.ID] ? true : false;"
                                data-ng-class="{checked: researchmainfocus[ltg.value.ID]}">
                                <td>
                                    <a href="javascript:void(0);"
                                       data-ng-class="{'subitem': ltg.value.ResearchUnitName !== ''}">

                                        <span data-ng-bind="ltg.value.name + ' (' + ltg.count + ')'">

                                                    </span>
                                        <span class="oi"
                                              data-ng-class="{'oi-check': researchmainfocus[ltg.value.ID],'': !researchmainfocus[ltg.value.ID]}"
                                              aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>

                            <tr data-ng-click="researchmainfocus[lt.value.ID] = !researchmainfocus[lt.value.ID] ? true : false;"
                                data-ng-class="{checked: researchmainfocus[lt.value.ID]}"
                                data-ng-repeat="(key,lt) in result.getDistinct('researchmainfocus',false) | toArray:false | orderBy:'value.ResearchUnitName'"
                                data-ng-if="lt.value.ResearchUnitName == ltg.value.name"
                            >
                                <td>
                                    <a href="javascript:void(0);"
                                       data-ng-class="{'subitem': lt.value.ResearchUnitName !== ''}">

                                        <span data-ng-bind="lt.value.name + ' (' + lt.count + ')'">

                                                    </span>
                                        <span class="oi"
                                              data-ng-class="{'oi-check': researchmainfocus[lt.value.ID],'': !researchmainfocus[lt.value.ID]}"
                                              aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>


                        </table>
                    </div>
                    <a class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                <div class="result-panel tab-pane " id="financing-{node.Identifier}" role="tabpanel"
                     data-ng-show="result.getDistinctCount('financingtype',false) > 1">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>

                            <tr ata-ng-click="financingtype[lt.value] = !financingtype[lt.value] ? true : false;"
                                data-ng-class="{checked: financingtype[lt.value]}"
                                data-ng-repeat="(key,lt) in result.getDistinct('financingtype',false)">
                                <td>
                                    <a href="javascript:void(0);">
                                        <span data-ng-bind="ltg.value.name + ' (' + ltg.count + ')'">

                                                    </span>
                                        <span class="oi"
                                              data-ng-class="{'oi-check': researchmainfocus[lt.value],'': !researchmainfocus[lt.value]}"
                                              aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                    <a class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                <div class="result-panel tab-pane " id="projectparticipants-{node.Identifier}"
                     role="tabpanel"
                     data-ng-show="result.getDistinctCount('participants',false) > 1">
                    <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                    <div class="dropdown-search-field">
                        <input type="text" class="c-input form-control"
                               data-ng-model="projectparticipantsSearch">
                        <i class="fa fa-search" data-ng-class="{'fa-times': projectparticipantsSearch.length}"
                           aria-hidden="true" data-ng-click="projectparticipantsSearch = '';"></i>
                    </div>
                    <div class="search-result-tags" data-ng-show="sizeOf(projectparticipants) > 0">
                                    <span class="search-result-tag"
                                          data-ng-repeat="(eventoID,val) in projectparticipants" data-ng-if="val">
                                        <span data-ng-bind="val"></span>
                                        <span class="oi oi-x clickable" aria-hidden="true"
                                              data-ng-click="projectparticipants[eventoID] = false;"></span>
                                    </span>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr class="clickable"
                                data-ng-click="projectparticipants[person.value.EventoID] = person.value.Nachname+ ' ' + person.value.Vorname;"
                                data-ng-repeat="(key,person) in result.getDistinct('participants.*',false) | toArray:false | orderBy:'value.Nachname' | inArrayFilter:projectparticipantsSearch"
                                data-ng-if="person.value.EventoID > 0"
                                data-ng-show="projectparticipants[person.value.EventoID] == undefined || projectparticipants[person.value.EventoID] == false">
                                <td>

                                    <a href="javascript:void(0);"
                                       data-ng-bind="person.value.Vorname + ' ' + person.value.Nachname"></a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="result-panel tab-pane " id="projectstate-{node.Identifier}" role="tabpanel"
                     data-ng-show="result.getDistinctCount('lifetime',false) > 1">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr data-ng-click="filterLifetime[lt.value] = !filterLifetime[lt.value] ? true : false;"
                                data-ng-class="{checked: filterLifetime[lt.value]}"
                                data-ng-repeat="(key,lt) in result.getDistinct('lifetime',false)">
                                <td>
                                    <a href="javascript:void(0);">
                                        <span data-ng-bind="lt.value + ' ('+ lt.count + ')'"></span>
                                        <span class="oi"
                                              data-ng-class="{'oi-check': filterLifetime[lt.value],'': !filterLifetime[lt.value]}"
                                              aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="result-panel tab-pane " id="projectenddate-{node.Identifier}" role="tabpanel"
                     data-ng-show="result.getDistinctCount('projectend') > 1">
                    <div id="datepicker"></div>
                    <a class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                <div class="result-panel tab-pane " id="organisationunits-{node.Identifier}" role="tabpanel"
                     data-ng-show="result.getDistinctCount('organisationunits',false) > 1">
                    <div class="table-responsive">

                        <table class="table">
                            <tbody>
                            <tr data-ng-click="organisationunits[lt.value.id] = !organisationunits[lt.value.id] ? true : false;"
                                data-ng-class="{checked: organisationunits[lt.value.id]}"
                                data-ng-repeat="lt in result.getDistinct('organisationunits',false) | toArray:false | orderBy:'value.name'">
                                <td>
                                    <a href="javascript:void(0);">
                                        <span data-ng-bind="lt.value.name + ' ('+ lt.count+')'">

                                                    </span>
                                        <span class="oi"
                                              data-ng-class="{'oi-check': organisationunits[lt.value.id],'': !organisationunits[lt.value.id]}"
                                              aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>

            </div>


        </div>
    </div>
</div>
