{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace uri=Phlu\Corporate\ViewHelpers\Uri}


<div class="{breakpointClass}  event singleitem {f:if(else: 'noimg', condition: node.properties.teaserImage)} {f:if(condition: '{neos:rendering.inBackend()}', then: '', else: 'clickable')}">
    <div class="event-date-day">
        <f:format.date format="d">{node.properties.date}</f:format.date>
        .
    </div>
    <div class="event-date-month-year-location">
        <b>
            <f:format.date format="M. Y">{node.properties.date}</f:format.date>
        </b>
        <f:if condition="{node.properties.time}"> /
            <f:format.date format="H:i">{node.properties.time}</f:format.date>
        </f:if>

        <br>
        {neos:contentElement.editable(property: 'location', tag: 'div')}
    </div>
    <div class="phlu-teaser-body">

        <div class="scrollbody">
            <h3>{teaserHeadline}</h3>
            <p>
                <a href="#">
                    {teaserText}
                </a>
            </p>
            <f:if condition="{ishiddendetaillink}">
                <f:else>
                    <f:if condition="{reference}">
                        <f:then>
                            <a data-gentics-aloha-repository="node-repository" href="{uri:node(node: reference)}">mehr</a>
                        </f:then>
                    </f:if>

                </f:else>
            </f:if>

        </div>

    </div>

    <f:if condition="{node.properties.teaserImage}">
        <f:then>
            <media:image image="{node.properties.teaserImage}" alt="{alternativeText}" title="{title}" width="{width}"
                         maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}"
                         allowUpScaling="{allowUpScaling}"/>
        </f:then>
        <f:else>
            <img class="img-fluid"
                 src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/spacer-white-teaser.png')}" alt="spacer">
        </f:else>
    </f:if>
</div>