{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace uri=Phlu\Corporate\ViewHelpers\Uri}

<div class="{breakpointClass}  event singleitem {f:if(else: 'noimg', condition: node.properties.teaserImage)} {f:if(condition: '{neos:rendering.inBackend()}', then: '', else: 'clickable')}">
    <div class="event-date-day">
        <f:format.date format="d">{fromDate}</f:format.date>.
    </div>
    <div class="event-date-month-year-location">
        <b>
            <f:format.date forceLocale="de_CH" cldrFormat="MMMM yyyy">{fromDate}</f:format.date>
        </b>
        <f:if condition="{fromTime}"> /
            <f:format.date format="H:i">{fromTime}</f:format.date>
        </f:if>
        <div>{location}</div>
    </div>
    <div class="phlu-teaser-body">

        <div class="scrollbody">
            <h3>{teaserHeadline}</h3>
            <p>
                {teaserText}
            </p>
            <f:if condition="{ishiddendetaillink}">
                <f:else>
                    <f:if condition="{reference}">
                        <f:then>
                            <a style="display:none;" data-gentics-aloha-repository="node-repository"
                               href="{uri:node(node: reference)}">mehr</a>
                        </f:then>
                    </f:if>

                </f:else>
            </f:if>

        </div>

    </div>



    <f:if condition="{node.properties.teaserImage}">
        <f:then>
            <div class="teaser-image" style="background-image: url('{media:uri.image(image: node.properties.teaserImage)}')"></div>
        </f:then>
    </f:if>
    <a class="goto-teaser-target" style="display: none" title="zur Zielseite wechseln"
       data-gentics-aloha-repository="node-repository" href="{uri:node(node: reference)}">
        <i class="fa fa-external-link-square" aria-hidden="true"></i>
    </a>
</div>