{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}


<div class="{breakpointClass} {f:if(condition: '{neos:rendering.inBackend()}', then: 'col-xs-4')} news singleitem {f:if(else: 'noimg', condition: node.properties.teaserImage)}">
    {neos:contentElement.editable(property: 'teasertype', tag: 'div', class: 'phlu-teaser-type')}
    <div class="phlu-teaser-body">
        <div class="scrollbody">
        {neos:contentElement.editable(property: 'teaserHeadline', tag: 'h3')}
        {neos:contentElement.editable(property: 'teaserText', tag: 'p')}
            </div>
    </div>
    <f:if condition="{node.properties.teaserImage}">
        <f:then>
            <media:image image="{node.properties.teaserImage}" alt="{alternativeText}" title="{title}" width="{width}" maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}" allowUpScaling="{allowUpScaling}" />
        </f:then>
        <f:else>
            <img class="img-fluid" src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/spacer-white-teaser.png')}" alt="spacer">
        </f:else>
    </f:if>
</div>