{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace phlu=PHLU\Neos\NodeTypes\ViewHelpers}


<div class="row ppdb-list" data-ng-controller="PpdbCtrl">


    <f:for each="{projectsByIdentifier}" as="project">
        <span data-ng-init="list.addNodesByIdentifier(['{project.Identifier}']);"></span>
    </f:for>

    <f:if condition="{showSearchInput}">
        <f:then>


            <f:if condition="!{researchmainfocus}">

                <span
                        data-ng-init="addPropertyFilter('researchmainfocus','researchmainfocus');"></span></f:if>
            <f:if condition="!{financingtype}"><span
                    data-ng-init="addPropertyFilter('financingtype','financingtype');"></span></f:if>
            <f:if condition="!{ppdbstatuslifetime}">
                <span
                        data-ng-init="addPropertyFilter('lifetime','ppdbstatuslifetime');"></span></f:if>
            <f:if condition="!{projectparticipants}"><span
                    data-ng-init="addPropertyFilter('projectparticipants','projectparticipants');"></span></f:if>

        </f:then>
        <f:else>
            <f:if condition="{researchmainfocus} != 'null'"><span
                    data-ng-init="list.addPropertyFilter('researchmainfocus',{researchfocustype});"></span></f:if>
            <f:if condition="{financingtype} != 'null'"><span
                    data-ng-init="list.addPropertyFilter('financingtypes',{financingtype});"></span></f:if>
            <f:if condition="{ppdbstatuslifetime} != 'null'"><span
                    data-ng-init="setFilterLifetime({ppdbstatuslifetime});"></span></f:if>
            <f:if condition="{projectparticipants} != 'null'"><span
                    data-ng-init="list.addPropertyFilter('participants.*.EventoID',{projectparticipants});"></span>
            </f:if>
        </f:else>
    </f:if>

    <f:if condition="{showSearchInput}">
        <div class="col-xs-12">
            <div class="row ">
                <div class="col-xs-12">

                    <div class="list-search-field">
                        <input type="text" class="c-input form-control" data-ng-model="search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span
                                data-ng-init="setQuery('search');"></span>
                    </div>

                </div>
            </div>
        </div>
    </f:if>

    <f:if condition="{showSearchInput}">
        <div class="col-xs-12">
            <div class="row subjectsfilternav">
                <div class="col-xs-12">
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item" data-ng-show="result.getDistinctCount('researchmainfocus') > 0">
                            <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                               data-target="#researchfocus-{node.Identifier}" role="tab">
                                <i class="fa fa-flask" aria-hidden="true"></i>
                                <span>Forschungsschwerpunkte</span>

                            </a>
                        </li>
                        <li class="nav-item" data-ng-show="result.getDistinctCount('financingtype') > 0">
                            <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                               data-target="#financing-{node.Identifier}" role="tab">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <span>Finanzierungstyp</span>
                            </a>
                        </li>
                        <li class="nav-item" data-ng-show="result.getDistinctCount('projectparticipants') > 0">
                            <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                               data-target="#projectparticipants-{node.Identifier}" role="tab">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span data-toggle="filterCountTag"
                                      data-template='<div class="tooltip filterCountTag" role="tooltip"><span class="tooltip-inner"></span><span class="oi oi-media-record"></span></div>'
                                      data-placement="right" title="" data-offset="26px -6px"
                                      data-original-title="5"
                                      data-trigger="manual">Projektbeteiligte Personen</span>
                            </a>
                        </li>
                        <li class="nav-item" data-ng-show="result.getDistinctCount('lifetime') > 0">
                            <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                               data-target="#projectstate-{node.Identifier}" role="tab">
                                <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                                <span>Projektstatus</span>
                            </a>
                        </li>
                        <li class="nav-item" data-ng-show="result.getDistinctCount('projectend') > 0">
                            <a href="#" class=" nav-link preventDefaultTab" data-toggle="tab"
                               data-target="#projectenddate-{node.Identifier}" role="tab">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span>Projektende</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <div class="tab-content">
                        <div class="result-panel tab-pane " id="researchfocus-{node.Identifier}" role="tabpanel"
                             data-ng-show="result.getDistinctCount('researchmainfocus') > 0">
                            <!--<a href="#" class="close-btn">&nbsp;</a>-->
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr data-ng-class="{checked: researchmainfocus[lt]}"
                                        data-ng-repeat="(lt,count) in result.getDistinct('researchmainfocus')">
                                        <td><i class="fa"
                                               data-ng-class="{'fa-check-square-o': researchmainfocus[lt],'fa-square-o': !researchmainfocus[lt]}"
                                               aria-hidden="true"></i></td>
                                        <td>
                                            <a href="javascript:void(0);"
                                               data-ng-click="researchmainfocus[lt] = !researchmainfocus[lt] ? true : false;">
                                                {{lt}} ({{count}})
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>

                        <div class="result-panel tab-pane " id="financing-{node.Identifier}" role="tabpanel"
                             data-ng-show="result.getDistinctCount('financingtype') > 0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>

                                    <tr data-ng-class="{checked: financingtype[lt]}"
                                        data-ng-repeat="(lt,count) in result.getDistinct('financingtype')">
                                        <td><i class="fa"
                                               data-ng-class="{'fa-check-square-o': financingtype[lt],'fa-square-o': !financingtype[lt]}"
                                               aria-hidden="true"></i></td>
                                        <td>
                                            <a href="javascript:void(0);"
                                               data-ng-click="financingtype[lt] = !financingtype[lt] ? true : false;">
                                                {{lt}} ({{count}})
                                            </a>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                            <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                        <div class="result-panel tab-pane " id="projectparticipants-{node.Identifier}" role="tabpanel">
                            <div class="dropdown-search-field">
                                <input type="text" class="c-input form-control">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                            <div class="search-result-tags">
                                    <span class="search-result-tag">Adrian Felder <i class="fa fa-times"
                                                                                     aria-hidden="true"></i></span>
                                <span class="search-result-tag">Werner Wicki <i class="fa fa-times"
                                                                                aria-hidden="true"></i></span>
                                <span class="search-result-tag">Michael Egli <i class="fa fa-times"
                                                                                aria-hidden="true"></i></span>
                                <span class="search-result-tag">Hansruedi Scherer <i class="fa fa-times"
                                                                                     aria-hidden="true"></i></span>
                                <span class="search-result-tag">Stefan Jenni <i class="fa fa-times"
                                                                                aria-hidden="true"></i></span>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr class="label ">
                                        <td>
                                            A
                                        </td>
                                    </tr>
                                    <tr class="clickable ">
                                        <td>
                                            <a href="#">
                                                Claudia
                                                Achermann

                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">
                                        <td>
                                            <a href="#">
                                                Doris Achermann
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                MSc Ursina Achermann Meier
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                lic. phil. Ueli Ackermann
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Marina Adzic
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                MA Miriam Aegerter
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Prof. Dr. phil. Jürg Aeppli
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Regula Aeschbacher
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Maisa Ahmad
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                MA Anna-Carolina Alder
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Dr. theol. Andreas Allemann
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Dr. rer. nat. Henrike Allmendinger
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Irene Althaus
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="label ">
                                        <td>
                                            B
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                MSc Felix Bächinger
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                ic. phil. Hans Bächler
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Simone Bächtiger
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Patricia Bader
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Katharina Bader
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class="clickable ">

                                        <td>
                                            <a href="#">
                                                Ruth Bänninger
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                        <div class="result-panel tab-pane " id="projectstate-{node.Identifier}" role="tabpanel"
                             data-ng-show="result.getDistinctCount('lifetime') > 0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr data-ng-class="{checked: filterLifetime[lt]}"
                                        data-ng-repeat="(lt,count) in result.getDistinct('lifetime')">
                                        <td><i class="fa"
                                               data-ng-class="{'fa-check-square-o': filterLifetime[lt],'fa-square-o': !filterLifetime[lt]}"
                                               aria-hidden="true"></i></td>
                                        <td>
                                            <a href="javascript:void(0);"
                                               data-ng-click="filterLifetime[lt] = !filterLifetime[lt] ? true : false;">
                                                {{lt}} ({{count}})
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="result-panel tab-pane " id="projectenddate-{node.Identifier}" role="tabpanel"
                             data-ng-show="result.getDistinctCount('projectend') > 0">
                            <div id="datepicker"></div>
                            <a href="#" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </f:if>

    <div class="col-xs-12">
        <div class="row results-table">
            <div class="col-xs-12">
                <f:if condition="{showSearchInput}"><h2>Treffer ({{result.count()}})</h2></f:if>
                <div class="table-responsive  ">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="clickable">
                                <a href="#">Projektname</a>
                            </th>
                            <th class="clickable">
                                <a href="#">Schwerpunkte</a>
                            </th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="node in result.getNodes() | orderBy:'-score'"
                               data-ng-click="node.isopen = node.isopen ? false : true">
                        <tr data-ng-class="{open: node.isopen,noborder: $index > 0}" class="clickable">
                            <td>
                                        <span class="oi"
                                              data-ng-class="{'oi-caret-right': !node.isopen, 'oi-caret-bottom': node.isopen}"></span>
                                <span>{{node.getProperty('title')}}</span>
                                <div class="mobile-view-columns">
                                                        <span class="header">
                                                            Schwerpunkte
                                                        </span>
                                    <span data-ng-repeat="focus in node.getProperty('researchmainfocus') track by $index">- {{focus}}<br></span>
                                </div>
                            </td>
                            <td>
                                <span data-ng-repeat="focus in node.getProperty('researchmainfocus') track by $index">- {{focus}}<br></span>
                            </td>
                        </tr>
                        <tr class="result-preview" data-ng-show="node.isopen">
                            <td colspan="2">
                                <div>
                                    <div ng-bind-html="node.getProperty('abstracttextgerman').substr(0,255) + '...'"></div>
                                    <a class="btn btn-primary" href="{{node.getUrl()}}">
                                        Details
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>