{namespace neos=Neos\Neos\ViewHelpers}
<f:if condition="{reference}">
	<f:then>
	<f:if condition="{reference -> f:count()} == 1">
		<f:then>
			<f:for each="{reference}" as="publication">
				<div
				<p>{publication.properties.Citationstyle -> f:format.raw()}</p>
			</f:for>
		</f:then>
		<f:else>
			<ul class="neos-list-square publication-list">
			<f:for each="{reference}" as="publication">
				<li>{publication.properties.Citationstyle -> f:format.raw()}</li>
			</f:for>
			</ul>
		</f:else>
	</f:if>
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inBackend()}">
			<f:then>
				<p>Wählen Sie eine oder mehrere Publikationen mit Hilfe des Inspektors aus.</p>
			</f:then>
		</f:if>
	</f:else>
</f:if>

