{namespace neos=Neos\Neos\ViewHelpers}
<f:if condition="{reference}">
	<f:then>

	<f:if condition="{reference -> f:count()} == 1">
		<f:then>
			<f:for each="{reference}" as="publication">
			<f:if condition="{publication.properties.Url}">
				<f:then>
					<p class="single-publication"><a href="{publication.properties.Url}" target="_blank"><span>{publication.properties.Citationstyle -> f:format.raw()}</span></a></p>
				</f:then>
				<f:else>
					<p class="single-publication">{publication.properties.Citationstyle -> f:format.raw()}</p>
				</f:else>
			</f:if>

			</f:for>
		</f:then>
		<f:else>
			<ul class="neos-list-square publications-list">
			<f:for each="{reference}" as="publication">
				<li>
					<f:if condition="{publication.properties.Url}">
						<f:then>
							<p><a href="{publication.properties.Url}" target="_blank"><span>{publication.properties.Citationstyle -> f:format.raw()}</span></a></p>
						</f:then>
						<f:else>
							<p>{publication.properties.Citationstyle -> f:format.raw()}</p>
						</f:else>
					</f:if>
				</li>
			</f:for>
			</ul>
		</f:else>
	</f:if>
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inBackend()}">
			<f:then>
				<p>Wählen Sie eine oder mehrere Publikationen mit Hilfe des Inspektors aus.</p>
			</f:then>
		</f:if>
	</f:else>
</f:if>

