{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace phlu=PHLU\Neos\NodeTypes\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}

<div class="row">

    <div class="col-xs-12 phlu-dozpage">

        {breadcrumb -> f:format.raw()}

        <h1 class="page-header">{contact.name.fullname}</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">

                <f:if condition="{contact.image}">
                    <media:image class="img-fluid" asset="{contact.image}" alt="{contact.name.fullname}" width="400"
                                 maximumWidth="300" height="400" maximumHeight="300"/>
                </f:if>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-9">
                <address>
                    <b>{contact.name.firstName} {contact.name.lastName}</b><br>
                    <f:if condition="{contact.titlename} != ''">{contact.titlename}<br></f:if>
                    {contact.street}<br>
                    <f:if condition="{contact.street2} != ''">{contact.street2}<br></f:if>
                    {contact.plz} {contact.city}<br>
                    <span>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                    {contact.phone} <br>
                    <a class="content-link-email-contact-person"
                       href="mailto:{contact.email}">{contact.email}</a><br>
                </address>
            </div>

        </div>

        <hr>
        <f:if condition="{contact.functions} != ''">
            <div class="row function">
                <div class="col-xs-12">

                    <h2>Funktion/en</h2>

                    {contact.functions -> f:format.raw()}

                    <hr>
                </div>

            </div>
        </f:if>
        <f:if condition="{contact.honorific} != ''">
            <div class="row cv">
                <div class="col-xs-12">

                    <h2>Lebenslauf</h2>

                    {contact.honorific -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>

        <f:if condition="{contact.education} != ''">
            <div class="row education">
                <div class="col-xs-12">

                    <h2>Ausbildung</h2>

                    {contact.education -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>


        <f:if condition="{contact.activities} != ''">
            <div class="row working-priorities">
                <div class="col-xs-12">

                    <h2>Arbeitsschwerpunkte</h2>

                    {contact.activities -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>

        <f:if condition="{contact.consulting} != ''">
            <div class="row consultation-priorities">
                <div class="col-xs-12">

                    <h2>Beratungsschwerpunkte</h2>

                    {contact.consulting -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>

        <f:if condition="{contact.expertise} != ''">
            <div class="row consultation-priorities">
                <div class="col-xs-12">

                    <h2>Berufliche Tätigkeiten</h2>

                    {contact.expertise -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>

        <f:if condition="{contact.publications}">

            <div class="row publications-list">
                <div class="col-xs-12">

                    <h2>Publikationen</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="phlu-accordion-publications" class="phlu-accordion" >

                                <f:for each="{contact.publications}" as="publications" key="publicationtype" iteration="iterator">


                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#phlu-accordion1"
                                                   href="#phlu-accordion-publications-{iterator.index}"
                                                   aria-expanded="false" aria-controls="phlu-accordion-publications-{iterator.index}">
                                                    {publicationtype}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="phlu-accordion-publications-{iterator.index}" class="panel-collapse collapse" role="tabpanel">
                                            <div>
                                                <f:for each="{publications}" as="publication">
                                                <p>{publication.Citationstyle}{publication.Title}</p>
                                                </f:for>
                                            </div>
                                        </div>
                                    </div>
                                </f:for>


                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

        </f:if>


        <f:if condition="{contact.links} != ''">
            <div class="row links">
                <div class="col-xs-12">

                    <h2>Links / pers. Homepage</h2>

                    {contact.links -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>


    </div>

</div>
