{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}
{namespace phluuri=Phlu\Corporate\ViewHelpers\Uri}
{namespace phluasset=Phlu\Corporate\ViewHelpers\Asset}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}

<div class="row">

    <div class="col-xs-12 phlu-dozpage">

        {breadcrumb -> f:format.raw()}

        <h1 class="page-header">{contact.name.firstName} {contact.name.lastName}</h1>

        <div class="row">


            <f:if condition="{contact.image}">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <f:if condition="{contact.image.resource}">
                        <f:then>
                            <img src="{f:uri.resource(resource: contact.image.resource)}" width="300">
                        </f:then>
                    </f:if>
                </div>
            </f:if>


            <div class="col-xs-12 col-sm-6 col-md-9">
                <address>
                    {contact.name.firstName} {contact.name.lastName}<br>
                    <f:if condition="{contact.name.title} != ''">{contact.name.title}<br></f:if>
                    {contact.street}<br>
                    <f:if condition="{contact.street2} != ''">{contact.street2}<br></f:if>

                    {contact.zip} {contact.city}<br>
                    <f:if condition="{contact.phone} != ''">
                        <div class="telephone">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            {contact.phone}<br>
                        </div>
                    </f:if>
                    <a class="content-link-email-contact-person"
                       href="mailto:{contact.email}">{contact.email}</a><br>

                    <f:if condition="{contact.linkssocial} != ''">
                        {contact.linkssocial -> f:format.raw()}
                    </f:if>

                    <f:if condition="{contact.cv} != ''">
                        <f:if condition="{phluuri:sha1(sha1: contact.cv)} != ''">
                            <a class="content-link-external cv"
                               href="{phluuri:sha1(sha1: contact.cv)}" target="_blank">
                                <i class="fa fa-map-signs" aria-hidden="true"></i>
                                <phluasset:getOneBySha1 sha1="{contact.cv}" variable="asset">{asset.title}
                                </phluasset:getOneBySha1>
                            </a><br>
                        </f:if>
                    </f:if>
                </address>
            </div>

        </div>

        <hr>
        <f:if condition="{contact.functions} != ''">
            <div class="row function">
                <div class="col-xs-12">

                    <h2>Funktionen an der PH Luzern</h2>

                    {contact.functions -> f:format.raw()}

                    <hr>
                </div>

            </div>
        </f:if>

        <f:if condition="{contact.activities} != ''">
            <div class="row working-priorities">
                <div class="col-xs-12">

                    <h2>Weitere Funktionen und Tätigkeiten</h2>

                    {contact.activities -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>


        <f:if condition="{contact.consulting} != ''">
            <div class="row consultation-priorities">
                <div class="col-xs-12">

                    <h2>Arbeits- und Beratungsschwerpunkte / Expertise</h2>

                    {contact.consulting -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>


        <f:if condition="{contact.education} != ''">
            <div class="row education">
                <div class="col-xs-12">

                    <h2>Aus- und Weiterbildung</h2>

                    {contact.education -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>


        <f:if condition="{contact.expertise} != ''">
            <div class="row expertises">
                <div class="col-xs-12">

                    <h2>Berufliche Tätigkeiten</h2>

                    {contact.expertise -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>


        <f:if condition="{contact.publications}">


            <div class="row publications-list phlu-corporate-sectionautogeneratedcontentpublicationslist">
                <div class="col-xs-12">

                    <h2>Publikationen</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="phlu-accordion-publications" class="phlu-accordion" role="tablist">

                                <f:for each="{contact.publications}" as="publicationtype"
                                       iteration="iterator">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">

                                                <a class="collapsed" data-toggle="collapse"
                                                   data-parent="#phlu-accordion-publications"
                                                   href="#"
                                                   data-target="#phlu-accordion-publications-{iterator.index}"
                                                   aria-expanded="false"
                                                   aria-controls="#phlu-accordion-publications-{iterator.index}">
                                                    {publicationtype.type.name} ({publicationtype.type.count})
                                                </a>

                                            </h4>
                                        </div>
                                        <div id="phlu-accordion-publications-{iterator.index}"
                                             class="panel-collapse collapse" role="tabpanel">
                                            <div>
                                                <f:for each="{publicationtype.items}" as="publication">
                                                    <div>
                                                        <f:if condition="{publication.URL}">
                                                            <f:then>
                                                                <p><a href="{publication.URL}" class="" target="_blank">
                                                                    <f:if condition="{publication.Citationstyle} == ''">
                                                                        <f:then>
                                                                            {publication.Title -> f:format.raw()}
                                                                        </f:then>
                                                                        <f:else>{publication.Citationstyle ->
                                                                            f:format.raw()}
                                                                        </f:else>
                                                                    </f:if>
                                                                </a></p>
                                                            </f:then>
                                                            <f:else>


                                                                <f:if condition="{publication.edocURL}">
                                                                    <f:then>
                                                                        <p><a href="{publication.edocURL}" class=""
                                                                              target="_blank">
                                                                            <f:if condition="{publication.Citationstyle} == ''">
                                                                                <f:then>
                                                                                    {publication.Title ->
                                                                                    f:format.raw()}
                                                                                </f:then>
                                                                                <f:else>{publication.Citationstyle ->
                                                                                    f:format.raw()}
                                                                                </f:else>
                                                                            </f:if>
                                                                        </a></p>
                                                                    </f:then>
                                                                    <f:else>
                                                                        <f:if condition="{publication.Citationstyle} == ''">
                                                                            <f:then><p>{publication.Title ->
                                                                                f:format.raw()}</p>
                                                                            </f:then>
                                                                            <f:else><p>{publication.Citationstyle ->
                                                                                f:format.raw()}</p>
                                                                            </f:else>
                                                                        </f:if>
                                                                    </f:else>
                                                                </f:if>
                                                            </f:else>
                                                        </f:if>

                                                    </div>
                                                </f:for>
                                            </div>
                                        </div>
                                    </div>
                                </f:for>


                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

        </f:if>

        <f:if condition="{contact.projects}">

            <div class="row science-projects phlu-corporate-sectionautogeneratedcontentprojectslist">
                <div class="col-xs-12">

                    <h2>Projekte</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="phlu-accordion-projects" class="phlu-accordion">
                                <f:for each="{contact.projects}" as="projects" key="projecttype" iteration="iterator">
                                    <f:for each="{projects->portrait:sort(order:'DESC', sortBy:'LastModify', sortFlags:'SORT_REGULAR')}" as="project">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a href="#" data-toggle="collapse"
                                                       data-parent="#phlu-accordion-projects"
                                                       data-target="#phlu-accordion-project-{project.ID}"
                                                       aria-expanded="false"
                                                       aria-controls="phlu-accordion-projects-{project.ID}">
                                                        {project.TitleGerman}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="phlu-accordion-project-{project.ID}"
                                                 class="panel-collapse collapse" role="tabpanel">
                                                <div>
                                                    <p>{project.TeaserTextGerman}</p>
                                                    <f:link.action action="load"
                                                                   controller="project"
                                                                   package="Phlu.Corporate"
                                                                   arguments="{project: project.ID,title: project.uriSegment}"
                                                                   class="btn btn-primary">Details
                                                    </f:link.action>
                                                </div>
                                            </div>
                                        </div>
                                    </f:for>
                                </f:for>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </f:if>


        <f:if condition="{contact.achievements}">

            <div class="row publications-list phlu-corporate-sectionautogeneratedcontentpublicationslist">
                <div class="col-xs-12">

                    <h2>Bedeutende Errungenschaften</h2>

                    <div class="row">
                        <div class="col-xs-12">
                            <div id="phlu-accordion-achievements" class="phlu-accordion">
                                <f:for each="{contact.achievements}" as="achievement"
                                       iteration="iterator">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab">
                                            <h4 class="panel-title">
                                                <a href="#" data-toggle="collapse"
                                                   data-parent="#phlu-accordion-achievements"
                                                   data-target="#phlu-accordion-achievement-{achievement.type.id}"
                                                   aria-expanded="false"
                                                   aria-controls="phlu-accordion-achievements-{achievement.type.id}">
                                                    {achievement.type.name}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="phlu-accordion-achievement-{achievement.type.id}"
                                             class="panel-collapse collapse" role="tabpanel">
                                            <div>
                                                <f:for each="{achievement.items}" as="achievementItem">
                                                    <div>
                                                        <f:if condition="{achievementItem.URL}">
                                                            <f:then>
                                                                <p>
                                                                    <a href="{achievementItem.URL}" class=""
                                                                       target="_blank">
                                                                        <f:if condition="{achievementItem.Citationstyle} == ''">
                                                                            <f:then>
                                                                                {achievementItem.Title ->
                                                                                f:format.raw()}
                                                                            </f:then>
                                                                            <f:else>{achievementItem.Citationstyle ->
                                                                                f:format.raw()}
                                                                            </f:else>
                                                                        </f:if>
                                                                    </a>
                                                                </p>
                                                            </f:then>
                                                            <f:else>
                                                                <f:if condition="{achievementItem.Citationstyle} == ''">
                                                                    <f:then><p>{achievementItem.Title ->
                                                                        f:format.raw()}</p>
                                                                    </f:then>
                                                                    <f:else><p>{achievementItem.Citationstyle ->
                                                                        f:format.raw()}</p>
                                                                    </f:else>
                                                                </f:if>
                                                            </f:else>
                                                        </f:if>
                                                    </div>
                                                </f:for>
                                            </div>
                                        </div>
                                    </div>
                                </f:for>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </f:if>

        <f:if condition="{contact.links} != ''">
            <div class="row links">
                <div class="col-xs-12">

                    <h2>Links / pers. Homepage</h2>

                    {contact.links -> f:format.raw()}
                    <hr>
                </div>
            </div>
        </f:if>


        <f:if condition="{portrait:references(contact: contact)}">
            <f:then>
                <f:render partial="References" arguments="{contact: contact}"/>
            </f:then>
        </f:if>


    </div>

</div>
