<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<head>
    <f:section name="metadata">
        <meta content="deutsch,de" name="language">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    </f:section>

    <f:section name="csslinks">
        <!-- Put your stylesheet inclusions here, they will be included in your website by TypoScript -->
        <link rel="stylesheet"
              href="{f:uri.external(uri: 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700')}" media="all"/>
        <link rel="stylesheet"
              href="{f:uri.external(uri: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')}"
              media="all"/>
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/phlu.css', package: 'PHLU.Corporate')}" media="all" />
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/animate.min.css', package: 'PHLU.Corporate')}" media="all" />
    </f:section>
    <f:section name="headScripts">
        <!-- Put your scripts inclusions for the head here, they will be included in your website by TypoScript -->
        <script src="{f:uri.resource(path: 'JavaScript/angular.min.js', package: 'PHLU.Corporate')}"></script>
        <script src="{f:uri.resource(path: 'JavaScript/app.js', package: 'PHLU.Corporate')}"></script>
    </f:section>

</head>
<body>

<f:section name="body">
    <div class="all" ng-app="phluApp">
    <nav class="navbar">
        <a class="navbar-brand" href="{neos:uri.node(node: '~')}">
            <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/phluLogo.svg')}" alt="PH Luzern Logo" onerror="this.onerror=null; this.src='Images/phluLogo.png'" />
        </a>
        {parts.navBarMenu -> f:format.raw()}
    </nav>

    <div class="container-fluid {pageLevelTypeClass} ">
        <div class="row {f:if(then: 'nosubnav', else: '', condition: '{parts.sideBarLevel1MenuCount}==0')}">
            <div class="col-xl-2 sidebar level0 ">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="nav-spacer-top">
                            <a class="navbar-brand" href="{neos:uri.node(node: '~')}">
                                <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/phluLogo.svg')}" alt="PH Luzern Logo" onerror="this.onerror=null; this.src='Images/phluLogo.png'" />
                            </a>
                            <div class="site-search-field">
                                <input type="text" class="c-input form-control" id="siteSearch">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row">
                            {parts.sideBarLevel0Menu -> f:format.raw()}
                        </div>
                    </div>
                </div>
            </div>
            {parts.sideBarLevel1Menu -> f:format.raw()}

            <div class="col-xs-12 {pageMainColWidth} main">

                {content.main -> f:format.raw()}


                {parts.teaserMenu -> f:format.raw()}


            </div>

        </div>
    </div>

    <div class="container-fluid breadcrumb-bottom">
        <div class="row ">
            <div class="col-xl-2 sidebar level0">
                <div class="row">
                    <div class="col-xl-12">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-xl-2 sidebar ">
                <div class="row ">
                    <div class="col-xl-12 ">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-xl-8 main">
                <div class="row ">
                    <div class="col-xs-12">
                        <div>
                            Sie sind hier:
                        </div>
                        <div>
                            {parts.breadcrumb -> f:format.raw()}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid footer">
        <div class="row">

            {footer -> f:format.raw()}
            <div class="col-xs-12 site-search-field">
                <input type="text" class="c-input form-control" id="siteSearchMobile">
                <i class="fa fa-search" aria-hidden="true"></i>

            </div>
            <div class="col-xs-6 col-lg-12 col-xl-10">
                <nav class="nav quicklinks">
                    <a class="" href="#">Kontakt</a>
                    <a class="" href="#">Medien</a>
                    <a class="" href="#">Bibliotheken</a>
                    <a class="" href="#">Standorte</a>
                    <a class="" href="#">Login</a>
                    <a class="" href="#">Stellen</a>
                    <a class="" href="#">Impressum</a>
                </nav>
                <nav class="nav quicklinks mobile">
                    <a class="" href="#">Kontakt</a>
                    <a class="" href="#">Medien</a>
                    <a class="" href="#">Bibliotheken</a>
                    <a class="" href="#">Standorte</a>
                </nav>
            </div>
            <div class="col-xs-6 col-lg-12">
                <nav class="nav quicklinks mobile">
                    <a class="" href="#">Login</a>
                    <a class="" href="#">Stellen</a>
                    <a class="" href="#">Impressum</a>
                </nav>
            </div>
            <div class="col-xs-12 col-xl-2 flexfirst">
                <nav class="nav langnav">
                    <a class="active" href="#">DE</a>
                    <a class="" href="#">FR</a>
                    <a class="" href="#">IT</a>
                    <a class="" href="#">EN</a>
                </nav>
                <hr>
            </div>
            <div class="col-xs-12 sociallinks">
                <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/socialiconsexample.png')}" alt="sociallinks"/>
            </div>
            <div class="col-xs-6 footerLogoMobile">
                <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/phluLogoFooter.svg')}" alt="Ph Luzern Logo"/>
            </div>
            <div class="col-xs-6 footerAddressMobile">
                Pfistergasse 20<br>
                Postfache 7660<br>
                6000 Luzern 7<br>
                T 041 228 71 11<br>
                <a href="mailto:info@phlu.ch">info@phlu.ch</a>
            </div>
            <div class="col-lg-12 footerAddressLogoDesktop">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-4">
                        <div>
                            Pfistergasse 20<br>
                            Postfache 7660<br>
                            6000 Luzern 7<br>
                        </div>
                        <div>
                            T 041 228 71 11<br>
                            <a href="mailto:info@phlu.ch">info@phlu.ch</a>
                        </div>
                        <div>
                            <img class="footerLogo" src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/phluLogoFooter.svg')}" alt="Ph Luzern Logo"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-8 copyright">
                        &copy; 2016 Pädagogische Hochschule Luzern
                    </div>
                </div>
            </div>
            <div class="col-xs-12 copyright">
                &copy; 2016 Pädagogische Hochschule Luzern
            </div>
        </div>
    </div>

    <span id="top-link-block" class="img-circle">
    <a href="#top" class="anchor-nav">
        <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/spacer.png')}" width="80" height="80" alt="spacer"/>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </a>
</span>
</div>

</f:section>
<f:section name="bodyScripts">
    <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by TypoScript -->
    <script src="{f:uri.external(uri: 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2010.07.06dev/modernizr.min.js')}"></script>
    <script src="{f:uri.resource(path: 'Libraries/jQuery/jquery-1.10.1.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/tether-1.2.0/dist/js/tether.min.js', package: 'PHLU.Corporate')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/bootstrap.min.js', package: 'PHLU.Corporate')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/main.js', package: 'PHLU.Corporate')}"></script>
</f:section>
</body>
</html>
