<h3>
    <a class="content-link-internal" href="{{node.getUrl()}}">{{node.getDocumentNode().getProperty('title')}}</a>
</h3>
<div class="searchresult-body">
    <span data-ng-bind="node.getPreview('text')"></span>

    <div data-ng-repeat="(nodeType,nodes) in node.getGroupedByNodeType('_document.identifier')">
        <div data-ng-switch="nodeType">
            <div class="quickinfo-wrapper" data-ng-switch-when="phlu-qmpilot-nodetypes-file"
                 data-ng-init="node.more = 3;">
                <div class="quickinfo" data-ng-repeat="groupedNode in nodes"
                     data-ng-if="$index <= node.more">
                    <a class="content-link-internal" data-ng-if="groupedNode.getProperty('asset').url"
                       href="{{groupedNode.getProperty('asset').url}}" target="_blank"><span
                            data-ng-if="groupedNode.getProperty('asset').title == ''">{{groupedNode.getProperty('asset').name}}</span><span
                            data-ng-if="groupedNode.getProperty('asset').title !== ''">{{groupedNode.getProperty('asset').title}}</span>
                    </a>
                </div>
                <span class="more-link-dots" data-ng-if="nodes.length-1 > node.more"
                      data-ng-click="node.more = nodes.length">...</span>
            </div>
        </div>
    </div>


</div>
<div class="rcrumbs-wrapper">
    <div class="rcrumbs-container rcrumbs" ng-bind-html="node.getBreadcrumb()"></div>
</div>


