<h3>
    <a data-ng-if="!node.getProperty('portrait').HybridsearchResultsValue().findUri()" class="content-link-internal"
       href="{{node.getUrl()}}#tab-{{node.identifier}}">{{node.getProperty('lastname')}}
        {{node.getProperty('firstname')}}</a>

    <a data-ng-if="node.getProperty('portrait').HybridsearchResultsValue().findUri()" class="content-link-internal"
       href="{{node.getProperty('portrait').HybridsearchResultsValue().findUri()}}">{{node.getProperty('lastname')}}
        {{node.getProperty('firstname')}}</a>

</h3>

<div class="searchresult-body">
    <span data-ng-bind="node.getProperty('function')"></span><br>
    <span data-ng-show="node.getProperty('phone') != ''">{{node.getProperty('phone')}},</span>
    {{node.getProperty('email')}}
</div>
<div ng-bind-html="node.getBreadcrumb()"></div>