<div class=" phlu-corporate-textwithimage">
    <div class="row">
        <div class="col-xs-12">
            <div class="img-and-caption">

                <img src="{{node.getProperty('image').thumbnailUri}}"
                     title="{{node.getProperty('alternativtext')}}"
                     alt="{{node.getProperty('alternativtext')}}" class="img-fluid"/>

                <div class="caption">
                    {{node.getProperty('caption')}}
                </div>
            </div>
        </div>
    </div>
</div>