<h3>
    <a class="content-link-internal" data-ng-if="node.getProperty('asset').url"
       href="/{{node.getProperty('asset.identifier')}}" target="_blank">
        <span data-ng-if="node.getProperty('file-title').length" data-ng-bind="node.getProperty('file-title')  | striptags"></span>
        <span data-ng-if="!node.getProperty('file-title').length && node.getProperty('asset').title.length" data-ng-bind="node.getProperty('asset').title | striptags"></span>
        <span data-ng-if="!node.getProperty('file-title').length && !node.getProperty('asset').title.length" data-ng-bind="node.getProperty('asset').name | striptags"></span>
    </a>
    <a class="content-link-internal" data-ng-if="!node.getProperty('asset').url"
       href="{{node.getUrl()  | rewriteUrl}}"><span
            data-ng-if="node.getProperty('asset').title == ''">{{node.getProperty('asset').name}}</span><span
            data-ng-if="node.getProperty('asset').title !== ''">{{node.getProperty('asset').title}}</span>
    </a>
</h3>
<div class="searchresult-body">
    <span data-ng-bind="node.getProperty('label')"></span>
    <span data-ng-if="node.getProperty('asset').size > 100" data-ng-if="node.getProperty('asset').extension != 'lnk'"> ({{node.getProperty('asset').extension}}, {{node.getProperty('asset').sizeH}})</span>
</div>
<div class="rcrumbs-wrapper">
    <div class="rcrumbs-container rcrumbs" ng-bind-html="node.getBreadcrumb()"></div>
</div>