<h3>
    <a data-ng-if="!node.getProperty('portrait').HybridsearchResultsValue().findUri()" class="content-link-internal"
       href="{{node.getUrl()}}#tab-{{node.identifier}}">{{node.getProperty('lastname')}}
        {{node.getProperty('firstname')}}</a>

    <a data-ng-if="node.getProperty('portrait').HybridsearchResultsValue().findUri()" class="content-link-internal"
       href="{{node.getProperty('portrait').HybridsearchResultsValue().findUri()}}">{{node.getProperty('lastname')}}
        {{node.getProperty('firstname')}}</a>

</h3>

<div class="searchresult-body">


    <span data-ng-if="node.getParent()">
        <span data-ng-bind="node.getParent().getProperty('title')"></span>,
    </span>
    <span data-ng-if="node.getProperty('function')">
        <span data-ng-bind="node.getProperty('function')"></span>,
    </span>
    <span data-ng-show="node.getProperty('phone') != ''">{{node.getProperty('phone')}},</span>
    {{node.getProperty('email')}}
</div>
<div class="rcrumbs-wrapper">
    <div class="rcrumbs-container rcrumbs" ng-bind-html="node.getBreadcrumb()"></div>
</div>
