{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace portrait=PHLU\Corporate\ViewHelpers\Portrait}


<address>
    {node.properties.firstname} {node.properties.lastname}<br>
    <f:if condition="{node.properties.titlename} != ''">{node.properties.titlename}<br></f:if>
    <span>{node.properties.street}</span>
    <f:if condition="{node.properties.street2} != ''">{node.properties.street2}<br></f:if>
    <br>
    {node.properties.zip} {node.properties.city}<br>
    <div class="telephone">
        <i class="fa fa-phone" aria-hidden="true"></i>
        {node.properties.phone}<br>
    </div>
    <a class="content-link-email-contact-person" href="mailto:{node.properties.email}">{node.properties.email}</a><br>
    <portrait:link node="{node}">Portrait</portrait:link>
</address>

