{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}
{namespace course=Phlu\Corporate\ViewHelpers\Course}
{namespace portrait=Phlu\Corporate\ViewHelpers\Portrait}


<course:getYear node="{node}" variable="year">

    <f:if condition="{year}">
        <div class="row ">
            <div class="col-xs-12">
                {breadcrumb -> f:format.raw()}
            </div>
        </div>
        <div class="row further-education-detail">
            <div class="col-xs-12">
                <div class="row ">
                    <div class="col-xs-12">
                        <ts:render path="defaultRenderer" context="{node: header}"/>
                    </div>


                    <f:if condition="{sectionsCountInPage}>=1">
                        <div class="col-xs-12 col-lg-12 {f:if(condition: targetgroups, then: '', else: 'has-no-target-group-codes')}">
                            <ul class="nav nav-pills">
                                <li>
                                    <a class="nav-item nav-link anchor-nav"
                                       href="#uebersicht">Übersicht</a>
                                </li>
                                <f:for each="{sectionsInPage}" as="item" iteration="iterator">
                                    <li class="{f:if(condition: iterator.isFirst, then: 'active', else: '')}">
                                        <a class="nav-item nav-link anchor-nav"
                                           href="#node-{item.Identifier}">{item.properties.title}</a>
                                    </li>
                                </f:for>
                                <li>
                                    <a class="nav-item nav-link anchor-nav"
                                       href="#kontakt">Kontakt</a>
                                </li>
                                <li>
                                    <a class="nav-item nav-link anchor-nav"
                                       href="#anmeldung">Anmeldung</a>
                                </li>

                            </ul>
                            <div class="anchors-mobile-view">
                                <ul>
                                    <li>
                                        <a class="nav-item nav-link anchor-nav"
                                           href="#uebersicht">Übersicht</a>
                                    </li>
                                    <f:for each="{sectionsInPage}" as="item" iteration="iterator">
                                        <li>
                                            <a class="nav-item nav-link anchor-nav" href="#node-{item.Identifier}">{item.properties.title}</a>
                                        </li>
                                    </f:for>
                                    <li>
                                        <a class="nav-item nav-link anchor-nav"
                                           href="#kontakt">Kontakt</a>
                                    </li>
                                    <li>
                                        <a class="nav-item nav-link anchor-nav"
                                           href="#anmeldung">Anmeldung</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </f:if>


                    <f:if condition="{targetgroups}">
                        <div class="col-xs-12 target-group-codes">
                            <f:for each="{targetgroups}" as="targetgroup">
                    <span class="code">
                            <f:if condition="{targetgroup.Bezeichnung}">
                                <f:then>
                                    <f:if condition="{targetgroups -> f:count()} > 3">
                                        <f:then><span class="fullname">{targetgroup.Bezeichnung}</span></f:then>
                                        <f:else>{targetgroup.Zg}</f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    {targetgroup.Zg}
                                </f:else>
                            </f:if>
                         <f:if condition="{targetgroup.Zg}"><f:then>
                             <f:if condition="{targetgroups -> f:count()} > 3">
                                 <f:then>{targetgroup.Zg}</f:then>
                                 <f:else>{targetgroup.Bezeichnung}</f:else>
                             </f:if>
                            </f:then>
                            <f:else>
                                {targetgroup.Bezeichnung}
                            </f:else></f:if>
                    </span>
                            </f:for>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
        <div class="row infoboxes">
            <div class="col-xs-12">
                <ts:render path="heroRenderer" context="{node: hero}"/>
            </div>
        </div>
        <f:if condition="{year}">
            <div class="row greyBgFullwidth2colTable">
                <div class="col-xs-12 " id="uebersicht">
                    <h2>Übersicht</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <f:if condition="{graduation}">
                                <tr>
                                    <td>
                                        Studienziel
                                        <div class="mobile-view-columns">
                                            {graduation}
                                        </div>
                                    </td>
                                    <td>
                                        {graduation}
                                    </td>
                                </tr>
                            </f:if>
                            <f:if condition="{year.EctsPunkte}">
                                <tr>
                                    <td>
                                        ECTS-Punkte
                                        <div class="mobile-view-columns">
                                            {year.EctsPunkte}
                                        </div>
                                    </td>
                                    <td>
                                        {year.EctsPunkte}
                                    </td>
                                </tr>
                            </f:if>

                            <f:for each="{node.properties.sections}" as="section">
                                <f:if condition="{section.Nr} == 4">
                                    <f:then>
                                        <tr>
                                            <td>
                                                Teilnehmende
                                                <div class="mobile-view-columns">
                                                    {section.Text}
                                                </div>
                                            </td>
                                            <td>
                                                {section.Text}
                                            </td>
                                        </tr>
                                    </f:then>
                                </f:if>
                            </f:for>

                            <f:if condition="{node.nodeType.name} == 'Phlu.Corporate:Page.FurtherEducation.Detail.Module'">
                                <f:if condition="{node.properties.lessons}">
                                    <tr>
                                        <td>
                                            Daten
                                            <div class="mobile-view-columns">
                                                <f:for each="{node.properties.lessons}" as="lesson">
                                                    {course:formatDate(datestring: lesson.DatumVon)} <span
                                                        class="delim">-</span> {course:formatDate(datestring:
                                                    lesson.DatumBis, type: 'hour')}<br/>
                                                </f:for>
                                            </div>
                                        </td>
                                        <td>
                                            <f:for each="{node.properties.lessons}" as="lesson">
                                                {course:formatDate(datestring: lesson.DatumVon)} <span
                                                    class="delim">-</span> {course:formatDate(datestring:
                                                lesson.DatumBis,
                                                type: 'hour')}<br/>
                                            </f:for>
                                        </td>
                                    </tr>
                                    <f:if condition="{region}">
                                        <tr>
                                            <td>
                                                Region
                                                <div class="mobile-view-columns">
                                                    {region}
                                                </div>
                                            </td>
                                            <td>
                                                {region}
                                            </td>
                                        </tr>
                                    </f:if>
                                </f:if>
                            </f:if>
                            <f:if condition="{node.nodeType.name} == 'Phlu.Corporate:Page.FurtherEducation.Detail.Study'">
                                <f:if condition="{course:Date(date: year.BookableUntil.date, format: 'Y')} > 1970">
                                    <f:if condition="{year.BookableUntil}">
                                        <tr>
                                            <td>
                                                Anmeldeschluss
                                                <div class="mobile-view-columns">
                                                    {course:Date(date: year.BookableUntil.date, format: 'd.m.Y')}
                                                </div>
                                            </td>
                                            <td>
                                                {course:Date(date: year.BookableUntil.date, format: 'd.m.Y')}
                                            </td>
                                        </tr>
                                    </f:if>
                                </f:if>
                                <tr>
                                    <td>
                                        Beginn

                                        <div class="mobile-view-columns">


                                            <f:if condition="{year.options -> f:count()} > 1">
                                                <f:then>
                                                    <div class="input-group-btn">
                                                        <button type="button"
                                                                class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <span>{year.StartText}</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <f:for each="{year.options}" as="option">
                                                                <li value="">
                                                                    <a href="{option.url}">
                                                                        <span>{option.value.StartText}</span>
                                                                    </a>
                                                                </li>
                                                            </f:for>
                                                        </ul>
                                                    </div>
                                                </f:then>
                                                <f:else>
                                                    <span>{year.StartText}</span>
                                                </f:else>
                                            </f:if>


                                        </div>
                                    </td>
                                    <td>
                                        <f:if condition="{year.options -> f:count()} > 1">
                                            <f:then>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default dropdown-toggle"
                                                            data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">

                                                        <span>{year.StartText}</span>

                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <f:for each="{year.options}" as="option">
                                                            <li value="">
                                                                <a href="{option.url}">
                                                                    <span>{option.value.StartText}</span>
                                                                </a>
                                                            </li>
                                                        </f:for>
                                                    </ul>
                                                </div>
                                            </f:then>
                                            <f:else>

                                                <span>{year.StartText}</span>

                                            </f:else>
                                        </f:if>
                                    </td>
                                </tr>
                                <f:if condition="{course:Date(date: year.End.date, format: 'Y')} > 1970">
                                    <tr>
                                        <td>
                                            Dauer
                                            <div class="mobile-view-columns">
                                                {course:Date(date: year.Start.date, format: 'd.m.Y')} -
                                                {course:Date(date: year.End.date, format: 'd.m.Y')}
                                            </div>
                                        </td>
                                        <td>
                                            {course:Date(date: year.Start.date, format: 'd.m.Y')} - {course:Date(date:
                                            year.End.date, format: 'd.m.Y')}
                                        </td>
                                    </tr>
                                </f:if>
                            </f:if>

                            <f:if condition="{node.nodeType.name} == 'Phlu.Corporate:Page.FurtherEducation.Detail.Module'">
                                <f:then>
                                    <f:if condition="{subsidizedFee} !== NULL">
                                        <tr>
                                            <td>
                                                Subventionierte Kosten
                                                <div class="mobile-view-columns">
                                                    {course:formatFee(fee: SubsidizedFee)}
                                                </div>
                                            </td>
                                            <td>
                                                {course:formatFee(fee: SubsidizedFee)}
                                            </td>
                                        </tr>
                                    </f:if>
                                    <f:if condition="{fee} !== NULL">
                                        <tr>
                                            <td>
                                                Kosten
                                                <div class="mobile-view-columns">
                                                    {course:formatFee(fee: fee)}
                                                </div>
                                            </td>
                                            <td>
                                                {course:formatFee(fee: fee)}
                                            </td>
                                        </tr>
                                    </f:if>
                                </f:then>
                                <f:else>

                                    <f:if condition="{subsidizedFee}">
                                        <tr>
                                            <td>
                                                Subventionierte Kosten
                                                <div class="mobile-view-columns">
                                                    {course:formatFee(fee: SubsidizedFee)}
                                                </div>
                                            </td>
                                            <td>
                                                {course:formatFee(fee: SubsidizedFee)}
                                            </td>
                                        </tr>
                                    </f:if>
                                    <f:if condition="{fee}">
                                        <tr>
                                            <td>
                                                Kosten
                                                <div class="mobile-view-columns">
                                                    {course:formatFee(fee: fee)}
                                                </div>
                                            </td>
                                            <td>
                                                {course:formatFee(fee: fee)}
                                            </td>
                                        </tr>
                                    </f:if>

                                </f:else>
                            </f:if>


                            <f:if condition="{materialCosts}">
                            <tr>
                                <td>
                                    Materialkosten
                                    <div class="mobile-view-columns">
                                        {materialCosts}
                                    </div>
                                </td>
                                <td>
                                    {materialCosts}
                                </td>
                            </tr>
                            </f:if>


                            <ts:render path="overviewRenderer" context="{node: overview}"/>
                            <f:if condition="{duration}">
                                <tr>
                                    <td>
                                        Kursdauer (Stunden)
                                        <div class="mobile-view-columns">
                                            {duration}
                                        </div>
                                    </td>
                                    <td>
                                        {duration}
                                    </td>
                                </tr>
                            </f:if>
                            <f:if condition="{year.StatusDescription}">
                                <tr>
                                    <td>
                                        Hinweis
                                        <div class="mobile-view-columns">
                                            {year.StatusDescription}
                                        </div>
                                    </td>
                                    <td>
                                        {year.StatusDescription}
                                    </td>
                                </tr>
                            </f:if>
                            <f:if condition="{holKursComment}">
                                <f:if condition="{isRequestable}">
                                <tr>
                                    <td>
                                        Kommentar zu Holkurs
                                        <div class="mobile-view-columns">
                                            {holKursComment}
                                        </div>
                                    </td>
                                    <td>
                                        {holKursComment}
                                    </td>
                                </tr>
                                </f:if>
                            </f:if>


                            </tbody>
                        </table>
                    </div>
                    <div class="shareAndRegister shareAndRegisterFurtherEducationDetail">

                        <f:if condition="{year.Bookable}">
                            <f:then>
                                <f:if condition="{year.RegistrationLinkLabel}">
                                    <f:then>
                                        <course:RegistrationButton label="{year.RegistrationLinkLabel}" url="{year.RegistrationLink}"
                                                                   identifier="1"></course:RegistrationButton>
                                    </f:then>
                                    <f:else>
                                        <course:RegistrationButton label="Anmelden" url="{year.RegistrationLink}"
                                                                   identifier="1"></course:RegistrationButton>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:if condition="{node.nodeType.name} == 'Phlu.Corporate:Page.FurtherEducation.Detail.Module'">
                                    <f:else>
                                        <f:if condition="{StatusLabel}">
                                            <f:then>
                                                <a>{StatusLabel}</a>
                                            </f:then>
                                            <f:else>

                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>

                        <a class="btn btn-primary share addthis_button" addthis:url="{{node.getUrl(true)}}"
                           addthis:title="{{node.getProperty('title')}}">
                            <img src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/wb-share-btn.svg')}"
                                 width="32" height="32" border="0" alt="Share"/>
                            <br>
                            <span class="shareText">
                                            Teilen
                                        </span>
                        </a>

                    </div>
                </div>
            </div>
        </f:if>
        <div class="row further-education-detail">
            <div class="col-xs-12">
                <ts:render path="collectionRenderer" context="{node: main}"/>
            </div>
        </div>

        <f:if condition="{hideContacts} == true">
            <f:else>
                <div class="row further-education-detail">
                    <div class="col-xs-12 phlu-team-members">
                        <h2 id="kontakt">Kontakt</h2>
                        <div class="row phlu-teaser navigation subpage">

                                <f:for each="{leaders}" as="leader">
                                    <div class="col-xs-12 col-md-6 nav-teaser-item">


                                        <div class="row">
                                            <div class="phlu-teaser-body col-xs-8">


                                                <address>
                                                    <b>{leader.Fullname}</b><br>
                                                    Leitung

                                                    <div class="telephone">
                                                        <f:if condition="{leader.Phone}">
                                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                                            {leader.Phone}<br>
                                                        </f:if>
                                                    </div>

                                                    <a class="content-link-email-contact-person"
                                                       href="mailto:{leader.Email}">{leader.Email}</a><br>
                                                    <f:if condition="{leader.eventoId}">
                                                        <portrait:link node="null" eventoId="{leader.eventoId}">Portrait
                                                        </portrait:link>
                                                    </f:if>
                                                </address>


                                            </div>

                                            <div class="phlu-teaser-caret-right col-xs-4">
                                                <f:if condition="{leader.ImgeUrl}">
                                                    <img src="{leader.ImgeUrl}" class="img-fluid"/>
                                                </f:if>
                                            </div>


                                        </div>
                                    </div>
                                </f:for>

                                <f:for each="{contacts}" as="leader">
                                    <div class="col-xs-12 col-md-6 nav-teaser-item">
                                        <div class="row">
                                            <div class="phlu-teaser-body col-xs-8">
                                                <address>
                                                    <b>{leader.Fullname}</b><br>
                                                    Administration
                                                    <f:if condition="{leader.Phone}">
                                                        <div class="telephone">
                                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                                            {leader.Phone}<br>
                                                        </div>
                                                    </f:if>
                                                    <a class="content-link-email-contact-person"
                                                       href="mailto:{leader.Email}">{leader.Email}</a><br>
                                                    <f:if condition="{leader.eventoId}">
                                                        <portrait:link node="null" eventoId="{leader.eventoId}">Portrait
                                                        </portrait:link>
                                                    </f:if>
                                                </address>
                                            </div>
                                            <div class="phlu-teaser-caret-right col-xs-4">
                                                <f:if condition="{leader.ImgeUrl}">
                                                    <img src="{leader.ImgeUrl}" class="img-fluid"/>
                                                </f:if>
                                            </div>
                                        </div>
                                    </div>
                                </f:for>

                        </div>
                        <hr>
                    </div>
                </div>
            </f:else>
        </f:if>
        <div class="row further-education-detail " id="anmeldung">
            <div class="col-xs-12 ">
                <h2>Anmeldung</h2>

                <div class="row registration">
                    <div class="col-xs-12">
                        <div class="greybgBody">
                            <div class="row">
                                <div class="col-sm-12 col-md-7 startDate">
                                    <div>
                                        Beginn
                                    </div>
                                    <div>
                                        <span>{year.StartText}</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-5">
                                    <div class="shareAndRegister shareAndRegisterFurtherEducationDetail">
                                        <f:if condition="{year.Bookable}">
                                            <f:then>
                                                <f:if condition="{year.RegistrationLinkLabel}">
                                                    <f:then>
                                                        <course:RegistrationButton label="{year.RegistrationLinkLabel}" url="{year.RegistrationLink}"
                                                                                   identifier="1"></course:RegistrationButton>
                                                    </f:then>
                                                    <f:else>
                                                        <course:RegistrationButton label="Anmelden" url="{year.RegistrationLink}"
                                                                                   identifier="1"></course:RegistrationButton>
                                                    </f:else>
                                                </f:if>
                                            </f:then>
                                            <f:else>
                                                <f:if condition="{StatusLabel}">
                                                    <f:then>
                                                        <a>{StatusLabel}</a>
                                                    </f:then>
                                                    <f:else>

                                                    </f:else>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                        <a class="btn btn-primary share addthis_button"
                                           addthis:url="{{node.getUrl(true)}}"
                                           addthis:title="{{node.getProperty('title')}}">
                                            <img src="{f:uri.resource(package: 'Phlu.Corporate', path: 'Images/wb-share-btn.svg')}"
                                                 width="32" height="32" border="0" alt="Share"/>
                                            <br>
                                            <span class="shareText">
                                            Teilen
                                        </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="further-education-order-button-float-top">


Startdatum:
            <f:if condition="{year.options -> f:count()} > 1">
                <f:then>
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <f:if condition="{course:Date(date: year.StartText, format: 'Y')} > 1970">
                                <f:then><span>{course:Date(date: year.StartText, format: 'd.m.Y')}</span>
                                </f:then>
                                <f:else><span>{year.StartText}</span></f:else>
                            </f:if>
                        </button>
                        <ul class="dropdown-menu">
                            <f:for each="{year.options}" as="option">
                                <li value="">
                                    <a href="{option.url}">
                                        <f:if condition="{course:Date(date: option.value.StartText, format: 'Y')} > 1970">
                                            <f:then><span>{course:Date(date: option.value.StartText, format: 'd.m.Y')}</span>
                                            </f:then>
                                            <f:else>
                                                <span>{option.value.StartText}</span>
                                            </f:else>
                                        </f:if>
                                    </a>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </f:then>
                <f:else>
                    <f:if condition="{course:Date(date: year.StartText, format: 'Y')} > 1970">
                        <f:then><span>{course:Date(date: year.StartText, format: 'd.m.Y')}</span>
                        </f:then>
                        <f:else><span>{year.StartText}</span></f:else>
                    </f:if>
                </f:else>
            </f:if>




            <div class="shareAndRegister">
                <a class="btn btn-primary share"
                   href="http://phlu.ch.phlu-eduweb5.nine.ch/forschung/projekte/2557/detail.html">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                    <br>
                    <span class="shareText">
                                            Teilen
                                        </span>
                </a>
                <f:if condition="{year.Bookable}">
                    <f:then>
                        <a class="btn btn-primary "
                           href="{year.RegistrationLink}">
                            Anmelden
                        </a>
                    </f:then>
                    <f:else>
                        <f:if condition="{StatusLabel}">
                            <f:then>
                                <a>{StatusLabel}</a>
                            </f:then>
                            <f:else>
                                <a>{year.StartText}</a>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </div>-->

    </f:if>
</course:getYear>