<div class="row">



    <div class="col-xs-12 col-lg-12">

        {breadcrumb -> f:format.raw()}

        <h1 class="page-header">{node.properties.title}</h1>

        <p class="flowtext lead">

            {lead -> f:format.raw()}
            Die PH Luzern bietet ein vielfältiges, kundenorientiertes und innovatives Angebot an Beratungsangeboten zu Optimierung von Bildungsprozessen.
        </p>

        <div class="row phlu-teaser navigation subpage" id="teasernavigation">
            <div class="col-xs-12 col-md-6 nav-teaser-item">
                <div class="row">
                    <a href="#" title="Studierende"></a>
                    <div class="phlu-teaser-body col-xs-10">

                        <h3>
                            Studierende
                        </h3>
                        <p>
                            Über 40 Fächer und Themen, in denen sich Studium, Lehre, Forschung und Weiterbildung
                            gegenseitig bereichern.
                        </p>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 nav-teaser-item">
                <div class="row">
                    <a href="beratungsangebote-lehrpersonen.php" title="Lehrpersonen"></a>
                    <div class="phlu-teaser-body col-xs-10">
                        <h3>
                            Lehrpersonen
                        </h3>
                        <p>
                            Studiengänge, pädagogische Grundlagen und praktische Infos zum Studium an der PH Luzern.

                        </p>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 nav-teaser-item">
                <div class="row">
                    <a href="#" title="Schulen"></a>
                    <div class="phlu-teaser-body col-xs-10">
                        <h3>
                            Schulen
                        </h3>
                        <p>
                            Forschung und Entwicklung bilden das wissenschaftliche Fundament der Lehrerbildung.
                            Zudem unterstützen und optimieren sie Bildungsprozesse.
                        </p>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 nav-teaser-item">
                <div class="row">
                    <a href="#" title="Gesellschaft"></a>
                    <div class="phlu-teaser-body col-xs-10">
                        <h3>
                            Gesellschaft
                        </h3>
                        <p>
                            Die Weiterbildung bietet Kurse, Studiengänge und Zusatzausbildungen für Lehrpersonen,
                            Schulleitungen sowie Fachpersonen und Organisationen an.
                        </p>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 nav-teaser-item">
                <div class="row">
                    <a href="#" title="Wirtschaft"></a>
                    <div class="phlu-teaser-body col-xs-10">
                        <h3>
                            Wirtschaft
                        </h3>
                        <p>
                            Beratung und Dienstleistungsangebote für Studierende, Lehrpersonen, Schulen,
                            Gesellschaft und Wirtschaft.
                        </p>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>