{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace phlu=Phlu\Neos\NodeTypes\ViewHelpers}
{namespace uri=Phlu\Corporate\ViewHelpers\Uri}

<f:if condition="{neos:rendering.inBackend()}">
    <f:if condition="{node.parent.nodeType.name} == 'Phlu.Corporate:Page.View.Dossier'">
        <f:then>
            <f:if condition="{sectionsCount}==0">
                <div id="neos-shortcut">
                    <div>
                        <ul>
                            <li><b>Dossier "{node.parent.properties.title}"</b><br>
                                Klicken Sie,
                                <neos:link.node node="{node.parent}">hier</neos:link.node>
                                um das Dossier weiter zu bearbeiten.
                            </li>
                            <li>
                                <b>Unterseite "{node.properties.title}"</b><br>
                                Klicken Sie <span class="link" onClick="$('#neos-shortcut').hide()">hier</span>, um
                                Inhalte der Unterseite
                                zu bearbeiten.
                            </li>
                        </ul>
                    </div>
                </div>
            </f:if>
        </f:then>
    </f:if>
</f:if>


<div class="row">
    <div class="col-xs-12 col-lg-12">
        {breadcrumb -> f:format.raw()}
    </div>
</div>


<f:switch expression="{teasertype}">
    <f:case value="News">
        <f:if condition="{date}">
            <div class="row">
                <div class="col-xs-12 flowtext-phlu-news detailview">
                    <div class="full-date">
                        <b>
                            <f:format.date forceLocale="de_CH" cldrFormat="d. MMMM yyyy">{date}</f:format.date>
                        </b>
                    </div>
                </div>
            </div>
        </f:if>
    </f:case>
    <f:case value="Event">
        <f:if condition="{fromDate}">
            <div class="row">
                <div class="col-xs-12 flowtext-phlu-event">
                    <div class="row {f:if(condition: '{neos:rendering.inBackend()}', then: '', else: 'clickable')}">
                        <div class=" col-xs-12">
                            <f:if condition="{eventType} == 'isEvent'">
                                <div class="initial">
                                    <f:format.date format="d">{fromDate}</f:format.date>
                                    .
                                </div>
                            </f:if>
                            <f:if condition="{eventType} == 'isExhibition'">
                                <div class="initial exhibition">
                                    A
                                    <div class="description">
                                        Ausstellung
                                    </div>
                                </div>
                            </f:if>
                            <f:if condition="{eventType} == 'isMeeting'">
                                <div class="initial meeting">
                                    T
                                    <div class="description">
                                        Tagung
                                    </div>
                                </div>
                            </f:if>

                            <div class="date-location-title">

                                <f:if condition="{eventType} == 'isExhibition'">
                                    <f:then>
                                        <b>
                                            <f:format.date format="d. F Y">{fromDate}</f:format.date>
                                            -
                                            <f:format.date format="d. F Y">{toDate}</f:format.date>
                                        </b>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{eventType} == 'isMeeting'">
                                            <f:then>
                                                <b>
                                                    <f:format.date format="d. F Y">{fromDate}</f:format.date>
                                                    -
                                                    <f:format.date format="d. F Y">{toDate}</f:format.date>
                                                </b>
                                            </f:then>
                                            <f:else>
                                                <b>
                                                    <f:format.date format="F Y">{fromDate}</f:format.date>
                                                </b>
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                                <br>{location}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </f:if>
    </f:case>
</f:switch>


<div class="row">
    <div class="col-xs-12 col-lg-12">
        <ts:render path="defaultRenderer" context="{node: header}"/>
    </div>
</div>
{widgetRenderer -> f:format.raw()}

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <f:if condition="{hasanchornavigation}">
            <f:if condition="{sectionsCount}>1">
                <ul class="nav nav-pills">
                    <f:for each="{sections}" as="item" iteration="iterator">
                        <li class="{f:if(condition: iterator.isFirst, then: 'active', else: '')}">
                            <a class="nav-item nav-link anchor-nav"
                               href="#node-{item.Identifier}"><f:format.stripTags>{item.properties.title}</f:format.stripTags></a>
                        </li>
                    </f:for>
                    <f:if condition="{contactIsHidden}">
                        <f:else>
                            <li>
                                <a class="nav-item nav-link anchor-nav"
                                   href="#contactperson">Kontakt</a>
                            </li>
                        </f:else>
                    </f:if>
                </ul>
                <div class="anchors-mobile-view">
                    <ul>
                        <f:for each="{sections}" as="item" iteration="iterator">
                            <li >
                                <a class="nav-item nav-link anchor-nav" href="#node-{item.Identifier}"><f:format.stripTags>{item.properties.title}</f:format.stripTags></a>
                            </li>
                        </f:for>
                        <f:if condition="{contactIsHidden}">
                            <f:else>
                                <li>
                                    <a class="nav-item nav-link anchor-nav" href="#contactperson">Kontakt</a>
                                </li>
                            </f:else>
                        </f:if>
                    </ul>
                </div>
            </f:if>
        </f:if>
    </div>
</div>

<f:if condition="{showCarousel}">
    <f:then>
        <ts:render path="defaultRenderer" context="{node: carouselnews}"/>
    </f:then>
</f:if>

<f:if condition="{node.properties.moodimage}">
    <div class="row ambient-img-body"
         style="background-image: url('{media:uri.image(image: node.properties.moodimage)}')">
    </div>
</f:if>
<div class="row">
    <div class="col-xs-12 col-lg-12">
        <ts:render path="collectionRenderer" context="{node: main}"/>
        <f:if condition="{tagsMenu}">
            <ts:render path="collectionRenderer" context="{node: tagsMenu}"/>
        </f:if>
    </div>
</div>


<f:if condition="{contact}">
    <ts:render path="defaultRenderer" context="{node: contact}"/>
</f:if>

