{namespace ts=TYPO3\TypoScript\ViewHelpers}

<div class="row">

    <div class="col-xs-12 col-lg-12">


        <div class="row " id="anchornavigation">
            <div class="col-xs-12 col-lg-12">
                {breadcrumb -> f:format.raw()}

                <ts:render path="defaultRenderer" context="{node: header}"/>

                {onePageMenu -> f:format.raw()}

            </div>
        </div>
    </div>



    <ts:render path="defaultRenderer" context="{node: carouselnews}" />


    {onePageContent -> f:format.raw()}

    <div class="row" id="accordion-komponente-xy">
        <div class="col-xs-12">
            <div id="phlu-accordion" class="phlu-accordion" role="tablist" aria-multiselectable="true">
                <ts:render path="collectionRenderer" context="{node: main}"/>
            </div>
        </div>
    </div>



    <ts:render path="defaultRenderer" context="{node: contact}"/>


    <ts:render path="defaultRenderer" context="{node: targetgroup}"/>



</div>


<div class="row ambient-img-footer"></div>