{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}


<div class="row">

    <div class="col-xs-12 col-lg-12">

        <div class="row" id="anchornavigation">

            <div class="col-xs-12 col-lg-12">
                {breadcrumb -> f:format.raw()}
             </div>

             <div class="col-xs-12 col-lg-12">

                <ts:render path="defaultRenderer" context="{node: header}"/>

                <ul class="nav nav-pills anchors-desktop-view">
                        <f:for each="{sections}" as="item" iteration="iterator">
                            <li class="{f:if(condition: iterator.isFirst, then: 'active', else: '')}">
                                <a class="nav-item nav-link anchor-nav" href="#node-{item.Identifier}"><f:format.stripTags>{item.properties.title}</f:format.stripTags></a>
                            </li>
                        </f:for>

                    </ul>


                <ts:render path="collectionRenderer" context="{node: main}"/>


            </div>

        </div>
    </div>

</div>