{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace phlu=PHLU\Neos\NodeTypes\ViewHelpers}


<div class="row">

    <div class="col-xs-12 col-xl-8">

        {breadcrumb -> f:format.raw()}

        <ts:render path="defaultRenderer" context="{node: header}"/>

        {filterTags -> f:format.raw()}

        <ts:render path="collectionRenderer" context="{node: onepage}"/>

        <ts:render path="collectionRenderer" context="{node: main}"/>


    </div>

</div>

