{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace phlu=PHLU\Neos\NodeTypes\ViewHelpers}


<div class="row">

    <div class="col-xs-12 phlu-team-members">

        {breadcrumb -> f:format.raw()}


        <h3>Leitungsteam</h3>


        <div class="row phlu-teaser navigation subpage" id="teasernavigation">
            <div class="col-xs-12 col-md-6 nav-teaser-item">
                <div class="row">
                    <a href="#" title="Studierende"></a>
                    <div class="phlu-teaser-body col-xs-10">
                        <h3>
                            Prorektor Weiterbildung
                        </h3>
                        <div class="personName">
                            Prof. Dr. rer. pol Jürg Arpagaus
                        </div>
                        <p>
                            T 041 228 54 91<br>
                            <a href="mailto:janine.gut@phlu.ch" >
                                janine.gut@phlu.ch
                            </a>
                        </p>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                        <a href="#" class="emailLink">&nbsp;</a>
                        <a href="#" class="portraitLink">&nbsp;</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 nav-teaser-item">
                <div class="row">
                    <a href="#" title="Studierende"></a>
                    <div class="phlu-teaser-body col-xs-10">

                        <h3>
                            Abteilungsleiter Erwachsenenbildung
                        </h3>
                        <div class="personName">
                            lic. phil. Donatus Berlinger
                        </div>
                        <p>
                            T 041 228 33 57<br>
                            <a href="mailto:janine.gut@phlu.ch" >
                                janine.gut@phlu.ch
                            </a>
                        </p>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                        <a href="#" class="emailLink">&nbsp;</a>
                        <a href="#" class="portraitLink">&nbsp;</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 nav-teaser-item">
                <div class="row">
                    <a href="#" title="Studierende"></a>
                    <div class="phlu-teaser-body col-xs-10">

                        <h3>
                            Leiter Zentrum Gesundheitsförderung
                        </h3>
                        <div class="personName">
                            Titus Bürgisser
                        </div>
                        <p>
                            T 041 228 69 51<br>
                            <a href="mailto:janine.gut@phlu.ch" >
                                janine.gut@phlu.ch
                            </a>
                        </p>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                        <a href="#" class="emailLink">&nbsp;</a>
                        <a href="#" class="portraitLink">&nbsp;</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 nav-teaser-item">
                <div class="row">
                    <a href="#" title="Studierende"></a>
                    <div class="phlu-teaser-body col-xs-10">
                        <h3>
                            Abteilungsleiterin Berufs- und Weiterbildung S2 und Tertiär
                        </h3>
                        <div class="personName">
                            Dr. phil. Janine Gut
                        </div>
                        <p>
                            T 041 228 54 16<br>
                            <a href="mailto:janine.gut@phlu.ch" >
                                janine.gut@phlu.ch
                            </a>
                        </p>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                        <a href="#" class="emailLink">&nbsp;</a>
                        <a href="#" class="portraitLink">&nbsp;</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 nav-teaser-item detailview">
                <div class="row">
                    <a href="#" title="Studierende"></a>
                    <div class="phlu-teaser-body details col-xs-10">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/portraitimgtest.jpg')}"
                                     title="Dummy image"
                                     alt="Dummy image" class="img-fluid" />
                            </div>
                            <div class="col-xs-7">
                                <div class="personName">
                                    Dr. phil. Janine Gut
                                </div>
                                <p>
                                    Frohburgstrasse 3<br>
                                    Postfach<br>
                                    6002 Luzern<br>
                                    T 041 228 54 16<br>
                                    <a href="mailto:janine.gut@phlu.ch" >
                                        janine.gut@phlu.ch
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="phlu-teaser-caret-right col-xs-2">
                        <a href="#" class="emailLink">&nbsp;</a>
                        <a href="#" class="portraitLink">&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row panel-heading">
            <div class="col-sm-6">
                Bucher Emmenegger Melanie
            </div>
            <div class="col-sm-4">
                T 041 228 45 31

            </div>
            <div class="col-sm-2">
                <a class="panel-email" href="mailto:melanie.bucher@phlu.ch">
                &nbsp;
                </a>
                <a class="panel-switch" href="#">&nbsp;</a>
            </div>
        </div>

        <div class="row panel-heading">
            <div class="col-sm-6">
                Küng Roger
            </div>
            <div class="col-sm-4">
                T 041 228 69 43
            </div>
            <div class="col-sm-2">
                <a class="panel-email" href="mailto:roger.kueng@phlu.ch">
                    &nbsp;
                </a>
                <a class="panel-switch collapsed" href="#">&nbsp;</a>
            </div>
        </div>
        <div class="row panel-body">
            <div class="col-sm-2">
                <img src="{f:uri.resource(package: 'PHLU.Corporate', path: 'Images/portraitBildTest.jpg')}" title="Dummy image"
                     alt="Dummy image" class="img-fluid"/>
            </div>
            <div class="col-sm-10">
                <address>
                    Küng Roger <br>
                    BA of Arts UZH <br>
                    Frohburgstrasse 3 <br>
                    Postfach <br>
                    6002 Luzern <br>
                    041 228 45 31 <br>
                    <a href="mailto:roger.kueng@phlu.ch">
                        roger.kueng@phlu.ch
                    </a>
                </address>
            </div>
        </div>
    </div>
</div>

