{namespace ts=TYPO3\TypoScript\ViewHelpers}

<div class="row">

    <div class="col-xs-12 col-lg-12">
        <div class="row ">
            <div class="col-xs-12 col-lg-12">
                {breadcrumb -> f:format.raw()}
            </div>
        </div>

        <div class="row ">

            <div class="col-xs-12 col-lg-12">
                <ts:render path="defaultRenderer" context="{node: header}"/>
                {onePageMenu -> f:format.raw()}
            </div>
        </div>
    </div>


</div>

<f:if condition="{ishidden}">
<f:else><ts:render path="defaultRenderer" context="{node: carouselnews}"/></f:else>
</f:if>

{onePageContent -> f:format.raw()}


<f:if condition="{mainVisible}">
    <f:then>
        <div class="row">
            <div class="col-xs-12">
                <div id="phlu-accordion" class="phlu-accordion" role="tablist" aria-multiselectable="true">
                    <ts:render path="collectionRenderer" context="{node: main}"/>
                </div>
            </div>
        </div>
    </f:then>
</f:if>


<ts:render path="defaultRenderer" context="{node: contact}"/>


<ts:render path="defaultRenderer" context="{node: targetgroup}"/>


<div class="row ambient-img-footer"></div>